<div class="exam-details-wrapper">
  <div class="exam-date-block">
    <mat-icon class="date-icon">insert_invitation</mat-icon>
    <div class="date-block-wrapper">
      <div class="date-details">
        <small class="date">
          {{ exam.date | date: "EEEE, dd.MM.yyyy" }}
        </small>
        <small class="days-left" *ngIf="(exam.date | daysLeft) !== null">
          {{ exam.date | daysLeft }}
        </small>
      </div>
      <button
        class="fe-button show-lessons-btn"
        (click)="showLessons()"
        [class.is-open]="lessonsVisible"
        [isLoading]="isLoading"
        matRipple
      >
        {{ lessonsVisible ? "Lektionen ausblenden" : "Lektionen anzeigen" }}
      </button>
    </div>
  </div>
  <div class="exam-title-wrapper">
    <p class="exam-subject" [innerHTML]="exam.subject | longSubjectName"></p>
    <p class="exam-title">{{ exam.title }}</p>
  </div>
</div>
<div class="post-links-container" *ngIf="lessonsVisible && examLessons" @slide>
  <div class="post-link-wrapper" *ngFor="let lesson of examLessons; let i = index">
    <hr class="horizontal-line" />
    <hr class="vertical-line" />
    <fe-post-link [post]="lesson"></fe-post-link>
  </div>
  <fe-loading-spinner *ngIf="lessonsVisible && examLessons === undefined"></fe-loading-spinner>
</div>
