<fe-card class="user-progress" title="Fortschritt">
  <div class="current-lesson">
    <p class="label">Lektion {{ lessonProgress }} von {{ lessonLength }}</p>
    <mat-progress-bar [value]="dashboard?.lessonsPercentage"></mat-progress-bar>
  </div>

  <div class="current-week">
    <p class="label">Schulwoche {{ weekProgress }} von {{ weekLength }}</p>
    <mat-progress-bar [value]="schoolWeekPercentage"></mat-progress-bar>
  </div>

  <fe-post-link *ngIf="dashboard?.nextLesson" [post]="dashboard?.nextLesson" title="Nächste Lektion"></fe-post-link>
  <ngx-skeleton-loader *ngIf="!dashboard?.nextLesson" animation="progress" appearance="line"></ngx-skeleton-loader>
</fe-card>
