<div class="page subjects">
  <mat-card class="fe-card">
    <p class="fe-card-title">Themen</p>
    <fe-loading-spinner *ngIf="subject === undefined"></fe-loading-spinner>
    <mat-card-content *ngIf="subject !== undefined">
      <div class="topic-description" *ngIf="subject.description !== undefined">
        <fe-post-element *ngFor="let el of subject.description" [element]="el"></fe-post-element>
      </div>
      <div class="fe-topic" *ngFor="let topic of subject.topics">
        <p class="fe-topic-title">{{topic.title}}</p>
        <div class="fe-links">
          <fe-post-link *ngFor="let post of topic.links" [post]="post"></fe-post-link>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="fe-card" *ngIf="subject && subject.tests !== undefined">
    <p class="fe-card-title">Tests</p>
    <mat-card-content>
      <div class="fe-test-container">
        <fe-post-link *ngFor="let post of subject.tests" [post]="post"></fe-post-link>
      </div>
    </mat-card-content>
  </mat-card>
</div>
