@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-card-title {
  margin-bottom: 20px;
}

.fia-page {
}

.topic-description {
  color: var(--grey-4);
}

.fia-topic {
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .fia-topic-title {
    display: flex;
    font-size: 1.1em;
    line-height: 20px;
    border-bottom: 1px solid var(--grey-1);
    background: var(--background-secondary);
    border-top-left-radius: var(--button-radius);
    border-top-right-radius: var(--button-radius);

    @include from-md {
      text-align: center;
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0;
      padding: 8px 12px;

      @include from-sm {
        flex-shrink: 0;
      }

      @include to-sm {
        min-width: 150px;
      }
    }

    hr {
      min-width: 30px;
      height: 1px;
      align-self: center;
      border: none;
      background-color: var(--grey-1);
      margin: 0;

      @include to-md {
        display: none;
      }
    }
  }

  .fia-links {
    margin-top: 10px;
  }
}

.fia-test-container {

}
