@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-card-title {
  margin-bottom: 20px;
}

.fia-page {
}

.topic-description {
  display: inline-flex;
  flex-flow: wrap;
  margin-bottom: 10px;

  > app-post-element:not(:first-of-type) {
    margin-right: 40px;
  }

  app-post-element ::ng-deep {
    p:first-of-type {
      margin-top: 0;
    }

    ul {
      margin-top: 0;
    }

    .post-ul-content {
      margin-bottom: 2px;
      text-decoration: underline;
    }
  }
}

.fia-topic {
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .fia-topic-title {
    padding: 8px 12px;
    line-height: 20px;
    border-bottom: 1px solid var(--grey-1);
    font-family: Nunito-Bold, sans-serif;
    background: var(--background-secondary);
    border-top-left-radius: var(--button-radius);
    border-top-right-radius: var(--button-radius);

    @include from-md {
      margin-bottom: 0;
    }
  }

  .fia-links {
    margin-top: 10px;
  }
}

.fia-test-container {

}
