<div class="fia-page">
  <mat-card class="fia-card">
    <p class="fia-card-title">Themen</p>
    <mat-spinner class="fia-loading-spinner" *ngIf="subject === undefined"></mat-spinner>
    <mat-card-content *ngIf="subject !== undefined">
      <div class="fia-topic" *ngFor="let topic of subject.topics">
        <h2 class="fia-topic-title">
          <hr class="fia-topic-divider"/>
          <p>{{topic.title}}</p>
          <hr class="fia-topic-divider"/>
        </h2>
        <div class="fia-links">
          <a class="fia-link-item" *ngFor="let post of topic.links" [routerLink]="post.url">
            <p class="fia-link-title">{{post.title}}</p>
            <div class="fia-description-row">
              <p class="fia-link-description">{{post.description}}</p>
              <app-post-badge [post]="post"></app-post-badge>
            </div>
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
