<a
  class="nav-link"
  *ngIf="routerLink"
  mat-list-item
  disableRipple
  [disabled]="disabled"
  [class.active-route]="router.url.startsWith(item.url)"
  [routerLink]="'/' + item.url"
>
  <ion-icon class="nav-item-icon" [icon]="outlineOrSolidIcon"></ion-icon>
  <span [innerHTML]="item.title"></span>
</a>
<a
  class="nav-link"
  *ngIf="hrefLink"
  mat-list-item
  disableRipple
  [disabled]="disabled"
  [class.active-route]="router.url.startsWith(item.url)"
  [href]="item.url"
  target="_blank"
>
  <ion-icon class="nav-item-icon" [icon]="outlineOrSolidIcon"></ion-icon>
  <span [innerHTML]="item.title"></span>
</a>
