.fe-content {
  .fe-page-footer {
    height: fit-content;
    position: relative;
    background: var(--background-primary);
    padding: 35px 20px;
    border-top-left-radius: var(--border-radius);

    @include moveInTopAnimation;

    @include to-xs {
      padding: 20px 0 60px;
    }

    .fe-labels-wrapper {
      display: flex;
      width: 100%;
      max-width: 1080px;
      justify-content: space-between;
      z-index: 3;
      padding: 0 5px;

      @include to-xs {
        padding: 0 20px;
        height: 120px;
      }
    }

    .fe-logo {
      .fe-icon-wrapper {
        fill: var(--grey-2);
      }
      .fe-app-name {
        color: var(--grey-2);
      }
    }

    .buttons {

      @include to-md {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: 30px;
        letter-spacing: 1px;

        a {
          line-height: 26px;
        }
      }

      .legal, .about, .feedback, .start {
        outline: none;
      }

      .footer-divider {
        margin: 0 8px;

        @include to-md {
          display: none;
        }
      }
    }
  }

}
