.fe-content {
  .router-loader {
  }

  .page-footer {
    height: fit-content;
    position: relative;
    background: var(--background-primary);
    padding: 35px 20px;
    border-top-left-radius: var(--border-radius);

    @include moveInTopAnimation;

    @include to-xs {
      padding: 20px 0 60px;
    }

    .labels-wrapper {
      display: flex;
      width: 100%;
      max-width: 1080px;
      justify-content: space-between;
      z-index: 3;
      padding: 0 5px;

      @include to-xs {
        padding: 0 20px;
        height: 120px;
      }
    }

    .fe-logo {
      .fe-icon-wrapper {
        fill: var(--grey-2);
      }
      .fe-app-name {
        color: var(--grey-2);
      }
    }

    .footer-buttons {
      @include to-md {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: 30px;
        letter-spacing: 1px;
      }

      a {
        outline: none;
        font-size: 0.9rem;
        font-weight: 300;

        @include to-md {
          font-size: 0.8rem;
          line-height: 26px;
        }

        &.is-active {
          color: var(--text-color-3);
          text-decoration: none;
        }
      }

      .footer-divider {
        margin: 0 8px;
        font-weight: 100;

        @include to-md {
          display: none;
        }
      }
    }
  }
}
