fe-header.fe-header {
  box-shadow: var(--box-shadow);
  z-index: 3;
}

fe-header.fe-header .mat-toolbar {
  height: 80px;
  width: 100%;
  background: -moz-linear-gradient(left, var(--background-primary) 0%, var(--background-secondary) 100%);
  background: -webkit-linear-gradient(left, var(--background-primary) 0%, var(--background-secondary) 100%);
  background: linear-gradient(to left, var(--background-primary) 0%, var(--background-secondary) 100%);
  justify-content: space-between;
  transition: height 250ms ease-out;

  .header-items {
    display: flex;
    width: 100%;
    max-width: 1350px;
  }

  @include from-md {
    padding: 0 20px;
  }

  @include to-xs {
    height: 60px;
    padding: 0 5px;
  }

  .fe-header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .fe-page-title {
      display: flex;
      align-items: center;
      margin-left: 10px;
      margin-right: 10px;
      padding: 6px 10px;

      color: var(--text-color-1);
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: 1px;

      @include to-md {
        flex-shrink: 1;
      }

      @include to-xs {
        margin-left: 3px;
        padding: 0;
      }

      @include to-tiny {
        font-size: .9em;
      }

      .title {
        margin-top: 2px;
        margin-bottom: 0;
        white-space: pre-line;
        line-height: 16px;
        text-align: center;

        @include from-xs {
          padding: 0 5px;
          margin-top: 3px;
        }

        @include to-xs {
          padding: 0 3px;
        }
      }

      .bracket {
        font-size: 1.3em;
        font-family: Nunito-Light, sans-serif;
        color: var(--primary-color);

        @include to-xs {
          font-size: 1.2em;
        }

        &:first-of-type {
          margin-right: 1px;
        }

        &:last-of-type {
          margin-left: 1px;
        }
      }
    }
  }
}

fe-header.fe-header .mat-toolbar .fe-header-elements-wrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  z-index: 2;

  .fe-button-container {
    display: flex;
    line-height: normal;
    color: var(--tertiary-color);
    align-items: center;

    .fe-text-button {
      transition: var(--header-button-transition);
    }

    .fe-menu-btn {
      margin-left: 0;
      margin-right: 0;
      transition: var(--header-button-transition);

      @include from-xs {
        &:hover {
          background-color: var(--button-hover-background);
        }
      }

      @include to-md {
        margin-right: 10px;
      }
    }

    $btn-color: #19bc8b;
    $btn-shadow: #{adjust-hue($btn-color, 45deg)};

    .dashboard-btn {
      padding: 8px 14px 6px;
      margin-left: 10px;
      margin-right: 20px;
      outline: none;

      color: var(--tertiary-color);
      font-size: .9rem;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1px;

      &.active-route {
        border-color: var(--secondary-color);

        h1, span {
          &:before,
          &:after {
            opacity: 1;
            transform: translateY(2px);
          }
        }
      }

      @include to-md {
        padding: 5px 8px;
      }

      @include to-xs {
        display: none;
      }
    }

    .fe-sidenav-hamburger-btn,
    .fe-admin-panel-btn {
      margin-top: 5px;

      @include from-xs {
        margin-right: 15px;
      }

      @include to-xs {
        margin-right: 5px;
      }
    }

    .fe-admin-panel-btn {
      margin-top: 0;
    }

    .fe-sidenav-hamburger-btn {
      margin-top: 0;
    }
  }
}

fe-header.fe-header .mat-toolbar .fe-logo-wrapper {
  display: flex;
  justify-content: left;
  background: transparent;
  font-size: 1em;
  text-decoration: none;
  padding: 8px 13px;
  flex-shrink: 0;
  align-items: center;

  @include from-md {
    width: 196px;
  }

  @include to-md {
    width: 158px;
  }

  @include to-xs {
    width: fit-content;
    height: 36px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    fill: var(--tertiary-color);
  }

  .fe-icon-wrapper {

    @include to-xs {
      width: 28px;
      margin-right: 0;
    }
  }

  .fe-app-name {
    @include to-xs {
      display: none;
    }
  }

  &.active-route {
    .fe-icon-wrapper {
      fill: var(--secondary-color);
    }
  }

  &:hover .fe-app-name {
    letter-spacing: 1px;
    transition: letter-spacing 500ms ease-out;
  }
  &:active .fe-app-name {
    letter-spacing: .5px;
  }

  .fe-app-name {
    @include to-xs {
      display: none;
    }
  }
}

mat-toolbar.fe-header-toolbar.mat-toolbar .fe-logo-wrapper {
  &:hover, &:focus {
    .fe-icon-wrapper:not(.active-route) {
      @include from-md {
        fill: var(--secondary-color);
        transition: 150ms;
      }
    }
  }

  &:focus {
    outline: none;
  }
}

.cdk-overlay-container .fe-more-menu {
  background-color: var(--background-primary);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  .fe-menu-button .label {
    color: var(--text-color-1);
    padding-right: 5px;
  }

  .fe-menu-button mat-icon {
    color: var(--tertiary-color) !important;
  }

  .mat-menu-item:hover {
    background: rgba(var(--secondary-color-rgb), .8);

    mat-icon {
      color : var(--background-primary) !important;
    }
  }

  .mat-ripple-element {
    background-color: rgba(var(--background-primary-rgb),.2);
  }

  .mat-menu-item[disabled] {
    mat-icon {
      color: var(--secondary-color) !important;
    }

    .label {
      color: var(--text-color-3);
    }
  }
}

fe-header.fe-header .mat-toolbar .fe-searchbar-wrapper {
  margin-left: 20px;

  @include to-md {
    display: none;
  }

  mat-spinner.fe-loading-spinner.mat-spinner {
    $size: 16px;
    width: $size !important;
    height: $size !important;
    margin-right: 6px !important;

    svg {
      width: $size !important;
      height: $size !important;

      circle {
        stroke: var(--tertiary-color);
        stroke-width: 6px !important;
      }
    }
  }

  $searchbar-height: 33px;
  .fe-search-bar {
    height: $searchbar-height;
    width: 200px;
    border-bottom: 1px solid rgba(var(--tertiary-color-rgb), .3);
    border-top-left-radius: var(--button-radius);
    border-top-right-radius: var(--button-radius);
    transition: var(--header-button-transition);

    @include to-lg {
      width: 180px;
    }

    @include to-md {
      display: none;
    }

    &:hover, &.mat-form-field-should-float {
      background-color: var(--button-hover-background);
    }

    .mat-form-field-outline {
      opacity: 1;
      color: var(--grey-3);
    }
    .mat-form-field-wrapper {
      .mat-form-field-flex {
        background: transparent;
        padding: 0 1rem;
        height: $searchbar-height;
        align-items: center;
      }
      .mat-form-field-infix {
        padding: 0;
        border-top: 0;

        input {
          font-size: .9rem;
          vertical-align: middle;
          color: var(--text-color-1);

          &::placeholder {
            color: var(--text-color-3);
            opacity: 1; // firefox adds a lower opacity to the placeholder, reset to 1
          }
        }
      }

      .mat-form-field-suffix {
        text-align: end;

        .mat-icon {
          font-size: 1.3rem;
          line-height: 1.8rem;
          color: var(--tertiary-color);
          cursor: pointer;
        }
      }

      .mat-form-field-underline {
        display: none;
      }
    }
  }
}

fe-header.fe-header .mat-toolbar .fe-searchbar-wrapper.is-searching {
  .fe-search-bar {
    border-bottom: 1px solid var(--secondary-color);
  }
}

fe-header.fe-header .fe-header-toolbar {
  position: relative;
}

fe-header.fe-header .fe-header-progress-bar {
  height: var(--progressbar-height);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 999;

  .mat-progress-bar-fill::after {
    background-color: var(--primary-color);
  }
  .mat-progress-bar-buffer {
    background: #b3cbe7;
  }
}

.scrolled {
  fe-header.fe-header .fe-header-toolbar {
    height: 60px;
    transition: height 300ms ease-out;

    @include to-xs {
      height: 50px;
    }
  }
}


.is-mobile fe-header.fe-header .mat-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 999;
}
