fe-header.fe-header {
  z-index: 3;
}

.mat-toolbar.scrolled {
  @include to-md {
    box-shadow: var(--box-shadow);
  }
}

fe-header.fe-header .mat-toolbar {
  height: 80px;
  width: 100%;
  justify-content: space-between;
  background-color: var(--background-secondary);
  position: relative;
  transition: height 200ms ease-out, background-color 100ms ease-out, box-shadow 100ms ease-out;

  @include from-md {
    padding: 0 20px;
  }

  @include to-md {
    background-color: var(--background-primary);
  }

  @include to-xs {
    height: 60px;
    padding: 0 5px;
  }

  .header-wrapper {
    display: flex;
    width: 100%;
    max-width: calc(220px + var(--max-width));
    justify-content: space-between;

    @include to-xs {
      &:not(.sidenav--open) .header-content {
        width: 100%;
      }
    }

    .header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include from-xs {
        width: 100%;
      }

      .page-title {
        display: flex;
        align-items: center;
        color: var(--tertiary-color);
        font-weight: 200;
        letter-spacing: 1px;
        @include titleMoveInRightAnimation;

        @include to-md {
          flex-shrink: 1;
        }

        @include to-xs {
          font-size: .8em;
          margin-left: 0;
          padding: 0;
        }

        mat-icon {
          transform: scale(.8);
          color: var(--text-color-3);
        }

        .title {
          font-weight: 300;
          text-transform: uppercase;
          line-height: 12px;
          white-space: pre-line;

          text-align: left;
          margin-top: 2px;
          margin-bottom: 0;

          @include from-md {
            margin-left: 5px;
          }
        }
      }

      .header-elements-wrapper {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        z-index: 2;

        .search-bar-form-field.mat-focused, .search-bar-form-field:hover {
          background-color: var(--button-hover-background);
          transition: none;
        }

        .button-container {
          display: flex;
          line-height: normal;
          color: var(--tertiary-color);
          align-items: center;

          @include to-md {
            margin-right: 10px;
          }

          .sidenav-btn, .more-menu-btn {
            &.is-active {
              background: rgba(var(--tertiary-color-rgb), 0.1);
            }
          }

          .sidenav-btn {
            margin-top: 0;

            @include from-xs {
              margin-right: 15px;
            }

            @include to-xs {
              margin-right: 5px;
            }

            .mat-icon {
              @include to-xs {
                font-size: 1.2rem;
              }
            }
          }

          .dashboard-btn {
            padding: 8px 14px 6px;
            margin-left: 10px;
            margin-right: 20px;
            outline: none;

            color: var(--tertiary-color);
            text-align: center;
            text-decoration: none;
            letter-spacing: 1px;

            &.active-route {
              border-color: var(--secondary-color);

              h1, span {
                &:before,
                &:after {
                  opacity: 1;
                  transform: translateY(2px);
                }
              }
            }

            @include to-md {
              padding: 5px 8px;
            }

            @include to-xs {
              display: none;
            }
          }

          .more-menu-btn {
            margin-left: 0;
            margin-right: 0;
            transition: background-color 100ms ease-in-out;

            @include from-xs {
              &:hover {
                background-color: var(--button-hover-background);
                transition: none;
              }
            }

            .mat-icon {
              @include to-xs {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }

  .header-progress-bar {
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;

    .mat-progress-bar-fill::after {
      background-color: var(--tertiary-color);
    }
    .mat-progress-bar-buffer {
      @include from-xs {
        background: var(--background-secondary);
      }

      @include to-xs {
        background: var(--background-primary);
      }
    }
  }
}

.page-container {
  &.scrolled fe-header.fe-header .header-toolbar {
    height: 65px;
    transition: height 200ms ease-out, background-color 100ms ease-out, box-shadow 100ms ease-out;
    background-color: var(--background-primary);
    box-shadow: var(--box-shadow);
  }

  &.is-mobile fe-header.fe-header .header-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 999;
  }
}
