.page-container.is-mobile {
  fe-header.fe-header .header-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 999;
  }
}

fe-header.fe-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 333;
}

mat-sidenav-container.mat-drawer-container {

  .fe-content, .sidenav-content {
    @include from-xs {
      padding-top: 64px;
    }

    @include to-xs {
      padding-top: 50px;
    }
  }
}

fe-header.fe-header .mat-toolbar {
  width: 100%;
  justify-content: space-between;
  background: linear-gradient(rgba(var(--tertiary-color-rgb), .75) 0%, rgba(var(--tertiary-color-rgb), .25) 100%);
  position: relative;
  backdrop-filter: blur(3px);
  transition: backdrop-filter 200ms ease-out;

  @include from-md {
    padding: 0 20px;

    &:hover {
      backdrop-filter: blur(5px);
    }
  }

  @include to-xs {
    padding: 0 5px;

    &:not(.sidenav--open) .header-content {
      width: 100%;
    }
  }

  &.sidenav--open {

    &::before {
      content: ""; // ::before and ::after both require content
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .6;
      background: var(--background-primary);
      mix-blend-mode: soft-light;
    }
  }

  .header-wrapper {
    display: flex;
    width: 100%;
    max-width: calc(200px + var(--max-width));
    justify-content: space-between;

    .page-title .title,
    .dashboard-btn,
    .sidenav-btn,
    .more-menu-btn {
      color: white;
    }

    .header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include from-xs {
        width: 100%;
      }

      .page-title {
        display: flex;
        align-items: center;
        font-weight: 400;
        letter-spacing: 1px;
        @include titleMoveInRightAnimation;

        @include to-md {
          flex-shrink: 1;
        }

        @include to-xs {
          font-size: .8em;
          margin-left: 0;
          padding: 0;
        }

        mat-icon {
          color: var(--tertiary-color);
          transform: scale(.8);
        }

        .title {
          font-weight: 400;
          text-transform: uppercase;
          line-height: 12px;
          white-space: pre-line;
          text-align: left;
          margin-bottom: 0;

          @include from-md {
            margin-left: 5px;
          }
        }
      }

      .header-elements-wrapper {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        z-index: 2;

        .search-bar-form-field {
          margin-left: 15px;

          &.mat-focused, .search-bar-form-field:hover {
            background-color: var(--button-hover-background);
            transition: none;
          }
        }

        .button-container {
          display: flex;
          line-height: normal;
          color: var(--tertiary-color);
          align-items: center;

          @include to-md {
            margin-right: 10px;
          }

          .sidenav-btn, .more-menu-btn {
            &.is-active {
              @include from-xs {
                background: rgba(var(--tertiary-color-rgb), .1);
              }

              @include to-xs {
                background: var(--tertiary-color);
              }
            }
          }

          .sidenav-btn {
            margin-top: 0;

            @include from-xs {
              margin-right: 15px;
            }

            @include to-xs {
              margin-right: 5px;
            }
          }

          .dashboard-btn {
            padding: 8px 14px 6px;
            margin-left: 10px;
            margin-right: 10px;

            font-size: .9rem;

            &.active-route {
              border-color: var(--secondary-color);

              h1, span {
                &:before,
                &:after {
                  opacity: 1;
                  transform: translateY(2px);
                }
              }
            }

            @include to-md {
              padding: 5px 8px;
            }

            @include to-xs {
              display: none;
            }
          }

          .rounded-btn {
            cursor: pointer;
            background: transparent;
            border: none;
            outline: none;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            transition: background-color 100ms ease-in-out;

            @include from-xs {
              &:hover {
                background-color: var(--button-hover-background);
                transition: none;
              }
            }

            .mat-icon {
              display: flex;
              margin: auto;
            }
          }
        }
      }
    }
  }
}
