/* PAGE */
.fe-page-container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fe-sidenav-content-wrapper {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  background-color: var(--background-primary);

  .fe-page-content {
    background: var(--background-primary);
  }

  .mat-drawer-content {
    background-color: var(--background-primary);

    // Scrollbar
    &::-webkit-scrollbar {
      width: var(--scrollbar-width);
      overflow-y: scroll;
      background: var(--background-secondary);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--secondary-color);
      border-radius: 0;
    }
  }
}

.is-mobile .fe-sidenav-content-wrapper {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.fe-sidenav {
  background: var(--background-secondary);
  overflow-x: hidden;
  border-right: 0;

  @include to-md { top: 80px !important; }
  @include to-xs { top: 60px !important; }
}

.mat-drawer-container {
  @include to-md {
    margin-top: 60px !important;
  }
}

.fe-page-container .fe-page {
  background: var(--background-secondary);
  padding: 20px 20px 20px 0;

  @include to-md {
    padding-left: 0;
    padding-right: 0;
  }

  @include from-xs {
    padding-top: 40px;
  }

  @include from-md {
    padding-top: 20px;
  }

  .fe-no-data {
    display: flex;
    color: var(--grey-3);
    margin-top: 10px;
  }
}

a {
  color: var(--text-color-1);
  text-decoration-color: var(--secondary-color);
  transition: color 100ms ease-in-out;

  &:hover {
    color: var(--secondary-color);
    transition: color 100ms ease-in-out;
  }
}

/* ROUTE ANIMATIONS FIX */
.fe-content {
  background-color: var(--background-secondary);

  .ng-animating {
    transform: translateY(-5px);
  }
}
