
/* Hide sidenav scrollbar in Chrome, Safari and Opera */
mat-sidenav.fia-sidenav.mat-sidenav,
mat-sidenav.fia-sidenav.mat-sidenav .mat-drawer-inner-container {
  -webkit-appearance: none;
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    display: none;
  }
}

mat-sidenav.fia-sidenav.mat-sidenav .fia-sidenav-content {
  margin-right: 20px;

  .section.areas {
    margin-bottom: 50px;

    @include to-xs {
      margin-bottom: 40px;
    }
  }
}

mat-sidenav.fia-sidenav.mat-sidenav {
  .section:not(:first-child) {
    @include to-xs {
      margin-top: 20px;
    }
  }

  .section.apps {
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;

    @include to-md {
      margin-left: 15px;
    }

    .fia-pruefungssimulator-btn {
      font-family: Nunito-Regular, sans-serif;
      font-size: .9rem;
      text-transform: initial;
      padding: 6px 10px 4px;
      color: var(--text-color-1);

      &.active-route {
        border-color: var(--secondary-color);
      }
    }
  }

  .section.my-class,
  .section.subjects,
  .section.study,
  .section.areas {

    @include from-xs {
      margin-top: 20px;
    }

    @include from-md {
      width: fit-content;
      max-width: 200px;
    }

    @include to-md {
      font-size: .9rem;
      min-width: 125px;
    }

    .section-title,
    .fia-nav-item.mat-list-item {
      margin-left: 30px;
      margin-right: 30px;

      @include to-md {
        margin-left: 15px;
        margin-right: 15px;
      }
    }

    .section-title {
      color: var(--text-color-1);
      font-family: Nunito-Light, sans-serif;
      padding: 8px 8px 0 8px;
      margin-bottom: 0;
      letter-spacing: 2px;
      width: fit-content;
      border-bottom: 1px solid var(--primary-color);
    }

    mat-nav-list.mat-nav-list {
      @include from-md {
        margin-left: 10px;
      }
    }

    .fia-nav-item.mat-list-item {
      background: transparent !important;
      height: fit-content;
      width: fit-content;
      max-width: 170px;
      margin-top: 2px;
      margin-bottom: 2px;

      font-size: .9rem;
      color: var(--text-color-1);
      letter-spacing: 1px;

      @include from-md {
        .mat-list-item-content {
          padding: 0;
        }
      }

      @media not all and (min-resolution:.001dpcm){
        @supports (-webkit-appearance:none) {
          font-weight: 400;
        }
      }

      $fia-nav-item-icon-fade-duration: color 200ms ease-in-out;

      .fia-nav-item-icon {
        margin-right: 10px;
        $size: 1.3em;
        width: $size;
        height: $size;
        color: var(--tertiary-color);
        transition: hover $fia-nav-item-icon-fade-duration;
        flex-shrink: 0;
      }

      &:hover, &:focus {

        @include from-md {
          .fia-nav-item-icon {
            color: var(--text-color-1);
            transition: $fia-nav-item-icon-fade-duration;
          }
        }
      }

      &.active-route {
        color: var(--secondary-color);

        .fia-nav-item-icon {
          color: var(--text-color-1);
        }
      }

      .mat-list-item-content {
        @include to-xs {
          padding: 0 10px;
        }
      }
    }
  }
}

mat-sidenav.fia-sidenav.mat-sidenav .fia-sidenav-content:first-child {
  @include to-xs {
    margin-top: 20px;
  }

  @include from-xs {
    margin-top: 0;
  }
}

mat-sidenav.fia-sidenav.mat-sidenav .fia-nav-item {

  span {
    padding: 6px 2px;

    @include from-xs {
      line-height: 16px;
    }

    @include to-xs {
      padding: 7px 2px;
      line-height: 14px;
    }
  }

  $duration: .2s;
  $distance: 8px;
  $easeOutBack: cubic-bezier(0.175, 1.585, 0.320, 1.275);

  @include from-md {
    &:not(.active-route) span {
      position: relative;

      &:focus,
      &:before,
      &:after {
        content: '';
        position: absolute;
        bottom: 1px;
        left: 0; right: 0;
        height: 1px;
        background-color: rgba(var(--secondary-color-rgb), .8);
      }
      &:before {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
      }
      &:after {
        opacity: 0;
        transform: translateY($distance/2);
        transition: transform $duration $easeOutBack, opacity $duration;
      }
    }

    &:focus,
    &:hover {
      color: var(--text-color-1);

      span {
        &:before,
        &:before,
        &:after {
          opacity: 1;
          transform: translateY(-3px);
        }
        &:before {
          transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
          transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
      }
    }
  }

}
