<div class="fia-content">
<!--  <div [@routeAnimations]="prepareRoute(outlet)">-->
<!--    <router-outlet #outlet="outlet"></router-outlet>-->
    <router-outlet></router-outlet>
<!--  </div>-->
  <mat-toolbar class="fia-page-footer">
    <div class="fia-labels-wrapper">
      <div class="logo">
        <span class="fia">fia</span><span class="pp">pp</span><span class="yio">y.io</span> © 2020
      </div>
      <div class="buttons">
        <a class="legal" routerLink="/impressum">Impressum</a>
        <span class="footer-divider">|</span>
        <a class="about" routerLink="/about">About</a>
        <span class="footer-divider">|</span>
        <a class="feedback" routerLink="/feedback">Feedback</a>
        <span class="footer-divider">|</span>
        <a class="usage" routerLink="/">Usage</a>
      </div>
    </div>
  </mat-toolbar>
</div>
