@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-page-footer {
  height: fit-content;
  position: relative;
  background: var(--background-primary);
  padding: 35px 20px;

  @include to-xs {
    padding: 20px 0 60px;
  }

  .fia-labels-wrapper {
    display: flex;
    width: 100%;
    max-width: 1080px;
    justify-content: space-between;
    z-index: 3;
    padding: 0 5px;

    @include to-xs {
      padding: 0 20px;
      height: 120px;
    }
  }

  .fia-branding {
    display: flex;
    height: fit-content;
    color: var(--text-color-1);
    align-items: center;

    .first, .second, .third {
      text-decoration: underline double;
      letter-spacing: -.5px;
    }
    .first { text-decoration-color: var(--tertiary-color); }
    .second { text-decoration-color: var(--secondary-color); }
    .third { text-decoration-color: var(--primary-color); }

    .fia-icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      margin-right: 2px;
      fill: var(--secondary-color);

      svg {
        height: 24px;
      }
    }
  }

  .buttons {
    font-size: .8em;

    @include to-md {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
      margin-right: auto;
      letter-spacing: 1px;

      a {
        line-height: 26px;
      }
    }

    @include to-xs {
      font-size: .7em;
    }

    .legal, .about, .feedback, .start {
      outline: none;
    }

    .footer-divider {
      margin: 0 8px;

      @include to-md {
        display: none;
      }
    }
  }
}
