@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-page-footer {
  height: fit-content;
  position: relative;
  background: $fia-dark-header-color;
  padding: 35px 20px;

  @include to-xs {
    padding: 20px 0 60px;
  }

  .fia-labels-wrapper {
    display: flex;
    width: 100%;
    max-width: 1050px;
    justify-content: space-between;
    color: white;
    z-index: 3;
    padding: 0 5px;

    @include to-xs {
      padding: 0 20px;
      height: 120px;
    }
  }

  .fia-branding {
    display: flex;
    font-size: .9em;

    .first, .second, .third {
      font-family: Nunito-Light, sans-serif;
      text-decoration: underline double;
      letter-spacing: -1px;
    }
    .first { text-decoration-color: $fia-third-color; }
    .second { text-decoration-color: $fia-secondary-color; }
    .third { text-decoration-color: $fia-primary-color; }

    .fia-icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      margin-right: 4px;
      fill: $fia-secondary-color;
    }

    .copyright {
      font-family: Nunito-Regular, sans-serif;
      font-size: .8em;
      margin-left: 5px;
    }
  }

  .buttons {
    font-size: .7em;

    @include to-md {
      display: flex;
      flex-direction: column;
      margin-left: 20px;

      a {
        line-height: 32px;
      }
    }

    @include to-xs {
      font-size: .6em;
    }

    .legal, .about, .feedback, .usage {
      outline: none;
    }

    .footer-divider {
      margin: 0 8px;

      @include to-md {
        display: none;
      }
    }
  }
}
