<div class="fe-content">
  <router-outlet>
    <fe-loading-spinner class="router-loader" *ngIf="isLoading"></fe-loading-spinner>
  </router-outlet>
  <mat-toolbar class="fe-page-footer">
    <div class="fe-labels-wrapper">
      <div class="fe-logo">
        <fe-icon></fe-icon>
      </div>
      <div class="buttons">
        <a class="start" routerLink="/">Start</a>
        <span class="footer-divider">|</span>
        <a class="about" routerLink="/about">About</a>
        <span class="footer-divider">|</span>
        <a class="legal" routerLink="/impressum">Impressum</a>
      </div>
    </div>
  </mat-toolbar>
</div>
