@import "mixins";

:host ::ng-deep section {
  display: flex;
  max-width: var(--max-width);
  flex-direction: column;

  animation-name: moveInBottom;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: moveInBottom;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: ease-in-out;

  @include to-xs {
    margin-bottom: 20px;
  }

  @include to-lg {
    flex-direction: column;
  }

  div.section-wrapper {
    display: flex;
    align-self: center;
  }

  div.component-name-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;

    p.component-name {
      color: var(--text-color-3);
      font-size: 1rem;
      letter-spacing: 5px;
      text-transform: uppercase;
      text-align: center;
      margin: 0 20px;
    }

    hr {
      height: 1px;
      width: 100%;
      background: var(--grey-3);
    }
  }

  p.description {
    color: var(--text-color-3);
    margin-top: 0;
    margin-bottom: 3px;
  }

  div.label-container {
    display: flex;
    flex-direction: column;

    p.title {
      font-size: 1.6em;
      letter-spacing: 1px;
      line-height: 30px;
      margin-top: 20px;
      margin-bottom: 0;
    }

    @include to-lg {
      align-items: center;
    }

    @include to-xs {
      width: 75%;
      margin: auto;
    }

    @include from-xs {
      margin-left: 40px;
      margin-right: 40px;
    }
  }

  img.rocket-svg,
  img.education-svg,
  img.reading-svg,
  img.game-svg,
  img.online-course-svg,
  img.question-svg,
  img.hardware-svg,
  img.datenbankspeicher-svg,
  img.world-grid-svg {
    opacity: 0.6;
  }
}
