<div class="page edit-post">
  <fe-card class="elements" title="Elemente">
    <div class="elements-bar">
      <button class="fe-text-button">Text</button>
      <button class="fe-text-button">Title</button>
      <button class="fe-text-button">Subtitle</button>
      <button class="fe-text-button">Hint</button>
      <button class="fe-text-button">Image</button>
      <button class="fe-text-button">Line</button>
      <button class="fe-text-button">List</button>
      <button class="fe-text-button">Table</button>
      <button class="fe-text-button">Code</button>
      <button class="fe-text-button">File</button>
    </div>
  </fe-card>

  <fe-card [title]="post.title" [date]="post.description" [lastUpdate]="post.lastUpdate">
    <p class="error-message" *ngIf="post && post.elements === undefined">Artikel nicht gefunden</p>
    <fe-loading-spinner *ngIf="post === undefined"></fe-loading-spinner>
    <fe-post-element
      *ngFor="let element of post.elements"
      [element]="element"
      [contentEditable]="true"
    ></fe-post-element>
  </fe-card>

  <mat-card class="card options">
    <div class="button-container">
      <button class="fe-text-button" *ngIf="authService?.user?.role === 'admin'">
        <span>Speichern</span>
      </button>
      <button class="fe-text-button" *ngIf="authService?.user?.role === 'admin'">
        <span>Artikel Löschen</span>
      </button>
    </div>
  </mat-card>
</div>
