<div class="fia-page">
  <mat-card class="fia-card elements-bar">
    <p class="fia-elements-label">Elemente</p>
    <div class="fia-elements-bar">
      <button class="fia-element-button">Text</button>
      <button class="fia-element-button">Title</button>
      <button class="fia-element-button">Subtitle</button>
      <button class="fia-element-button">Hint</button>
      <button class="fia-element-button">Image</button>
      <button class="fia-element-button">Line</button>
      <button class="fia-element-button">List</button>
      <button class="fia-element-button">Table</button>
      <button class="fia-element-button">Code</button>
      <button class="fia-element-button">File</button>
    </div>
  </mat-card>
  <mat-card class="fia-card">
    <p class="fia-error-message" *ngIf="post && post.elements === undefined">
      Artikel nicht gefunden
    </p>
    <p class="fia-card-title" *ngIf="post !== undefined">
      {{post.title}}
    </p>
    <p class="fia-card-description" *ngIf="post !== undefined">
      {{post.description}}
    </p>
    <mat-spinner class="fia-loading-spinner" *ngIf="post === undefined"></mat-spinner>
    <mat-card-content class="fia-post-content" *ngIf="post !== undefined">
      <app-post-element *ngFor="let element of post.elements" [element]="element"></app-post-element>
    </mat-card-content>
    <p class="fia-post-last-update" *ngIf="post && post.lastUpdate !== undefined">
      Letzte Aktualisierung: {{post.lastUpdate | date:'dd.MM.yyyy'}}
    </p>
  </mat-card>

  <mat-card class="fia-card" *ngIf="authService.user !== null">
    <div class="fia-button-container">
      <button class="fia-text-button" *ngIf="authService?.user?.role === 'admin'">
        <span>Speichern</span>
      </button>
      <button class="fia-text-button" *ngIf="authService?.user?.role === 'admin'">
        <span>Artikel Löschen</span>
      </button>
    </div>
  </mat-card>
</div>
