<mat-card class="card" [ngClass]="className">
  <mat-card-header class="card-header" *ngIf="title" [class.with-button]="buttonLink && buttonLabel">
    <mat-card-title class="card-title" [innerHTML]="title"></mat-card-title>

    <mat-card-subtitle class="card-subtitle" *ngIf="date && type">
      <fe-post-badge [type]="type" *ngIf="type"></fe-post-badge>
      <div class="card-subtitle-2">vom {{ date | date: "dd.MM.yyyy" }}</div>
    </mat-card-subtitle>

    <mat-card-subtitle class="card-subtitle-2" *ngIf="date && !type">{{ date }}</mat-card-subtitle>

    <a class="fe-button small secondary" [routerLink]="buttonLink" *ngIf="buttonLink && buttonLabel" matRipple>
      {{ buttonLabel }}
    </a>
  </mat-card-header>

  <mat-card-content class="card-content">
    <ng-content></ng-content>
  </mat-card-content>

  <small class="last-update" *ngIf="lastUpdate"> Letzte Aktualisierung: {{ lastUpdate | date: "dd.MM.yyyy" }} </small>
</mat-card>
