/* BASIC RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;                 /* set margin and padding of all elements to zero */
  box-sizing: inherit;
}

html {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  font-size: 100%;           /* defines what 1rem is */
}

body {
  box-sizing: border-box;     /* elements width and height should include margin and padding */
  background: var(--background-primary);
  &.scroll-locked {
    overflow: hidden;
  }
}

.mat-toolbar {
  font-size: 1rem;

  h4 {
    font-size: 1.2rem;

    @include to-xs {
      font-size: 1.1rem;
    }
  }
}

/* MAT-RIPPLE-ELEMENT */
.mat-ripple-element {
  background-color: rgba(var(--tertiary-color-rgb), .2);
}

/* MAT-SLIDE-TOGGLE */
.fe-theme-toggle {
  align-self: center;

  .mat-slide-toggle-thumb {
    background-color: black;
  }

  .mat-slide-toggle-bar {
    background-color: rgba(0,0,0,.5);
  }

  &.mat-checked {
    .mat-slide-toggle-thumb {
      background-color: white;
    }

    .mat-ripple-element {
      background-color: var(--primary-color);
    }

    .mat-slide-toggle-bar {
      background-color: rgba(255,255,255,.5);
    }
  }
}

/* MAT-BUTTON-TOGGLE */
mat-button-toggle-group {
  .mat-button-toggle-checked {
    background-color: var(--tertiary-color);
    color: white;
  }

  .mat-button-toggle-checked .mat-button-toggle-focus-overlay {
    border-bottom: none;
  }
}

/* POST LINK (SUBJECT, DASHBOARD, ...) */
fe-post-link:not(:last-of-type),
.lesson-wrapper:not(:last-of-type) {
  .fe-post-link-wrapper {
    margin-bottom: 10px;
  }
}
