
b, strong {
  font-weight: 600;
}

u {
  text-decoration-color: var(--secondary-color);
  border-radius: 2px;
  padding: 2px 2px;
  margin: -2px;
}

hr {
  background: var(--grey-1);
  border: none;
}

p {
  color: var(--text-color-1);
}

mat-card.fe-card {
  color: var(--text-color-1);
}

ul {
  margin-top: 0;

  list-style: none;
  li::before {
    content: '\25B8';
    color: var(--tertiary-color);
    margin-left: -1rem;
    margin-right: .5rem;
  }

  li ul {
    list-style: none;

    li::before {
      content: '\25B8';
      color: var(--text-color-3);
      opacity: .8;
      margin-left: 0.5rem;
      margin-right: .5rem;
    }
  }
}
