<mat-dialog-content class="fia-image-manager">
  <div class="fia-im-header">
    <p class="fia-card-title">Image-Manager</p>
    <p class="fia-card-description" *ngIf="imagesCount === undefined">Bilder werden geladen ...</p>
    <p class="fia-card-description" *ngIf="imagesCount !== undefined">{{imagesCount}} Bilder</p>
  </div>
  <hr class="fia-divider-line"/>
  <p class="title">Neues Bild hochladen</p>
  <form class="fia-add-image-form" encType="multipart/form-data" (submit)="uploadImage($event)">
    <div class="upload-image-dropzone" id="upload-image-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)" #fileInput [multiple]="false">
      <ngx-dropzone-label class="dropzone-labels">
        <div class="drop-image">
          <ion-icon class="drop-icon" name="download-outline"></ion-icon>
          <h2>Datei hierher ziehen</h2>
        </div>
        <p>oder</p>
        <div class="choose-image">
          <ion-icon class="choose-icon" name="folder-outline"></ion-icon>
          <h2>Datei auswählen</h2>
        </div>
      </ngx-dropzone-label>
      <ngx-dropzone-image-preview class="dropzone-preview" ngProjectAs="ngx-dropzone-preview" *ngFor="let f of dropzoneFile" [file]="f" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>{{ f.name }} <br/> {{ f.type }} <br/> {{ formatBytes(f.size) }}</ngx-dropzone-label>
      </ngx-dropzone-image-preview>
    </div>
    <button class="fia-text-button" type="submit" [disabled]="isEmpty(dropzoneFile)">
      <span *ngIf="!isUploadingImage">Hochladen</span>
      <mat-spinner class="fia-loading-spinner" *ngIf="isUploadingImage"></mat-spinner>
    </button>
  </form>
  <ng-container *ngIf="selectedImage">
    <hr class="fia-divider-line"/>
    <p class="title">Details</p>
    <div class="image-preview">
      <div class="details">
        <p><span class="label">ID: </span> {{selectedImage.file._id}}</p>
        <p><span class="label">Name: </span> {{selectedImage.file.filename}}</p>
        <p><span class="label">Content-Type: </span> {{selectedImage.file.contentType}}</p>
        <p>
          <span class="label">Length: </span>
          {{formatBytes(selectedImage.file.length)}}
          <span class="chunks-length">({{selectedImage.chunks.length}} {{selectedImage.chunks.length > 1 ? 'Chunks' : 'Chunk'}})</span>
        </p>
        <p><span class="label">Upload Date: </span> {{selectedImage.file.uploadDate | date: 'dd.MM.yyyy - H:mm:ss' :'CET' : 'de'}}</p>
      </div>
      <button class="fia-text-button" *ngIf="authService.user.role === UserRole.ADMIN" (click)="deleteImage(selectedImage.file._id)">
        Bild löschen
        <ion-icon class="drop-icon" name="backspace"></ion-icon>
      </button>
    </div>
  </ng-container>
  <hr class="fia-divider-line"/>
  <p class="title">Hochgeladene Bilder</p>
  <div class="fia-im-recent-images">
    <div class="fia-spinner-wrapper" *ngIf="images.length === 0 && isLoading || isLoadingImages">
      <mat-spinner class="fia-loading-spinner"></mat-spinner>
    </div>
    <ng-container *ngIf="!isLoadingImages">
      <div class="image-wrapper" *ngFor="let image of images">
        <img class="image" [class.is-selected]="image === selectedImage" [src]="encode(image)" alt="image" (click)="selectedImage = image"
             matTooltip="Details anzeigen" matTooltipClass="image-tooltip" matTooltipPosition="right" [matTooltipDisabled]="selectedImage === image"
        />
      </div>
    </ng-container>
  </div>
  <div class="fia-pagination-bar" *ngIf="images.length > 0">
    <p class="title">Seiten</p>
    <app-pagination-bar [totalPages]="totalPages" [currentPage]="currentPage" (images)="setImages($event)" [imagesCount]="imagesCount"
                        (isLoadingImages)="setIsLoadingImage($event)"></app-pagination-bar>
  </div>
</mat-dialog-content>
