<mat-dialog-content class="fia-image-manager">
  <div class="fia-im-header">
    <p class="fia-card-title">Image-Manager</p>
    <p class="fia-card-description" *ngIf="imagesCount === undefined">Bilder werden geladen ...</p>
    <p class="fia-card-description" *ngIf="imagesCount !== undefined">{{imagesCount}} Bilder</p>
  </div>
  <hr class="fia-divider-line"/>
  <p class="title">Neues Bild hochladen</p>
  <form class="fia-add-image-form" encType="multipart/form-data" (submit)="sendImage($event)">
    <div class="image-picker form-group">
      <input class="fia-file-input" type="file" name="file" #fileInput/>
    </div>
    <button class="fia-text-button" type="submit" [disabled]="isEmpty(fileInput)">
      <span>Hochladen</span>
    </button>
  </form>
  <hr class="fia-divider-line"/>
  <p class="title">Zuletzt hochgeladen</p>
  <div class="image-preview" *ngIf="showImage">
    <p>Name: {{showImage.file.filename}}</p>
    <p>ID: {{showImage.file._id}}</p>
    <button class="fia-text-button" *ngIf="authService.user.role === UserRole.ADMIN" (click)="deleteImage(showImage.file._id)">Bild löschen</button>
  </div>
  <div class="fia-im-recent-images">
    <div class="fia-spinner-wrapper" *ngIf="images.length === 0 && isLoading">
      <mat-spinner class="fia-loading-spinner"></mat-spinner>
    </div>
    <img class="image" *ngFor="let image of images" [src]="encode(image)" alt="image"
         matTooltip="Klicke für Details" matTooltipClass="image-tooltip" matTooltipPosition="right"
         (click)="showImage = image" [class.is-selected]="image === showImage"
    />
    <button class="fia-text-button" (click)="loadMore()" [disabled]="isLoading">
      <span>Mehr laden</span>
    </button>
  </div>
</mat-dialog-content>
