@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-image-manager {
  color: var(--text-color-1);
  background: var(--background-secondary);
  text-align: center;

  .fia-im-header {
    .fia-card-title {
      margin-bottom: 2px;
    }

    .fia-card-description {
    }
  }

  .title {
    display: block;
    width: 100%;
    color: var(--grey-4);
    font-size: 1.2em;
    font-family: Nunito-Light, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .fia-add-image-form {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;

    .image-picker {
      display: flex;

      .fia-file-input {
        color: var(--text-color-1);
        outline: none;
      }
    }
  }

  hr {
    border: none;
    height: 1px;
    margin: 20px 0;
  }

  .fia-im-recent-images {
    overflow-y: scroll;
    max-height: 400px;

    &::-webkit-scrollbar {
      width: 3px;
      overflow-y: scroll;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--secondary-color);
      border-radius: 0;
    }

    .image {
      max-height: 100px;
      max-width: 200px;
      padding: 10px;
    }

    .fia-text-button {
      display: block;
      margin: auto;
    }
  }
}

::ng-deep .image-tooltip {
  background: var(--primary-color);
}

::ng-deep .mat-dialog-container {
  background: var(--background-secondary);
  border-radius: 0;
}
