@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-school-week-card {
  color: white;

  .fia-header-wrapper {
    display: flex;
    justify-content: space-between;

    .fia-card-title {
      margin-bottom: 2px;
    }

    .fia-button-wrapper {
      height: fit-content;

      .fia-previous-week-btn,
      .fia-next-week-btn {
        background: $fia-dark-background-color;
        width: 40px;
        height: 40px;
        border: none;
        outline: none;
        color: $fia-third-color;
        cursor: pointer;
        line-height: initial;

        &:not(.disabled) {
          &:hover {
            color: $fia-secondary-color;
          }
        }
      }

      .fia-previous-week-btn {
        margin-right: 8px;
      }

      .fia-next-week-btn {
      }
    }
  }

  .fia-weekday-group {
    @include from-md {
      margin-top: 10px;
    }
  }

  .fia-no-content-label {
    color: $fia-grey-1;
    font-size: 1.1em;
  }
}
