<mat-card class="fia-card fia-school-week-card">
  <div class="fia-header-wrapper">
    <div class="fia-title-description-wrapper">
      <p class="fia-card-title">Schulwoche #{{currentWeek}}</p>
      <p class="fia-card-description">
        <span>
          {{(week?.posts[0]?.lessonDate | date:'dd.MM.yyyy') || '00.00.0000'}}
        </span>
        <span> - </span>
        <span>
          {{(week?.posts[week.posts.length-1]?.lessonDate | date:'dd.MM.yyyy') || '00.00.0000'}}
        </span>
      </p>
    </div>
    <mat-spinner class="fia-loading-spinner" *ngIf="isLoading"></mat-spinner>
    <div class="fia-button-wrapper" *ngIf="isDashboardPage">
      <button class="fia-previous-week-btn" (click)="getPreviousWeek()" [disabled]="week === undefined || currentWeek === 1" mat-icon-button>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button class="fia-next-week-btn" (click)="getNextWeek()" [disabled]="week === undefined || currentWeek === dataService.currentSchoolWeek" mat-icon-button>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
  <mat-card-content class="fia-view-wrapper">
    <mat-spinner class="fia-loading-spinner" *ngIf="week === undefined"></mat-spinner>
    <div class="fia-weekday-group" *ngIf="week !== null && week !== undefined">

      <div class="fia-weekday-item" *ngFor="let week of weekdays()">
        <div class="fia-label-wrapper">
          <p class="fia-weekday-label">{{weekdayAsString(week.day)}}</p>
          <hr class="weekday-spacer"/>
        </div>
        <app-post-link *ngFor="let post of week.lessons" [post]="post" [title]="fullSubjectName(post.subject)"></app-post-link>
      </div>

    </div>
    <p class="fia-no-data" *ngIf="week && week.posts.length === 0">
      Artikel noch nicht freigeschaltet
    </p>
  </mat-card-content>
</mat-card>
