<fe-card [title]="verificationSucceed ? 'Registrierung abgeschlossen' : 'Registrierung abschließen'">
  <form
    class="verify-form"
    [formGroup]="formGroup"
    (ngSubmit)="verifyUser()"
    (change)="onFormChange()"
    *ngIf="!verificationSucceed"
  >
    <p>
      Um die Registrierung abzuschließen musst du deine E-Mail verifizieren. Wir haben dir eine E-Mail mit einem
      Verifizierungscode zugeschickt.
    </p>
    <mat-form-field class="input code">
      <mat-label>Verifizierungscode</mat-label>
      <input
        matInput
        type="number"
        inputmode="numeric"
        pattern="[0-9]*"
        autocomplete="off"
        formControlName="verificationCode"
        #verificationCodeInput
      />
      <mat-error *ngIf="formGroup.controls.verificationCode.hasError('required')">
        Verifizierungscode erforderlich
      </mat-error>
    </mat-form-field>
    <div class="button-container">
      <button class="fe-button" type="submit" [isLoading]="isSubmitLoading" matRipple>Bestätigen</button>
      <p class="no-email-received">Du hast keine E-Mail erhalten?</p>
      <button
        class="fe-button"
        type="button"
        [isLoading]="isResendLoading"
        (click)="resendVerificationMail()"
        matRipple
      >
        Nochmal senden
      </button>
    </div>
  </form>

  <div class="verification-succeed-container" *ngIf="verificationSucceed">
    <fe-checkmark></fe-checkmark>
    <p class="verified">Erfolgreich verifiziert!</p>
  </div>
</fe-card>
