@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Breakpoints */
@mixin from($width) {
  @media screen and (min-width: $width) {
    @content
  }
}

@mixin from-tiny() {
  @include from($breakpoint-tiny) {
    @content
  }
}

@mixin to-tiny() {
  @media screen and (max-width: $breakpoint-tiny) {
    @content
  }
}

@mixin from-xs() {
  @include from($breakpoint-xs) {
    @content
  }
}

@mixin to-xs() {
  @media screen and (max-width: $breakpoint-xs) {
    @content
  }
}

@mixin to-md() {
  @media screen and (max-width: $breakpoint-md) {
    @content
  }
}

@mixin from-md() {
  @include from($breakpoint-md) {
    @content
  }
}

@mixin from-lg() {
  @include from($breakpoint-lg) {
    @content
  }
}

@mixin to-lg() {
  @media screen and (max-width: $breakpoint-lg) {
    @content
  }
}

/* Animations */
@mixin moveInTopAnimation {
  animation-name: moveInTop;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: moveInTop;
  -webkit-animation-duration: 400ms;
  -webkit-animation-timing-function: ease-in-out;
}

@mixin moveInBottomAnimation {
  animation-name: moveInBottom;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: moveInBottom;
  -webkit-animation-duration: 400ms;
  -webkit-animation-timing-function: ease-in-out;
}

@mixin moveInLeftAnimation {
  animation-name: moveInLeft;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: moveInLeft;
  -webkit-animation-duration: 400ms;
  -webkit-animation-timing-function: ease-in-out;
}

@mixin logoMoveInLeftAnimation {
  animation-name: logoMoveInLeft;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation-name: logoMoveInLeft;
  -webkit-animation-duration: 200ms;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
}

@mixin titleMoveInRightAnimation {
  animation-name: titleMoveInRight;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation-name: titleMoveInRight;
  -webkit-animation-duration: 200ms;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
}

@mixin matchingMoveInLeftAnimation {
  animation-name: moveInLeft_matching;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: moveInLeft_matching;
  -webkit-animation-duration: 400ms;
  -webkit-animation-timing-function: ease-in-out;
}

@mixin matchingMoveInRightAnimation {
  animation-name: moveInRight_matching;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: moveInRight_matching;
  -webkit-animation-duration: 400ms;
  -webkit-animation-timing-function: ease-in-out;
}
