@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin from($width) {
  @media screen and (min-width: $width) {
    @content
  }
}

@mixin from-tiny() {
  @include from($breakpoint-tiny) {
    @content
  }
}

@mixin to-tiny() {
  @media screen and (max-width: $breakpoint-tiny) {
    @content
  }
}

@mixin from-xs() {
  @include from($breakpoint-xs) {
    @content
  }
}

@mixin to-xs() {
  @media screen and (max-width: $breakpoint-xs) {
    @content
  }
}

@mixin to-md() {
  @media screen and (max-width: $breakpoint-md) {
    @content
  }
}

@mixin from-md() {
  @include from($breakpoint-md) {
    @content
  }
}

@mixin from-lg() {
  @include from($breakpoint-lg) {
    @content
  }
}

@mixin to-lg() {
  @media screen and (max-width: $breakpoint-lg) {
    @content
  }
}

