
:root {
  /* Colors */
  --primary-color: #eb6a1e;
  --primary-color-rgb: 235, 106, 30;
  --secondary-color: #fdb64c;
  --secondary-color-rgb: 253, 188, 76;
  --secondary-color-light: #f4ac3178;
  --tertiary-color: #94aac5;
  --tertiary-color-rgb: 148, 170, 197;
  --tertiary-color-light: #b2c8e2;
  --error-default: #f44336;

  --border-radius: 0;
  --button-radius: 5px;
  --progressbar-height: 2px;
  --scrollbar-width: 4px;
}
