::ng-deep .cdk-overlay-container .more-menu {
  background-color: var(--background-primary);
  border-radius: var(--border-radius);
  border: 1px solid var(--grey-1);
  box-shadow: var(--box-shadow);

  .menu-btn .label {
    color: var(--text-color-1);
    padding-right: 5px;
  }

  .menu-btn mat-icon {
    color: var(--tertiary-color);
  }

  .mat-menu-item:hover {
    background: var(--secondary-color);

    mat-icon {
      color : var(--background-primary);
    }
  }

  .mat-menu-item[disabled] {
    mat-icon {
      color: var(--secondary-color);
    }

    .label {
      color: var(--text-color-3);
    }
  }

  hr {
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
