::ng-deep .cdk-overlay-container .more-menu {
  background-color: var(--background-primary);
  border-radius: var(--border-radius);
  border: var(--progressbar-height) solid var(--grey-1);
  box-shadow: var(--box-shadow);

  .menu-btn .label {
    color: var(--text-color-1);
    padding-right: 5px;
  }

  .menu-btn mat-icon {
    color: var(--tertiary-color) !important;
  }

  .mat-menu-item:hover {
    background: rgba(var(--secondary-color-rgb), .8);

    mat-icon {
      color : var(--background-primary) !important;
    }
  }

  .mat-ripple-element {
    background-color: rgba(var(--background-primary-rgb),.2);
  }

  .mat-menu-item[disabled] {
    mat-icon {
      color: var(--secondary-color) !important;
    }

    .label {
      color: var(--text-color-3);
    }
  }

  hr {
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
