<div class="fe-page">
  <mat-card class="fe-card">
    <p class="fe-card-title">Impressum</p>
    <mat-card-content class="fe-view-wrapper">
      <p>
        Sven Brodny<br/>
        Musterstraße 12<br/>
        34567 Berlin
      </p>
      <p>
        Telefon: 030 123456789
        <br/>
        E-Mail: <a href="mailto:svenbrodny@googlemail.com">svenbrodny@googlemail.com</a><br/>
      </p>
      <p>
        <strong>Bildrechte:</strong><br/>
        Flaticon ...<br/>
        Ionic Icons<br/>
        Angular Material Icons
      </p>
    </mat-card-content>
  </mat-card>
</div>
