<div class="fia-page-container" [class.is-mobile]="isMobile.matches">
  <app-header class="fia-header"
              [isMobile]="isMobile"
              [searchValue]="searchbarValue"
              [sidenav]="sidenav"
  ></app-header>

  <mat-sidenav-container class="fia-sidenav-content-wrapper"
                         [style.marginTop.px]="isMobile.matches ? 56 : 0"
                         autosize
                         #sidenavContainer
  >
    <mat-sidenav class="fia-sidenav" #sidenav
                 [mode]="isMobile.matches ? 'over' : 'side'"
                 [opened]="!isMobile.matches"
                 [fixedInViewport]="isMobile.matches"
                 fixedTopGap="56"
                 (openedChange)="onSideMenuToggled(sidenav.opened)"
    >
      <app-sidenav></app-sidenav>
    </mat-sidenav>

    <app-content></app-content>

  </mat-sidenav-container>
</div>
