@import "mixins";

:host {
  justify-content: space-between;

  div.section-wrapper {
    margin-top: 50px;
    margin-bottom: 20px;

    @include to-xs {
      flex-direction: column;
    }
  }

  div.components-container {
    align-self: center;
    width: 100%;
    max-width: var(--max-width);
  }

  div.label-container {
    align-items: center;
    align-self: center;
    max-width: 350px;

    img.education-svg {
      width: 120px;
    }

    img.reading-svg {
      width: 120px;

      @include to-xs {
        margin-top: 40px;
      }
    }
  }
}

:host ::ng-deep fe-school-week-card {
  div.weekday-group {
    div.weekday-item:nth-child(1),
    div.weekday-item:nth-child(2) {
      fe-post-link .post-link {
        border-right: 2px solid var(--secondary-color);
      }
    }

    div.weekday-item:nth-child(3),
    div.weekday-item:nth-child(4) {
      fe-post-link .post-link {
        border-right: 2px solid var(--tertiary-color);
      }
    }
  }
}
