<div class="searchbar-wrapper" [class.is-searching]="router.url.startsWith('/search')">
  <mat-form-field class="search-bar-form-field" appearance="fill">
    <mat-icon class="unselectable" matSuffix (click)="openSearchView()" *ngIf="!searchPostService.isSearching">search</mat-icon>
    <mat-spinner matSuffix class="fe-loading-spinner" *ngIf="searchPostService.isSearching"></mat-spinner>
    <input matInput type="text" autocomplete="off" [(ngModel)]="searchPostService.searchTerm" placeholder="Suchbegriff" #searchInput>
  </mat-form-field>
</div>
