@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-card .fia-card-content {
  justify-content: space-evenly;
}

.fia-card {
  .fia-card-title {
  }
  .fia-card-description {
  }

  .fia-card-content {
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;
    flex-shrink: 1;

    @include to-sm {
      align-items: center;
      flex-direction: column;
    }
  }
}

.fia-index-card {
  background-color: transparent;
  width: 530px;
  height: 380px;
  perspective: 1000px;
  position: relative;
  flex-shrink: 0;

  @include to-md {
    width: 350px;
    height: 250px;
    font-size: .75em;
  }

  @include to-xs {
    width: 280px;
    height: 201px;
    font-size: .65em;
  }

  .fia-index-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: var(--box-shadow);
  }

  &.show-back .fia-index-card-inner {
    transform: rotateY(180deg);
  }

  .fia-index-card--front, .fia-index-card--back {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    .card-header {
      display: flex;
      margin-top: 35px;
      justify-content: space-between;
      font-family: Nunito-ExtraBold, sans-serif;

      @include to-md {
        margin-top: 20px;
      }

      @include to-xs {
        margin-top: 15px;
      }

      p {
        margin-bottom: 5px;

        @include to-md {
          margin-bottom: 0;
          line-height: 19px;
        }

        @include to-xs {
          margin-bottom: 0;
          line-height: 15px;
        }
      }
    }

    .card-header, .content {
      width: 75%;
    }

    .card-header .label, .content {
      color: black;
    }

    .content {
      text-align: left;
      line-height: 25px;

      @include to-md {
        line-height: 15px;
      }
    }
  }

  .fia-index-card--front {
    background-image: url("../../../assets/images/indexcard-background.png");

    .card-header, .content {
      margin-left: 80px;

      @include to-md {
        margin-left: 60px;
      }

      @include to-xs {
        margin-left: 50px;
      }
    }
  }

  .fia-index-card--back {
    background-image: url("../../../assets/images/indexcard-background-flipped.png");
    transform: rotateY(180deg);

    .card-header, .content {
      margin-left: 40px;

      @include to-md {
        margin-left: 30px;
      }

      @include to-xs {
        margin-left: 20px;
      }
    }
  }

}

.fia-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;

  @include to-sm {
    margin-left: 0;
    margin-right: 0;
  }

  @include to-sm {
    margin-top: 60px;
  }

  button {
    @include to-sm {
      width: fit-content;
      align-self: center;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  button:not(:last-child) {
    @include from-sm {
      margin-bottom: 50px;
    }

    @include to-sm {
      margin-bottom: 15px;
    }
  }

}
