@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-card .fia-card-content {
  justify-content: space-evenly;
}

.fia-card {
  .fia-card-title {
  }
  .fia-card-description {
  }

  .fia-card-content {
    display: flex;
    margin-top: 30px;
    flex-shrink: 1;

    @include to-sm {
      flex-direction: column;
    }
  }
}


.fia-index-card {
  background-color: #fdfdfd;
  min-height: 350px;
  padding-top: 35px;
  overflow: hidden;
  position: relative;

  @include from-sm {
    width: 550px;
    min-width: 450px;
    margin-right: 10px;
  }

  .fia-content-wrapper {
    padding-left: 80px;
    padding-right: 40px;

    @include to-xs {
      padding-left: 60px;
    }

    .index-card-title .index-card-type .label,
    .index-card-title .index-card-level .label {
      font-family: Nunito-ExtraBold, sans-serif;
    }

    .index-card-title .index-card-type .label,
    .index-card-title .index-card-level .label,
    .index-card-content .content {
      color: black;
      margin: 0;
      font-size: 1.1em;
      line-height: 25px;

      @include to-xs {
        font-size: 1em;
      }
    }

    .content {
      padding-bottom: 10px;
    }

    .content.shortAnswer {
      margin-top: 25px;
    }

    .index-card-title {
      display:  flex;
      justify-content: space-between;
    }

    .index-card-content {
    }
  }

  .v-line-1, .v-line-2 {
    position: absolute;
    top: -10px;
    bottom: -10px;
    width: 2px;
    border: none;
    background-color: #fdeaea;
    z-index: 0;
  }

  .v-line-1 {
    left: 62px;
    @include to-xs {
      left: 40px;
    }
  }
  .v-line-2 {
    left: 68px;
    @include to-xs {
      left: 46px;
    }
  }

  .h-line-1, .h-line-2, .h-line-3, .h-line-4, .h-line-5, .h-line-6,
  .h-line-7, .h-line-8, .h-line-9, .h-line-10, .h-line-11, .h-line-12 {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    border: none;
    background-color: #e6e6e6;
  }

  .h-line-1 { top: 50px; }
  .h-line-2 { top: 75px; }
  .h-line-3 { top: 100px; }
  .h-line-4 { top: 125px; }
  .h-line-5 { top: 150px; }
  .h-line-6 { top: 175px; }
  .h-line-7 { top: 200px; }
  .h-line-8 { top: 225px; }
  .h-line-9 { top: 250px; }
  .h-line-10 { top: 275px; }
  .h-line-11 { top: 300px; }
  .h-line-12 { top: 325px; }

}

.fia-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--border-radius);
  margin: 20px;

  @include to-sm {
    margin-left: 0;
    margin-right: 0;
  }

  button {
    @include to-sm {
      width: fit-content;
      align-self: center;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  button:not(:last-child) {
    @include from-sm {
      margin-bottom: 50px;
    }

    @include to-sm {
      margin-bottom: 15px;
    }
  }

}
