<div class="page post">
  <mat-card class="fe-card">
    <p class="fe-error-message" *ngIf="post && post.elements === undefined">
      Artikel nicht gefunden
    </p>
    <p class="fe-card-title" *ngIf="post !== undefined">
      {{post.title}}
    </p>
    <p class="fe-card-description" *ngIf="post !== undefined">
      <fe-post-badge [post]="post"></fe-post-badge>
      <span>vom {{ post.lessonDate | date: 'MM.dd.yyyy' }}</span>
    </p>
    <fe-loading-spinner *ngIf="post === undefined"></fe-loading-spinner>
    <mat-card-content class="post-content" *ngIf="post !== undefined">
      <fe-post-element *ngFor="let element of post.elements" [element]="element"></fe-post-element>
    </mat-card-content>
    <p class="post-last-update" *ngIf="post && post.lastUpdate !== undefined">
      Letzte Aktualisierung: {{post.lastUpdate | date:'dd.MM.yyyy'}}
    </p>
  </mat-card>

  <fe-lesson-footer [postId]="post._id" [isLoading]="loadingService.loading$ | async" *ngIf="authService.isAuthenticated && post"></fe-lesson-footer>
</div>
