@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-card {
  .fia-card-title {
    margin-bottom: 2px;
  }
  .fia-card-description {
    font-size: 1.2em;
    color: $fia-grey-1;
  }
}

.fia-post-content {

  app-post-element:first-child ::ng-deep .fia-post-item {
    margin-top: 30px;
  }

}
