<div class="fia-page">
  <mat-card class="fia-card">
    <p class="fia-card-title" *ngIf="post !== undefined">
      {{post.title}}
    </p>
    <p class="fia-card-description" *ngIf="post !== undefined">
      {{post.description}}
    </p>
    <mat-spinner class="fia-loading-spinner" *ngIf="post === undefined"></mat-spinner>
    <mat-card-content class="fia-post-content" *ngIf="post !== undefined">
      <app-post-element *ngFor="let element of post.elements" [element]="element"></app-post-element>
    </mat-card-content>
    <p class="fia-post-last-update" *ngIf="post !== undefined">
      Letzte Aktualisierung: {{post.lastUpdate | date:'dd.MM.yyyy'}}
    </p>
  </mat-card>

  <app-lesson-footer [post]="post" *ngIf="post !== undefined"></app-lesson-footer>
</div>
