@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-next-exams {
  .fia-card-header {

    .fia-button.show-more {
      align-self: start;
      color: var(--grey-4);
      border: 1px solid var(--grey-4);
      background: transparent;
      flex-shrink: 0;
      margin-left: 10px;
      font-size: .7em;

      @include to-xs {
        font-size: .55em;
      }
    }
  }

  .fia-view-wrapper {

    @include from-xs {
      margin-top: 20px;
    }

    .fia-exam-item-wrapper:not(:last-of-type) {
      margin-bottom: 20px;

      @include to-xs {
        margin-bottom: 30px;
      }
    }
  }
}

