@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-next-exams {
  .fia-view-wrapper {
    margin-top: 30px;

    .fia-no-exams {
      font-size: 1.1em;
      color: $fia-grey-1;
    }

    .fia-exam-item-wrapper:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}
