@import 'src/sass/main';

.fia-next-exams {
  .fia-card-header {
  }

  .fia-view-wrapper {
    margin-top: 15px;

    .fia-exam-item-wrapper:not(:last-of-type) {
      margin-bottom: 20px;

      @include to-xs {
        margin-bottom: 30px;
      }
    }
  }
}

