.fe-page.curriculum .school-week-card {

  @include from-lg {
    margin-bottom: 30px !important;
  }

  @include to-lg {
    margin-bottom: 20px !important;
  }
}

.fe-page.curriculum .fe-card.school-year {
  .fe-card-header {
    display: flex;
    align-items: center;

    .fe-year-toggle {
      margin-right: 20px;
    }

    .fe-card-title {
      margin-bottom: 0;
    }
  }
}

.fe-page.curriculum mat-button-toggle-group {
  border-radius: var(--border-radius);
  border: none;
  border-color: rgba(var(--tertiary-color-rgb), .2);
  background-color: var(--background-primary);

  mat-button-toggle {
    background-color: rgba(var(--tertiary-color-rgb), .2);
    color: var(--text-color-1);
  }

  .mat-button-toggle-disabled {
    color: var(--text-color-3);
  }

  .mat-button-toggle-checked {
    background-color: var(--tertiary-color);
    color: var(--background-primary);
    font-family: Nunito-Bold, sans-serif;
  }
}

.fe-page.curriculum .fe-week-cards-wrapper {
  display: flex;
  position: relative;
  max-width: var(--max-width);

  .week-toggle-card {
    margin-bottom: 0;

    .fe-week-toggle {
      flex-direction: column;
      flex-shrink: 0;

      @include to-md {
        width: 32px;
        font-size: .9em;

        .mat-button-toggle .mat-button-toggle-label-content {
          padding: 0;
        }
      }

      .mat-button-toggle + .mat-button-toggle {
        border-left: none;
        border-top: solid 1px rgba(var(--tertiary-color-rgb), .2);
      }
    }
  }

  .fe-weeks-container {
    position: absolute;
    left: 120px;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    -webkit-appearance: none;
    scrollbar-width: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
      display: none;
    }

    @include to-md {
      margin-right: 20px;
      left: 110px;
    }

    @include to-md {
      left: 90px;
    }

    fe-school-week-card:last-of-type mat-card {
      margin-bottom: 0 !important;
    }
  }
}

.fe-year-toggle,
.fe-week-toggle {
  mat-button-toggle {
    width: 42px;
  }
}
