.fia-page.curriculum .fia-school-week-card {

  @include from-sm {
    margin-bottom: 30px !important;
  }

  @include to-sm {
    margin-bottom: 20px !important;
  }
}

.fia-page.curriculum .fia-card.school-year {
  .fia-header-wrapper {
    display: flex;
    align-items: center;

    .fia-year-toggle {
      margin-right: 20px;

      mat-button-toggle {
        background-color: rgba(var(--tertiary-color-rgb), .2);
      }

      .mat-button-toggle-checked {
        background-color: var(--tertiary-color);
      }
    }

    .fia-card-title {
      margin-bottom: 0;
    }
  }
}

.fia-page.curriculum mat-button-toggle-group {
  border-radius: var(--border-radius);
  border: none;
  border-color: rgba(var(--tertiary-color-rgb), .2);
  background-color: var(--background-primary);

  mat-button-toggle {
    background-color: rgba(var(--tertiary-color-rgb), .2);
    color: var(--text-color-1);
  }

  .mat-button-toggle-disabled {
    color: var(--text-color-3);
  }
}

.fia-page.curriculum .fia-week-cards-wrapper {
  display: flex;
  position: relative;
  max-width: 1130px;

  .week-toggle-card {
    margin-bottom: 0;

    .fia-week-toggle {
      flex-direction: column;
      flex-shrink: 0;

      @include to-md {
        width: 32px;
        font-size: .9em;

        .mat-button-toggle ::ng-deep .mat-button-toggle-label-content {
          padding: 0;
        }
      }

      .mat-button-toggle + .mat-button-toggle {
        border-left: none;
        border-top: solid 1px rgba(var(--tertiary-color-rgb), .2);
      }
    }
  }

  .fia-weeks-container {
    position: absolute;
    left: 120px;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;

    -webkit-appearance: none;
    scrollbar-width: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
      display: none;
    }

    @include to-md {
      margin-right: 20px;
      left: 110px;
    }

    @include to-md {
      left: 90px;
    }

    app-school-week-card:last-of-type ::ng-deep mat-card {
      margin-bottom: 0 !important;
    }
  }
}

.fia-page.curriculum .fia-spinner-wrapper {
  max-width: 1070px;

  .fia-loading-spinner {
    margin: 110px auto 130px !important;
  }
}
