.fe-page.dashboard {
  .fe-card {
    @include to-xs {
      margin-bottom: 20px;
    }
  }

  .fe-card:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .schedule-card {
    .fe-card-title {
    }

    .fe-view-wrapper {
      display: flex;

      @include to-lg {
        flex-direction: column;
      }
    }
  }

  .spinner-wrapper {
    max-width: var(--max-width);
    padding: 30px;
  }
}
