.page.edit-post {
  mat-card.fe-card {
    .post-content {
      fe-post-element:first-child {
        .fe-post-item {
          margin-top: 20px;
        }
      }
    }

    .elements-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      top: 20px;
      z-index: 3;
      outline: var(--progressbar-height) solid var(--tertiary-color);
      outline-offset: calc(var(--progressbar-height)  * -1);

      .elements-label {
        font-size: 1.2em;
        margin-bottom: 0;
        margin-right: 10px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }

      .element-button {
        background: transparent;
        border: 1px solid var(--tertiary-color);
        color: var(--tertiary-color);
        text-transform: uppercase;
        cursor: pointer;

        padding: 4px 6px;

        &:not(:last-of-type) {
          margin-right: 10px;
        }
      }
    }

    .button-container {
      display: flex;
      flex-direction: row-reverse;

      .fe-text-button:not(:first-of-type) {
        margin-right: 10px;
      }
    }
  }
}
