
.fe-page.landing-page {

  .description {
    color: var(--text-color-3);
    margin-top: 0;
    margin-bottom: 3px;
  }

  .welcome-banner {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    .app-icon {
      width: 220px;
      height: 220px;
      flex-shrink: 0;
      position: absolute;
      top: 20px;

      @include to-xs {
        width: 150px;
        height: 150px;
        top: 40px;
        left: -20px;
      }

      path {
        fill: var(--secondary-color);
        stroke: var(--secondary-color);
        opacity: .2;

        @include to-xs {
          opacity: .1;
        }
      }
    }

    .banner-labels {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-self: center;
      margin: 0;
      font-size: 1.2em;
      letter-spacing: 2px;
      text-align: right;
      text-transform: uppercase;

      :not(:last-of-type) {
        margin-bottom: 6px;
      }

      @include to-lg {
        font-size: 1.1em;
        line-height: 16px;
      }

      @include to-xs {
        letter-spacing: 1px;

        margin: 0;
      }

      .grey-1 { color: var(--grey-4); }
      .grey-2 { color: var(--grey-3); }
      .grey-3 { color: var(--grey-2); }
    }
  }

  .row {
    display: flex;
    max-width: 1135px;
    flex-direction: column;

    animation-name: moveInBottom;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: moveInBottom;
    -webkit-animation-duration: 500ms;
    -webkit-animation-timing-function: ease-in-out;

    @include to-xs {
      margin-bottom: 20px;
    }

    @include to-lg {
      flex-direction: column;
    }

    .fe-image-wrapper {
      .fe-landing-image {
        align-self: center;
      }
    }

    .row-labels-wrapper {
      display: flex;
      align-self: center;
    }

    .row-labels {
      display: flex;
      flex-direction: column;

      .title {
        font-size: 1.6em;
        letter-spacing: 1px;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 0;
      }

      @include to-lg {
        align-items: center;
      }

      @include to-xs {
        width: 75%;
        margin: auto;
      }

      @include from-xs {
        margin-left: 40px;
        margin-right: 40px;
      }
    }
  }

  .row.first {
    justify-content: space-between;

    .components-container {
      align-self: center;
      width: 100%;
      max-width: var(--max-width);
    }

    .row-labels-wrapper {
      margin-top: 50px;
      margin-bottom: 20px;

      @include to-xs {
        flex-direction: column;
      }
    }

    .row-labels {
      align-items: center;
      align-self: center;
      max-width: 350px;

      .education-svg {
        width: 120px;
      }

      .reading-svg {
        width: 120px;

        @include to-xs {
          margin-top: 40px;
        }
      }
    }
  }

  .row.second {
    align-items: center;

    .row-labels-wrapper {
      margin-top: 30px;
      margin-bottom: 20px;

      @include to-xs {
        flex-direction: column;
      }
    }

    .row-labels {
      align-self: center;
      max-width: 400px;

      @include to-lg {
        margin-bottom: 20px;
        margin-top: 20px;
      }

      .title {
        @include to-lg {
          align-self: baseline;
        }
      }

      .game-svg {
        width: 100px;
        margin-left: 20px;

        @include to-lg {
          margin-right: auto;
        }
      }

      .online-course-svg {
        width: 100px;
        margin-left: 20px;

        @include to-lg {
          margin-right: auto;
        }
      }
    }

    .components-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: var(--max-width);

      fe-quiz-card,
      fe-index-card,
      fe-matching-game {
        width: 100%;
      }
    }
  }

  .row.school {

    .row-labels-wrapper {
      margin-top: 40px;
      margin-bottom: 20px;

      @include to-xs {
        flex-direction: column;
      }
    }

    .row-labels {
      display: flex;
      align-items: center;
      align-self: center;
      max-width: 360px;
      margin-bottom: auto;

      &:last-child {
        @include to-xs {
          margin-top: 20px;
        }
      }

      .hardware-svg {
        vertical-align: top;
        margin-right: 5px;
      }

      .hardware-svg, .world-grid-svg {
        width: 64px;
        height: 64px;
      }

      .datenbankspeicher-svg {
        width: 96px;
        height: 96px;
      }

      .world-grid-svg {
        margin-left: 5px;
        align-self: flex-end;
      }

      .question-svg {
        width: 80px;
        height: 80px;
        color: var(--secondary-color);
      }

      .title {
        align-self: start;

        @include to-lg {
          align-self: baseline;
        }
      }
    }

    .components-container {
      align-self: center;

      @include from-lg {
        //min-width: 400px;
      }

      @include to-xs {
        width: 100%;
      }

      .fe-landing-image {
        max-width: 100%;
      }
    }
  }

  .rocket-svg,
  .education-svg,
  .reading-svg,
  .game-svg,
  .online-course-svg,
  .question-svg,
  .hardware-svg,
  .datenbankspeicher-svg,
  .world-grid-svg {
    opacity: .6;
  }

  .row.start {
    display: block;
    text-align: center;

    .row-labels {
      align-items: center;

      @include to-lg {
        margin-top: 40px;
      }

      .rocket-svg {
        width: 100px;
        height: 100px;
        font-size: 100px;
        color: var(--secondary-color);
      }
    }

    .fe-text-button {
      margin-top: 10px;
    }
  }

  .component-name-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;

    .component-name {
      font-size: 1rem;
      letter-spacing: 5px;
      text-align: center;
      text-transform: uppercase;
      opacity: .2;
      margin: 0 20px;

      @include to-xs {
        font-size: 1rem;
      }
    }

    hr {
      height: 1px;
      width: 100%;
      background: var(--text-color-1);
      opacity: .1;
    }
  }
}

.row.first {
  .weekday-group {
    .weekday-item:nth-child(1), .weekday-item:nth-child(2) {
      .fe-post-link-wrapper .post-link {
        border-right: 2px solid var(--secondary-color);
      }
    }

    .weekday-item:nth-child(3), .weekday-item:nth-child(4) {
      .fe-post-link-wrapper .post-link {
        border-right: 2px solid var(--tertiary-color);
      }
    }
  }

  .fe-next-lesson {
    .fe-post-link-wrapper .post-link.isCompleted {
      border-right: 2px solid var(--tertiary-color);
    }
  }
}
