.fe-page.login-page .fe-view-wrapper {
  display: flex;
  width: fit-content;
  margin: 40px auto;
  padding-bottom: 40px;

  @include to-md {
    flex-direction: column;
  }
}

.fe-page.login-page .fe-login-column {
  text-align: center;

  .fe-input-fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .fe-name-input {
      margin-bottom: 8px;

      ::placeholder {
        color: var(--grey-4);
      }
    }

    .fe-password-input {
      margin-bottom: 8px;
    }
  }


  .fe-buttons-wrapper {
    display: flex;
    flex-direction: column;

    .fe-loading-spinner {
      margin: 0 auto !important;
      $size: 18px;
      width: $size !important;
      height: $size !important;

      svg {
        width: $size !important;
        height: $size !important;
      }
    }

    .fe-text-button:first-child {
      margin-bottom: 20px;
    }

    //.fe-forgot-password-btn {
    //  margin-top: 15px;
    //}
  }
}

.fe-page.login-page .fe-divider-line {
  border: none;

  @include from-md {
    width: 1px;
    margin: 0 50px;
  }

  @include to-md {
    display: none;
  }
}

.fe-page.login-page .fe-register-column {
  text-align: center;
  align-self: center;

  .fe-no-account-hint {
    text-align: center;
    margin: 20px 0;
  }

  .fe-text-button:hover {
    span {
      color: var(--tertiary-color);
    }
  }
}
