.fia-page.login-page .fia-view-wrapper {
  display: flex;
  width: fit-content;
  margin: 40px auto;
  padding-bottom: 40px;

  @include to-md {
    flex-direction: column;
  }
}

.fia-page.login-page .fia-login-column {
  text-align: center;

  .fia-input-fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .fia-name-input {
      margin-bottom: 8px;

      ::placeholder {
        color: var(--grey-4);
      }
    }

    .fia-password-input {
      margin-bottom: 8px;
    }

    ::ng-deep {
      .mat-form-field-label-wrapper {
        color: green;
      }
    }
  }


  .fia-buttons-wrapper {
    display: flex;
    flex-direction: column;

    .fia-loading-spinner {
      margin: 0 auto !important;
      $size: 18px;
      width: $size !important;
      height: $size !important;

      ::ng-deep svg {
        width: $size !important;
        height: $size !important;
      }
    }

    .fia-text-button:first-child {
      margin-bottom: 20px;
    }

    //.fia-forgot-password-btn {
    //  margin-top: 15px;
    //}
  }
}

.fia-page.login-page .fia-divider-line {
  border: none;

  @include from-md {
    width: 1px;
    margin: 0 50px;
  }

  @include to-md {
    display: none;
  }
}

.fia-page.login-page .fia-register-column {
  text-align: center;
  align-self: center;

  .fia-no-account-hint {
    text-align: center;
    margin: 20px 0;
  }

  .fia-text-button:hover {
    span {
      color: var(--tertiary-color);
    }
  }
}
