.page.post .fe-card {
  .fe-card-description {
    margin-top: 5px;

    fe-post-badge {
      margin-right: 6px;
    }
  }

  .post-content {
    fe-post-element:first-child {
      .fe-post-item:not(.table) {
        margin-top: 20px;
      }
    }
  }
}
