.fe-page.register .fe-view-wrapper {
  display: flex;
  width: fit-content;
  margin: 40px auto;
  padding-bottom: 40px;

  @include to-md {
    flex-direction: column;
  }

  .fe-back-to-login-btn {
    align-self: center;

    @include from-md {
      margin-right: 0;
    }
  }
}

.fe-page.register .fe-register-column {
  text-align: center;

  @include from-lg {
    margin-right: 150px;
  }

  .fe-input-fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .fe-name-input,
    .fe-email-input {
      margin-bottom: 15px;

      ::placeholder {
        color: var(--grey-4);
      }
    }

    .fe-password-input {
      margin-bottom: 8px;
    }
  }


  .buttons-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.fe-page.register .fe-divider-line {
  border: none;

  @include from-md {
    width: 1px;
    margin: 0 50px;
  }

  @include to-md {
    display: none;
  }
}

.fe-register-column {
  text-align: center;
  align-self: center;
  margin: 30px 50px 0 auto;

  @include to-lg {
    margin: 30px auto 0;
  }

  .fe-no-account-hint {
    text-align: center;

    @include to-md {
      margin: 0;
    }
  }
}
