.fia-search-results {
  margin-top: 20px !important;
}

.search-page {
  .card-title-wrapper {
  }

  .close-search-btn {
    float: right;

    mat-icon {
      color: var(--text-color-1);
      font-size: 1.4rem;
    }

    &:hover {
      mat-icon {
        color: var(--primary-color);
      }
    }
  }
}
