.fia-page.subjects .fia-card-title {
  margin-bottom: 20px;
}

.fia-page.subjects .topic-description {
  display: inline-flex;
  flex-flow: wrap;
  margin-bottom: 10px;

  > app-post-element:not(:first-of-type) {
    margin-right: 40px;
    margin-bottom: 20px;
  }

  app-post-element ::ng-deep {
    p, ul {
      color: var(--text-color-2);
    }

    p:first-of-type {
      margin-top: 0;
    }

    ul {
      margin-top: 0;

      list-style: none;
      li::before {
        content: '\25AA';
        color: var(--tertiary-color);
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }

    .post-ul-content {
      text-decoration: underline;
    }
  }
}

.fia-page.subjects .fia-topic {
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .fia-topic-title {
    padding: 8px 12px;
    line-height: 20px;
    border-bottom: 1px solid var(--grey-1);
    font-family: Nunito-Bold, sans-serif;
    background: var(--background-secondary);
    border-top-left-radius: var(--button-radius);
    border-top-right-radius: var(--button-radius);

    @include from-md {
      margin-bottom: 0;
    }
  }

  .fia-links {
    margin-top: 10px;
  }
}
