.fe-page.subjects .fe-card-title {
  margin-bottom: 20px;
}

.fe-page.subjects .topic-description {
  display: inline-flex;
  flex-flow: wrap;
  margin-bottom: 10px;

  > fe-post-element:not(:first-of-type) {
    margin-right: 40px;
    margin-bottom: 20px;
  }

  fe-post-element {
    p, ul {
      color: var(--text-color-2);
    }

    p:first-of-type {
      margin-top: 0;
    }

    .post-ul-content {
      display: flex;
      text-decoration: underline;
    }

    .post-list {
      margin-top: 0;
    }
  }
}

.fe-page.subjects .fe-topic {
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .fe-topic-title {
    background: rgba(var(--tertiary-color-rgb), .1);
    padding: 10px 12px;
    font-family: Nunito-Bold, sans-serif;
    line-height: 20px;
    border-bottom: 1px solid var(--grey-1);
    border-top-left-radius: var(--button-radius);
    border-top-right-radius: var(--button-radius);

    @include from-md {
      margin-bottom: 0;
    }
  }

  .fe-links {
    margin-top: 10px;
  }
}
