.fe-page.verify {
  .fe-view-wrapper {
    margin-top: 20px;
  }

  .verify-form {
    text-align: center;
    margin: auto;

    @include from-xs {
      max-width: 50%;
    }

    .input {
      margin-bottom: 10px;
    }

    .buttons-wrapper {
      margin: auto;

      p {
        margin-top: 40px;
      }
    }
  }

  .verification-succeed-container p {
    text-align: center;
    margin-top: 20px;
  }
}
