.fe-page.verify .fe-verify-form {
  text-align: center;
  margin: 40px auto;

  @include from-xs {
    max-width: 50%;
  }

  .fe-buttons-wrapper {
    margin: auto;

    .fe-text-button {
      width: 130px;
      margin-top: 10px;
    }

    .fe-loading-spinner {
      margin: 0 auto !important;
      $size: 18px;
      width: $size !important;
      height: $size !important;

      svg {
        width: $size !important;
        height: $size !important;
      }
    }
  }
}
