.fe-page.verify .fe-verify-form {
  text-align: center;
  margin: 40px auto;

  @include from-xs {
    max-width: 50%;
  }

  .fe-input {
    margin-bottom: 10px;
  }

  .buttons-wrapper {
    margin: auto;

    p {
      margin-top: 40px;
    }
  }
}
