@import "mixins";

:host {
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  flex-shrink: 0;
  padding: 6px 8px;
  border-radius: 4px;

  &.article {
    background-color: rgba(var(--tertiary-color-rgb), 0.15);
    box-shadow: 0px 0px 3px rgba(var(--tertiary-color-rgb), 0.3) inset;
    color: var(--tertiary-color);
  }
  &.tasks {
    background-color: rgba(var(--grey-4-rgb), 0.25);
    box-shadow: 0px 0px 3px var(--grey-3) inset;
    color: var(--text-color-3);
  }
  &.index-cards {
    background-color: rgba(var(--secondary-color-rgb), 0.15);
    box-shadow: 0px 0px 3px rgba(var(--secondary-color-rgb), 0.4) inset;
    color: var(--secondary-color);
  }
  &.quiz {
    background-color: rgba(var(--primary-color-rgb), 0.15);
    box-shadow: 0px 0px 3px rgba(var(--primary-color-rgb), 0.3) inset;
    color: var(--primary-color);
  }
  &.matching {
    background-color: rgba(limegreen, 0.1);
    box-shadow: 0px 0px 3px rgba(limegreen, 0.3) inset;
    color: limegreen;
  }
  &.test {
    background: rgba(var(--tertiary-color-rgb), 0.7);
    box-shadow: 0px 0px 3px var(--tertiary-color) inset;
    color: var(--background-primary);
  }
}
