@import "src/styles/mixins";
@import "src/styles/breakpoints";

.fe-nav-link.mat-list-item {
  background: transparent;
  height: fit-content;
  width: 100%;
  max-width: 180px;
  margin-top: 3px;
  margin-bottom: 3px;

  $nav-link-icon-fade-duration: color 100ms ease-in-out;

  .nav-item-icon {
    margin-right: 10px;
    $size: 1.5em;
    width: $size;
    height: $size;
    color: var(--tertiary-color);
    transition: none;
    flex-shrink: 0;
  }

  &:hover,
  &:focus {
    @include from-md {
      .nav-item-icon {
        color: var(--text-color-1);
        transition: $nav-link-icon-fade-duration;
      }
    }
  }

  &.active-route,
  &:active {
    .nav-item-icon {
      color: var(--text-color-1);
    }
  }

  span {
    padding: 6px 2px;

    @include from-xs {
      line-height: 16px;
    }

    @include to-xs {
      width: 100%;
      padding: 7px 2px;
      line-height: 14px;
    }
  }

  $duration: 0.2s;
  $distance: 8px;
  $easeOutBack: cubic-bezier(0.175, 1.585, 0.32, 1.275);

  @include from-md {
    &:not(.active-route) span {
      position: relative;

      &:focus,
      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: 1px;
        left: 0;
        right: 0;
        height: 1px;
        background-color: rgba(var(--secondary-color-rgb), 0.8);
      }
      &:before {
        opacity: 0;
        transform: translateY(-$distance);
        transition: transform 0s $easeOutBack, opacity 0s;
      }
      &:after {
        opacity: 0;
        transform: translateY(calc($distance / 2));
        transition: transform $duration $easeOutBack, opacity $duration;
      }
    }

    &:focus,
    &:hover {
      span {
        &:before,
        &:after {
          opacity: 1;
          transform: translateY(-3px);
        }
        &:before {
          transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
          transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
      }
    }
  }
}
