<section class="my-class" *ngIf="user.isAuthenticated">
  <label class="section-title">Meine Klasse</label>
  <mat-nav-list>
    <ng-container *ngFor="let navItem of myClass">
      <fe-nav-link
        *ngIf="!navItem.url.startsWith('http://')"
        [item]="navItem"
        [router-link]="navItem.url"
      ></fe-nav-link>
      <fe-nav-link *ngIf="navItem.url.startsWith('http://')" [item]="navItem" [href-link]="navItem.url"></fe-nav-link>
    </ng-container>
  </mat-nav-list>
</section>

<section class="subjects">
  <label class="section-title">Lernfelder</label>
  <mat-nav-list>
    <fe-nav-link *ngFor="let navItem of subjects" [item]="navItem" [router-link]="navItem.url"></fe-nav-link>
  </mat-nav-list>
</section>

<section class="basics">
  <label class="section-title">Grundlagen</label>
  <mat-nav-list>
    <fe-nav-link *ngFor="let navItem of basics" [item]="navItem" [router-link]="navItem.url"></fe-nav-link>
  </mat-nav-list>
</section>

<section class="languages">
  <label class="section-title">Sprachen</label>
  <mat-nav-list>
    <fe-nav-link
      *ngFor="let navItem of languages"
      [item]="navItem"
      [router-link]="navItem.url"
      [disabled]="true"
    ></fe-nav-link>
  </mat-nav-list>
</section>

<ng-container *ngIf="user.isAuthenticated">
  <hr class="horizontal secondary" />

  <section class="apps">
    <a
      class="fe-button"
      routerLink="pruefungs-simulator"
      [class.active-route]="router.url.startsWith('/pruefungs-simulator')"
      matRipple
    >
      Prüfungssimulator
    </a>
  </section>
</ng-container>
