@import "mixins";

:host {
  display: block;
  margin: 20px 15px 50px;

  @include to-xs {
    margin-bottom: 40px;
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  @include to-md {
    min-width: 125px;
  }

  label.section-title {
    width: fit-content;
    color: var(--text-color-2);
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid var(--primary-color);
    padding: 0 5px 3px;
  }

  mat-nav-list.mat-nav-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;

    ::ng-deep a.nav-link {
      color: var(--text-color-3);
      font-size: 0.8rem;
      letter-spacing: 1px;

      &.active-route {
        color: var(--text-color-1);
      }
    }
  }
}

section.apps {
  text-align: center;
}

hr {
  margin-bottom: 20px;
}
