@import 'src/theme/styles';
@import 'src/theme/mixins';

::ng-deep .fia-school-week-card {

  @include from-sm {
    margin-bottom: 30px !important;
  }

  @include to-sm {
    margin-bottom: 20px !important;
  }
}

.fia-loading-spinner {
  margin: 110px auto 130px !important;
}
