<div class="fe-page curriculum">
  <mat-card class="fe-card school-year">
    <div class="fe-card-header">
      <mat-button-toggle-group class="fe-year-toggle" [(ngModel)]="selectedYear" aria-label="School Year" (ngModelChange)="setInitialWeek()">
        <mat-button-toggle [value]="0">1</mat-button-toggle>
        <mat-button-toggle [value]="1">2</mat-button-toggle>
        <mat-button-toggle [value]="2" disabled>3</mat-button-toggle>
      </mat-button-toggle-group>
      <div class="fe-title-description-wrapper">
        <p class="fe-card-title">Schuljahr</p>
      </div>
    </div>
  </mat-card>
  <div class="fe-week-cards-wrapper" *ngIf="schoolYears !== undefined">
    <mat-card class="fe-card week-toggle-card">
      <mat-button-toggle-group class="fe-week-toggle" [(ngModel)]="selectedWeek" aria-label="School Week" (ngModelChange)="changeWeek(selectedWeek)">
        <mat-button-toggle *ngFor="let week of schoolYears[selectedYear]?.weeks" [value]="toNumber(week.schoolWeek)">
          {{week.schoolWeek}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card>
    <div class="fe-weeks-container" (scroll)="onScroll()">
      <fe-school-week-card [class]="'week-' + week.schoolWeek" *ngFor="let week of schoolYears[selectedYear]?.weeks" [week]="week"></fe-school-week-card>
    </div>
  </div>
  <fe-loading-spinner *ngIf="schoolYears === undefined"></fe-loading-spinner>
</div>
