@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-exam-item {
  display: flex;
  flex-direction: column;

  .fia-icon-details-title-wrapper {
    display: flex;
    align-items: center;

    @include to-sm {
      align-items: start;
      flex-direction: column-reverse;
    }

    .fia-icon-details {
      display: flex;
      align-items: center;
      background: rgba($fia-third-color-rgb, 0.25);
      padding: 10px 10px 10px 25px;
      margin-left: -30px;

      @include to-sm {
        padding: 10px 10px 10px 35px;
      }

      .fia-exam-item-icon {
        margin-right: 15px;
        align-self: flex-end;
        color: $fia-third-color;
        $size: 40px;
        font-size: $size;
        width: $size;
        height: $size;
      }
    }

    .details-button-wrapper {
      display: flex;
      flex-direction: column;
      margin-right: 5px;

      .fia-details-wrapper {
        display: flex;
        justify-content: space-between;
        font-size: .85em;

        .date,
        .weekday {
          width: 105px;
          letter-spacing: 1px;
          margin-bottom: 1px;
        }

        .weekday {
          text-align: right;
        }
      }

      .fia-show-lessons-btn {
        background: $fia-third-color;
        cursor: pointer;
        border: none;
        outline: none;
        padding: 4px 8px;

        color: black;
        font-size: .8em;
        font-family: Raleway-Bold, sans-serif;
        letter-spacing: 1px;
        text-transform: uppercase;

        &.is-open {
          background: rgba($fia-grey-1, 0.5);
        }

        &:hover {
          @include from-md {
            //color: white;
          }
        }
      }
    }

    .fia-exam-title-wrapper {

      .fia-exam-subject {
        margin-bottom: 0;

        @include to-xs {
          font-size: .9em;
        }
      }

      .fia-exam-subject, .fia-exam-title {

        @include from-sm {
          margin-left: 20px;
        }

        @include to-sm {
          margin-left: 10px;
        }
      }

      .fia-exam-title {
        font-size: 1.1em;
        letter-spacing: 1px;
        flex-grow: 1;

        @include from-sm {
          margin-bottom: 0;
        }

        @include to-xs {
          font-size: 1em;
        }
      }
    }

  }

  .fia-lessons-container {
    padding-top: 15px;
    margin-left: 50px;
    position: relative;

    .fia-vertical-line {
      width: 3px;
      background: rgba($fia-third-color-rgb, 0.25) !important;
      border: none;
      position: absolute;
      top: -7px;
      left: -36px;
      bottom: 9px;

      @include to-sm {
        bottom: 26px;
      }

      @include to-md {
        bottom: 41px;
      }

      @include to-xs {
        bottom: 34px;
      }
    }

    .fia-lesson-wrapper {
      position: relative;

      .fia-horizontal-line {
        height: 3px;
        width: 33px;
        background: rgba($fia-third-color-rgb, 0.25) !important;
        border: none;
        position: absolute;
        top: 10px;
        left: -33px;
      }
    }
  }
}
