<div class="fia-exam-item">
  <div class="fia-icon-details-title-wrapper">
    <div class="fia-icon-details">
      <mat-icon class="fia-exam-item-icon">insert_invitation</mat-icon>
      <div class="details-button-wrapper">
        <div class="fia-details-wrapper">
          <p class="date">{{exam.date | date:'dd.MM.yyyy'}} <span class="bracket">|</span> {{exam.date | date: 'EEEE'}}</p>
          <p class="days-left" *ngIf="daysLeft !== null">{{daysLeft(exam.date)}}</p>
        </div>
        <button class="btn-show-lessons" (click)="showLessons()" [class.is-open]="lessonsVisible"
                [disabled]="lessonsVisible && examLessons === undefined"
        >
          <span>Lektionen anzeigen</span>
        </button>
      </div>
    </div>
    <div class="fia-exam-title-wrapper">
      <p class="fia-exam-subject" [innerHTML]="fullSubjectName(exam.subject)"></p>
      <p class="fia-exam-title">{{exam.title}}</p>
    </div>
  </div>
  <div class="fia-lessons-container" *ngIf="lessonsVisible">
    <div class="fia-lesson-wrapper" *ngFor="let lesson of examLessons; let i = index;">
      <hr class="fia-horizontal-line">
      <hr class="fia-vertical-line">
      <app-post-link [post]="lesson"></app-post-link>
    </div>
    <mat-spinner class="fia-loading-spinner" *ngIf="lessonsVisible && examLessons === undefined"></mat-spinner>
  </div>
</div>
