<mat-card class="fia-card">
  <p class="fia-card-title" *ngIf="quiz !== undefined"
     [innerHTML]="quiz.title"></p>
  <p class="fia-card-description" *ngIf="quiz !== undefined">
    <span [innerHTML]="quiz.description"></span>
    <app-post-badge [post]="quiz"></app-post-badge>
  </p>
  <mat-card-content class="fia-card-content" *ngIf="quiz !== undefined">
    <div class="fia-quiz">
      <div class="fia-content-wrapper">
        <div class="quiz-details">
          <div class="quiz-level">
            <p class="key">Frage</p>
            <p class="value">{{level+1}} von {{quiz.questions.length}}</p>
          </div>
          <div class="fia-answer-indicator" [class.correct]="isCorrectAnswer === true" [class.wrong]="isCorrectAnswer === false">
            <svg class="correct" *ngIf="isCorrectAnswer === true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke-width="8" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
              <polyline class="path check" fill="none" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
            </svg>
            <svg class="wrong" *ngIf="isCorrectAnswer === false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
              <circle class="path circle" fill="none" stroke-width="8" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
              <line class="path line first" fill="none" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
              <line class="path line second" fill="none" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
            </svg>
          </div>
          <div class="quiz-wrong-answers">
            <p class="key">Fehler</p>
            <p class="value">{{wrongAnswers}}</p>
          </div>
        </div>
        <div class="quiz-question" *ngIf="!end">
          <p class="label" [innerHTML]="quiz.questions[level].question"></p>
          <div class="fia-quiz-answers-wrapper" [class.is-checking-answer]="answer !== undefined">
            <button class="fia-quiz-answer answer-1" [innerHTML]="quiz.questions[level].choice1" (click)="checkAnswer(1)"
               [class.correct]="answer === 1 && quiz.questions[level].answer === 1"
               [class.wrong]="answer === 1 && quiz.questions[level].answer === 2"
            ></button>
            <button class="fia-quiz-answer answer-2" [innerHTML]="quiz.questions[level].choice2" (click)="checkAnswer(2)"
               [class.correct]="answer === 2 && quiz.questions[level].answer === 2"
               [class.wrong]="answer === 2 && quiz.questions[level].answer === 1"
            ></button>
          </div>
        </div>
        <div class="fia-quiz-end" *ngIf="end">
          <p class="fia-quiz-done-label">Fertig</p>
          <div class="fia-quiz-end-wrapper">
            <p [innerHTML]="wrongAnswers > 6 ? finishTexts[6] : finishTexts[wrongAnswers]"></p>
            <span class="fia-emoji" *ngIf="wrongAnswers > 0">{{finishEmojis[wrongAnswers > 6 ? 6 : wrongAnswers]}}</span>
            <div class="congrat-emoji" *ngIf="wrongAnswers === 0">
              <div class="success-animation">
                <svg class="success-mark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" fill="transparent">
                  <circle class="success-mark__circle" cx="26" cy="26" r="25"/>
                  <path class="success-mark__check" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                </svg>
              </div>
            </div>
          </div>
          <button class="fia-text-button" (click)="resetLevel()">
            <span>Neustarten</span>
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
  <p class="fia-post-last-update" *ngIf="quiz !== undefined">
    Letzte Aktualisierung: {{quiz.lastUpdate | date:'dd.MM.yyyy'}}
  </p>
</mat-card>
