@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-exams-view {
  display: flex;

  @include to-sm {
    flex-direction: column;
  }

  .fia-calendar-column {
    width: 250px;
    margin-right: 20px;
    flex-shrink: 0;

    @include from-sm {
      padding-right: 20px;
      border-right: 1px solid $fia-grey-1;
    }

    @include to-sm {
      margin-bottom: 20px;
    }

    .mat-calendar ::ng-deep {
      color: white;

      .highlighted {
        .mat-calendar-body-cell-content {
          background: rgba($fia-secondary-color-rgb, 0.5);
        }
      }

      .mat-calendar-table-header, .mat-calendar-body-label {
        color: $fia-grey-1;
      }

      .mat-calendar-body-active .mat-calendar-body-cell-content {
        border-color: $fia-grey-1;
      }

      .mat-calendar-previous-button.mat-button-disabled,
      .mat-calendar-next-button.mat-button-disabled {
        color: $fia-grey-1;
      }

      .mat-calendar-body-cell-content, .mat-date-range-input-separator {
        color: white;
      }

      .mat-calendar-body-disabled > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
        color: $fia-grey-1;
      }

      .mat-calendar-table-header-divider::after {
        background: $fia-grey-1;
      }

      .mat-calendar-arrow {
        border-top-color: white;
      }
    }
  }
  .fia-exams-column {
    width: 100%;
    margin-top: 20px;

    .fia-exam:not(:last-of-type) {
      ::ng-deep {
        .fia-exam-item {
          margin-bottom: 20px;
        }
      }
    }

    ::ng-deep .fia-exam-item {
      .fia-lesson-wrapper {
        .fia-horizontal-line, .fia-vertical-line-1, .fia-vertical-line-2 {
          @include from-xs {
            left: -27px !important;
          }
          @include to-xs {
            left: -30px !important;
          }
        }

        .fia-horizontal-line {
          @include from-xs {
            width: 27px !important;
          }

          @include to-xs {
            width: 30px !important;
          }
        }
      }
    }

    .fia-no-data {
      padding: 10px;
    }
  }
}


::ng-deep .fia-exams-view .fia-icon-details-title-wrapper {
  flex-direction: column-reverse;
  align-items: self-end !important;

  .fia-icon-details {
    margin-left: -20px !important;
    //padding-left: 10px !important;
  }

  .fia-exam-title-wrapper {
    margin-bottom: 5px;

    .fia-exam-subject, .fia-exam-title {
      margin-left: 10px !important;
    }
  }
}

::ng-deep .light-theme .fia-exams-view {
  .fia-calendar-column {
    border-color: $fia-grey-4 !important;
  }

  ::ng-deep .mat-calendar {
    color: black !important;

    .mat-calendar-table-header-divider::after {
      background: $fia-grey-4 !important;
    }

    .mat-calendar-body-active .mat-calendar-body-cell-content {
      border-color: $fia-grey-3 !important;
    }

    .mat-calendar-previous-button.mat-button-disabled,
    .mat-calendar-next-button.mat-button-disabled {
      color: $fia-grey-1;
    }

    :not(.mat-calendar-body-disabled) > .mat-calendar-body-cell-content, .mat-date-range-input-separator {
      color: black !important;
    }

    .mat-calendar-period-button {
      .mat-button-wrapper {
        font-size: 0;
      }

      .mat-calendar-arrow {
        border-top-color: black !important;
        margin: 0;
      }
    }
  }
}
