@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-schedule-table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 20px;

  @include to-xs {
    margin: auto;
  }

  tbody {
    display: flex;
    font-size: .9em;

    tr {
      display: flex;
      flex-direction: column;

      &:not(:last-of-type) {
        border-right: 1px solid var(--grey-1);
      }

      th {
        min-height: 20px;
        border-bottom: 1px solid var(--grey-1);

        @include to-md {
          font-size: .8em;
        }
      }

      th, td {
        padding: 8px;

        @include to-tiny {
          padding: 6px;
        }
      }

      td {
        display: flex;
        flex-direction: column;
        min-height: 61px;
        justify-content: center;
        text-align: center;

        &:nth-child(2), &:nth-child(3), &:nth-child(4) {
          border-bottom: 1px solid rgba(var(--grey-1-rgb), .5);
        }

        @include to-md {
          font-size: .9em;
        }

        .fia-hour-subject,
        .fia-hour-teacher,
        .fia-hour-room {
        }

        .fia-hour-room {
          font-size: .8em;

          @include to-md {
            font-size: .7em;
          }
        }

        .fia-hour-subject {
          color: var(--text-color-1);

          @include from-sm {
            min-width: 50px;
          }

          @include to-sm {
            white-space: nowrap;
          }
        }

        .fia-hour-teacher {
          font-size: .9em;

          @include to-md {
            font-size: .8em;
          }
        }

        .fia-hour-room,
        .fia-hour-teacher {
          color: var(--grey-3);
          line-height: 12px;
        }
      }

      .fia-schedule-header {
        color: var(--grey-3);
      }

      .fia-schedule-header,
      .fia-schedule-time {
      }

      .fia-schedule-time {
        text-align: left;
        color: var(--text-color-1);

        @include from-xs {
          min-width: 50px;
        }

        @include to-xs {
          font-size: .7em;
        }
      }
    }
  }
}
