@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-schedule-table {
  border-collapse: collapse;
  table-layout: fixed;

  tbody {
    display: flex;

    tr {
      display: flex;
      flex-direction: column;

      &:not(:last-of-type) {
        border-right: 1px solid $fia-grey-4;
      }

      th {
        min-height: 20px;
        border-bottom: 1px solid $fia-grey-4;

        @include to-md {
          font-size: .8em;
        }
      }

      th, td {
        padding: 8px;

        @include to-md {
          padding: 6px;
        }
      }

      td {
        display: flex;
        flex-direction: column;
        min-height: 40px;
        justify-content: center;
        text-align: center;

        @include to-md {
          font-size: .9em;
        }

        .fia-hour-subject,
        .fia-hour-teacher {
        }

        .fia-hour-subject {

          @include from-sm {
            min-width: 50px;
          }

          @include to-sm {
            white-space: nowrap;
          }
        }

        .fia-hour-teacher {
          color: $fia-grey-2;
          font-size: .9em;
          line-height: 12px;

          @include to-md {
            font-size: .8em;
          }
        }
      }

      .fia-schedule-header {
        color: $fia-grey-2;
      }

      .fia-schedule-header,
      .fia-schedule-time {
      }

      .fia-schedule-time {
        text-align: left;
        color: black;

        @include from-xs {
          min-width: 50px;
        }

        @include to-xs {
          font-size: .7em;
        }
      }
    }
  }
}
