<div class="header-wrapper">
  <section class="sidenav">
    <a
      class="start-button"
      [routerLink]="isMobile ? mobileLogoLink : '/'"
      matRipple
      [class.active-route]="
        router.url === '/' || router.url === '/login' || (isMobile && !sidenav.isOpen() && router.url === '/dashboard')
      "
    >
      <fe-app-icon></fe-app-icon>
    </a>
  </section>
  <section class="main">
    <div class="page-title" (click)="goToSubject()" *ngIf="!isTiny || (isTiny && !sidenav.isOpen())">
      <mat-icon class="unselectable" *ngIf="!isMobile">chevron_right</mat-icon>
      <p class="title" [innerHTML]="header.pageTitle"></p>
    </div>
    <div class="header-elements-wrapper">
      <fe-hamburger-icon
        class="sidenav-btn"
        [isOpen]="sidenav.isOpen()"
        (click)="sidenav.toggle()"
        *ngIf="isMobile"
      ></fe-hamburger-icon>
      <a
        class="fe-button secondary dashboard-btn"
        matRipple
        [routerLink]="user.isAuthenticated ? '/dashboard' : '/login'"
        [class.active-route]="router.url.startsWith('/dashboard') || router.url.startsWith('/login')"
      >
        {{ user.isAuthenticated ? "Dashboard" : "Schülerbereich" }}
      </a>
      <fe-header-menu></fe-header-menu>
      <fe-search-field *ngIf="!isMobile"></fe-search-field>
    </div>
  </section>
</div>
