<ng-container *ngIf="{ mobile: mediaQuery.isMobile$ | async, tiny: mediaQuery.isTiny$ | async } as is">
  <mat-toolbar class="header-toolbar" [class.sidenav--open]="is.mobile && sidenav.isOpen()">
    <div class="header-wrapper">
      <div class="sidenav-section">
        <a
          class="app-icon"
          [routerLink]="is.mobile ? mobileLogoLink : '/'"
          matRipple
          [class.active-route]="
            router.url === '/' ||
            router.url === '/login' ||
            (is.mobile && !sidenav.isOpen() && router.url === '/dashboard')
          "
        >
          <fe-icon></fe-icon>
        </a>
      </div>
      <div class="header-content">
        <div class="page-title" (click)="goToSubject()" *ngIf="!is.tiny || (is.tiny && !sidenav.isOpen())">
          <mat-icon class="unselectable" *ngIf="!is.mobile">chevron_right</mat-icon>
          <p class="title" [innerHTML]="header.pageTitle"></p>
        </div>
        <div class="header-elements-wrapper">
          <fe-hamburger-icon
            class="sidenav-btn"
            [isOpen]="sidenav.isOpen()"
            (click)="sidenav.toggle()"
            *ngIf="is.mobile"
          ></fe-hamburger-icon>
          <a
            class="fe-button dashboard-btn"
            matRipple
            [routerLink]="user.isAuthenticated ? '/dashboard' : '/login'"
            [class.active-route]="router.url.startsWith('/dashboard') || router.url.startsWith('/login')"
          >
            {{ user.isAuthenticated ? "Dashboard" : "Schülerbereich" }}
          </a>
          <fe-header-menu></fe-header-menu>
          <fe-search-field *ngIf="!is.mobile"></fe-search-field>
        </div>
      </div>
    </div>
  </mat-toolbar>
</ng-container>
