<hr class="horizontal" />
<div class="pagination-bar">
  <ng-container *ngIf="!(isFirstPaginationPage && isLastPaginationPage)">
    <button
      class="first-btn"
      (click)="goToFirstPage()"
      [disabled]="isFirstPaginationPage"
      [style.opacity]="isFirstPaginationPage ? disabledOpacity : null"
    >
      <ion-icon class="delete-icon" name="play-back"></ion-icon>
    </button>
    <button
      class="back-btn"
      (click)="goToPreviousPage()"
      [disabled]="isFirstPaginationPage"
      [style.opacity]="isFirstPaginationPage ? disabledOpacity : null"
    >
      <ion-icon class="delete-icon" name="caret-back"></ion-icon>
    </button>
  </ng-container>

  <button
    class="page-btn unselectable"
    *ngFor="let page of paginationPage | pageButtons: buttonsPerPage:totalPages"
    [class.is-selected]="page === currentPage"
    (click)="goTo(page)"
  >
    {{ page + 1 }}
  </button>

  <ng-container *ngIf="isFirstPaginationPage && isLastPaginationPage">
    <mat-spinner *ngIf="isLoading" diameter="24"></mat-spinner>
  </ng-container>

  <ng-container *ngIf="!(isFirstPaginationPage && isLastPaginationPage)">
    <button
      class="forward-btn"
      (click)="goToNextPage()"
      [disabled]="isLastPaginationPage"
      [style.opacity]="isLastPaginationPage ? disabledOpacity : null"
    >
      <ion-icon class="delete-icon" name="caret-forward-outline"></ion-icon>
    </button>
    <button
      class="last-btn"
      (click)="goToLastPage()"
      [disabled]="isLastPaginationPage"
      [style.opacity]="isLastPaginationPage ? disabledOpacity : null"
    >
      <ion-icon class="delete-icon" name="play-forward"></ion-icon>
    </button>
  </ng-container>
</div>
