<div class="fe-page forgot-password-page">
  <mat-card class="fe-card">
    <p class="fe-card-title">Passwort zurücksetzen</p>
    <mat-card-content class="fe-view-wrapper">
      <p class="label">
        Gib deine E-Mail Adresse ein um einen Verifizierungscode zu versenden,
        anschließend hast du die Möglichkeit dein Passwort zu ändern.
      </p>

      <form class="email-form" [formGroup]="emailFormGroup" (ngSubmit)="sendVerificationCode()" (change)="onFormChange($event)" *ngIf="!isEmailSent">
        <div class="form-inputs">
          <div class="input-wrapper">
            <mat-form-field class="input email">
              <mat-label>E-Mail</mat-label>
              <input matInput type="email" autocomplete="off" [formControl]="email" #emailInput="matInput" (keyup)="email.setValue(emailInput.value)" />
              <mat-error *ngIf="email.hasError('required')">E-Mail ist erforderlich</mat-error>
              <mat-error *ngIf="email.hasError('email')">E-Mail ist ungültig</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="buttons-wrapper">
          <fe-button-state type="submit" [isLoading]="isSubmitLoading">Verifizierungscode senden</fe-button-state>
        </div>
      </form>

      <form class="password-form" [formGroup]="passwordFormGroup" (ngSubmit)="changeUserPassword()" (change)="onFormChange($event)" *ngIf="isEmailSent">
        <div class="form-inputs">
          <div class="input-wrapper">
            <mat-form-field class="input code">
              <mat-label>Verifizierungscode</mat-label>
              <input matInput type="text" pattern="\d*" autocomplete="off" [formControl]="verificationCode" #verificationCodeInput/>
              <mat-error *ngIf="verificationCode.hasError('required')">
                Verifizierungscode erforderlich
              </mat-error>
              <mat-error *ngIf="verificationCode.hasError('incorrect')">
                Verifizierungscode ungültig
              </mat-error>
            </mat-form-field>

            <mat-form-field class="input password">
              <mat-label>Passwort</mat-label>
              <input matInput type="password" [formControl]="password"/>
              <mat-error *ngIf="password.hasError('password') && !password.hasError('required')">
                Neues Passwort ungültig
              </mat-error>
              <mat-error *ngIf="password.hasError('minlength')">
                Neues Passwort zu kurz (min. 4 Zeichen)
              </mat-error>
              <mat-error *ngIf="password.hasError('required')">
                Neues Passwort erforderlich
              </mat-error>
            </mat-form-field>

            <mat-form-field class="input confirm-password">
              <mat-label>Passwort bestätigen</mat-label>
              <input matInput type="password" [formControl]="confirmPassword"/>
              <mat-error *ngIf="confirmPassword.hasError('password') && !confirmPassword.hasError('required')">
                Neues Passwort bestätigen ungültig
              </mat-error>
              <mat-error *ngIf="confirmPassword.hasError('minlength')">
                Neues Passwort bestätigen zu kurz (min. 4 Zeichen)
              </mat-error>
              <mat-error *ngIf="confirmPassword.hasError('required')">
                Neues Passwort bestätigen erforderlich
              </mat-error>
              <mat-error *ngIf="confirmPassword.hasError('match')">
                Neues Passwort und Neues Passwort bestätigen stimmen nicht überein
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="buttons-wrapper">
          <fe-button-state type="submit" [isLoading]="isSubmitLoading">Bestätigen</fe-button-state>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
