<fe-card
  [title]="matching.title"
  [type]="matching.type"
  [date]="matching.lessonDate"
  [lastUpdate]="matching.lastUpdate"
>
  <div id="game" #gameView [class.correct]="isCorrect === true" [class.wrong]="isCorrect === false">
    <p class="game-introduction">Setze die Karten in die richtige Reihenfolge und klicke auf Verbinden.</p>
    <h2 class="round-label">{{ round + 1 }}/{{ matching.elements.length }}</h2>
    <div class="container unsolved" *ngIf="unsolvedPairs.length > 0 && state !== 'end'">
      <div class="match-pair-side left" (cdkDropListDropped)="drop($event, leftSidePairs)" cdkDropList #slideInLeft>
        <button
          class="match-card unselectable cdk-drag-animating"
          *ngFor="let pair of leftSidePairs"
          [disabled]="isCorrect !== undefined"
          cdkDrag
        >
          {{ pair.leftpart }}
        </button>
      </div>
      <div class="connector-container">
        <div class="connector-wrapper" *ngFor="let pair of unsolvedPairs">
          <div id="horizontal-connector"></div>
        </div>
      </div>
      <div class="vertical-connector"></div>
      <div class="match-pair-side right" (cdkDropListDropped)="drop($event, rightSidePairs)" cdkDropList #slideInRight>
        <button
          class="match-card unselectable cdk-drag-animating"
          *ngFor="let pair of rightSidePairs"
          [disabled]="isCorrect !== undefined"
          cdkDrag
        >
          {{ pair.rightpart }}
        </button>
      </div>
    </div>
    <button
      class="fe-button"
      *ngIf="state === 'play'"
      (click)="checkResult()"
      [disabled]="isCorrect !== undefined"
      matRipple
    >
      Verbinden
    </button>
    <ng-container *ngIf="state === 'end'">
      <h1 class="finish-label">Lektion abgeschlossen</h1>
      <button class="fe-button" (click)="restartGame()" matRipple>Neustarten</button>
    </ng-container>
  </div>
</fe-card>
