@import "mixins";

:host {
  display: block;
  background-color: var(--background-secondary);

  .ng-animating {
    transform: translateY(-5px);
  }
}

.main-content {
  background: var(--background-secondary);
  padding: 20px 20px 20px 0;

  @include to-md {
    padding-left: 0;
    padding-right: 0;
  }
}
