<mat-card class="fe-card lesson-footer" *ngIf="authService.user !== null">
  <div class="button-container">
    <fe-button-state *ngIf="postId !== undefined" [isLoading]="isLoading && !(postId | alreadyRead)" [disabled]="isLoading || (postId | alreadyRead)" (click)="authService.setLessonSolved(postId)">
      Als gelesen markieren
    </fe-button-state>
    <button class="fe-text-button" *ngIf="authService.user && authService.user.role === UserRole.ADMIN" routerLink="edit">
      <span>Artikel bearbeiten</span>
    </button>
  </div>
</mat-card>
