.page.dashboard {
  .fe-card {
    @include to-xs {
      margin-bottom: 20px;
    }
  }

  .fe-card:not(:last-of-type) {
    margin-bottom: 20px;
  }

  .spinner-wrapper {
    max-width: var(--max-width);
    padding: 30px;
  }
}
