.page.forgot-password {
  .card-content {
    .buttons-wrapper,
    .input-wrapper {
      display: flex;
      flex-direction: column;
      width: fit-content;
      margin: auto;

      .mat-form-field {
        margin-bottom: 20px;
      }
    }

    .info-label {
      margin: 10px 0 20px;
    }
  }
}
