/* BASIC RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.mat-drawer-container,
.mat-card {
  color: inherit;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  box-sizing: border-box;
  background: var(--background-primary);

  &.scroll-locked {
    overflow: hidden;
  }
}

hr {
  background: var(--grey-1);
  border: none;
}

mat-toolbar.mat-toolbar {
  font-size: 1rem;

  h4 {
    font-size: 1.2rem;

    @include to-xs {
      font-size: 1.1rem;
    }
  }
}

.mat-ripple-element {
  background-color: rgba(var(--tertiary-color-rgb), 0.2);
}

mat-slide-toggle.theme-toggle {
  align-self: center;

  .mat-slide-toggle-thumb {
    background-color: black;
  }

  .mat-slide-toggle-bar {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &.mat-checked {
    .mat-slide-toggle-thumb {
      background-color: white;
    }

    .mat-ripple-element {
      background-color: var(--primary-color);
    }

    .mat-slide-toggle-bar {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
}

mat-button-toggle-group {
  .mat-button-toggle-checked {
    background-color: var(--tertiary-color);
    color: white;
  }

  .mat-button-toggle-checked .mat-button-toggle-focus-overlay {
    border-bottom: none;
  }
}

mat-dialog-container.mat-dialog-container {
  background: var(--background-secondary);
  color: var(--text-color-1);
  border-radius: var(--border-radius);

  mat-dialog-actions.mat-dialog-actions {
    min-height: inherit;
    justify-content: end;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  button.fe-button.close {
    margin-right: 15px;
  }

  button.fe-button {
    .delete-icon,
    .logout-icon {
      margin-left: 5px;
    }
  }
}

snack-bar-container.mat-snack-bar-container {
  color: var(--tertiary-color);
  background: var(--background-primary);
  border: 1px solid var(--tertiary-color);
  margin-bottom: 40px;

  @include from-md {
    max-width: 40vw;
  }
}

.mat-snack-bar-handset snack-bar-container.mat-snack-bar-container {
  margin-bottom: 30px;
}

mat-card.mat-card.card,
mat-dialog-content.image-manager {
  .card-header {
    &.with-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .mat-card-header-text {
      margin: 0;
    }

    .card-title {
      letter-spacing: 1.5px;
      text-decoration: underline;
      text-decoration-color: var(--secondary-color);
      font-weight: 400;
    }

    mat-card-subtitle.mat-card-subtitle {
      margin-top: 0;
    }

    .card-description {
      display: flex;
      align-items: center;

      fe-post-badge {
        margin-right: 6px;
      }
    }

    .card-date {
      font-weight: 300;
      color: var(--grey-3);
      letter-spacing: 0.5px;
    }
  }
}

mat-card.mat-card.card {
  max-width: var(--max-width);
  background: var(--background-primary);
  box-shadow: none;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
  margin-right: 0;
  transition: none;

  @include moveInTopAnimation;

  @include from-xs {
    padding: 30px;
  }

  @include to-xs {
    padding: 20px;
    border-radius: 0;
  }

  .card-last-update {
    display: flex;
    justify-content: flex-end;
    color: var(--grey-3);
  }
}

mat-form-field.input.mat-form-field {
  .mat-form-field-flex {
    background-color: var(--background-secondary);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 0.75em 1em 0 1em;
    font-size: 1rem;

    input {
      color: var(--text-color-1);
    }
  }

  &.mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: rgba(var(--tertiary-color-rgb), 0.3);
  }

  .mat-form-field-label {
    color: var(--grey-4);
  }

  &.mat-form-field-should-float .mat-form-field-label {
    color: var(--primary-color);
  }

  .mat-form-field-ripple {
    background-color: var(--primary-color);
  }

  &.mat-form-field-invalid {
    .mat-form-field-label {
      color: var(--error-default);
    }
    .mat-form-field-ripple {
      background-color: var(--error-default);
    }
  }

  .mat-error {
    margin-bottom: 5px;
  }
}

ngx-skeleton-loader span.loader.progress {
  display: flex;
  margin-bottom: 0;
}

.dark ngx-skeleton-loader span.loader.progress {
  background: #4c4c4c no-repeat;

  &:before {
    background-image: linear-gradient(
      90deg,
      transparent,
      rgba(0, 0, 0, 0.2),
      transparent
    );
  }
}

fe-post-link:not(:last-of-type),
.post-link-wrapper:not(:last-of-type) {
  margin-bottom: 10px;
}
