html,
body {
  font-size: 100%;
  color: var(--text-color-1);

  .mat-card,
  .mat-drawer-container {
    color: inherit;
  }
}

b,
strong {
  font-weight: 600;
}

u {
  text-decoration-color: var(--secondary-color);
  border-radius: 2px;
  padding: 2px 2px;
  margin: -2px;
}

a {
  color: var(--text-color-1);
  text-decoration-color: var(--secondary-color);
  transition: color 100ms ease-in-out;
}

a,
.fe-button {
  &:hover {
    color: var(--secondary-color);
  }
}

article,
fe-subject-page {
  ul {
    list-style: none;
    margin-top: 0;

    li:not(.sublist-container)::before {
      content: "\25B8";
      color: var(--secondary-color);
      margin-left: -1rem;
      margin-right: 0.5rem;
    }

    li ul.post-ul-sublist {
      list-style: none;
      margin-left: 1rem;

      li::before {
        color: var(--tertiary-color);
      }
    }
  }
}
