.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

mat-card .mat-card-content p.no-data {
  display: flex;
  color: var(--grey-3);
  margin-top: 10px;
}

button.fe-button,
a.fe-button {
  background-color: transparent;
  font-family: var(--font-normal);
  color: var(--tertiary-color);
  text-decoration: none;
  letter-spacing: 1px;
  padding: 8px 12px 6px;

  //.unselectable
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  outline: none;
  border: none;
  border-bottom: 1px solid rgba(var(--tertiary-color-rgb), 0.3);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  transition: background-color 100ms ease-in-out;

  @include from-xs {
    font-size: 0.9rem;
  }

  @include to-xs {
    font-size: 0.8rem;
  }

  &:hover:not(:disabled) {
    background-color: var(--button-hover-background);
    cursor: pointer;
  }

  &.small {
    padding: 5px 10px 4px;
    font-size: 0.9em;

    @include to-xs {
      padding: 4px 10px 3px;
      font-size: 0.8em;
    }
  }

  &.secondary {
    background-color: transparent;
    color: var(--text-color-3);
    border-color: rgba(var(--grey-4-rgb), 0.4);

    &:hover {
      background-color: rgba(var(--grey-4-rgb), 0.3);
    }

    .mat-ripple-element {
      background-color: rgba(var(--grey-4-rgb), 0.35);
    }
  }

  &:disabled {
    border-color: var(--grey-2);

    span,
    .drop-icon {
      color: var(--grey-4);
    }
  }
}

fe-card.align-right {
  mat-card-content.card-content {
    display: flex;
    justify-content: end;

    .fe-button:not(:first-of-type) {
      margin-left: 20px;

      @include to-xs {
        font-size: 0.7rem;
      }
    }
  }
}
