/* Abstracts */
@import "src/styles/breakpoints";
@import "src/styles/mixins";
@import "src/styles/variables";

/* Base */
@import "src/styles/angular-material";
@import "src/styles/animations";
@import "src/styles/base";
@import "src/styles/typography";
@import "src/styles/utilities";

/* Pages */
@import "src/styles/pages/about";
@import "src/styles/pages/curriculum";
@import "src/styles/pages/dashboard";
@import "src/styles/pages/edit-post";
@import "src/styles/pages/exams";
@import "src/styles/pages/forgot-password";
@import "src/styles/pages/landing";
@import "src/styles/pages/login";
@import "src/styles/pages/messages";
@import "src/styles/pages/my-profile";
@import "src/styles/pages/post";
@import "src/styles/pages/pruefungssimulator";
@import "src/styles/pages/register";
@import "src/styles/pages/search";
@import "src/styles/pages/subject";
@import "src/styles/pages/verify";

/* global styles */
mat-card.mat-card.fe-card {
  max-width: var(--max-width);
  background: var(--background-primary);
  box-shadow: none;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
  margin-right: 0;
  transition: none;

  @include moveInTopAnimation;

  &.mat-card {
    @include from-xs {
      padding: 30px;
    }

    @include to-xs {
      padding: 20px;
    }
  }

  @include to-xs {
    border-radius: 0;
  }

  div.fe-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  p.post-last-update {
    font-size: 0.8rem;
    color: var(--grey-2);
    text-align: right;
    margin-top: 40px;

    @include to-xs {
      font-size: 0.7rem;
    }
  }
}

/* card title & subtitle (card components) */
p.fe-card-title {
  letter-spacing: 1.5px;
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  margin-bottom: 0;

  @include from-xs {
    font-size: 1.4em;
    line-height: 24px;
  }

  @include to-xs {
    font-size: 1.3em;
  }
}

p.fe-card-description {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 300;
  color: var(--grey-3);
  letter-spacing: 0.5px;
  margin: 5px 0 0;

  @include to-xs {
    font-size: 0.8rem;
  }
}

/* list number (post element) */
.ddu-list-number,
.list-number {
  display: inline-flex;
  $size: 32px;
  line-height: $size;
  width: $size;
  height: $size;
  font-size: 1em;
  justify-content: center;
  color: var(--secondary-color);
  background: var(--background-secondary);
  border-radius: 50%;
  margin-right: 5px;
  flex-shrink: 0;
}

.post-title .ddu-list-number,
.post-title .list-number {
  line-height: 35px;
  width: 36px;
  height: 36px;
}

/* mat form field */
mat-form-field.input.mat-form-field {
  .mat-form-field-flex {
    background-color: var(--background-secondary);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding: 0.75em 1em 0 1em;
    font-size: 1rem;

    input {
      color: var(--text-color-1);
    }
  }

  &.mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: rgba(var(--tertiary-color-rgb), 0.3);
  }

  .mat-form-field-label {
    color: var(--grey-4);
  }

  &.mat-form-field-should-float .mat-form-field-label {
    color: var(--primary-color);
  }

  .mat-form-field-ripple {
    background-color: var(--primary-color);
  }

  &.mat-form-field-invalid {
    .mat-form-field-label {
      color: var(--error-default);
    }
    .mat-form-field-ripple {
      background-color: var(--error-default);
    }
  }

  .mat-error {
    margin-bottom: 5px;
  }
}

/* mat snack bar */
snack-bar-container.mat-snack-bar-container {
  color: var(--tertiary-color);
  background: var(--background-primary);
  border: 1px solid var(--tertiary-color);
  margin-bottom: 40px;

  @include from-md {
    max-width: 40vw;
  }
}

.mat-snack-bar-handset snack-bar-container.mat-snack-bar-container {
  margin-bottom: 30px;
}

/* ngx highlightjs - Code Highlighting (https://github.com/highlightjs/highlight.js/tree/main/src/styles) */
.light {
  @import "~highlight.js/styles/stackoverflow-light";
}

.dark {
  @import "~highlight.js/styles/stackoverflow-dark";
}

/* fe-text-button */
.fe-text-button {
  background: transparent;
  color: var(--tertiary-color);
  text-decoration: none;
  letter-spacing: 1px;
  padding: 8px 12px 6px;

  //.unselectable
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  outline: none;
  border: none;
  border-bottom: 1px solid rgba(var(--tertiary-color-rgb), 0.3);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  transition: background 100ms ease-in-out;

  @include from-xs {
    font-size: 0.9rem;
  }

  @include to-xs {
    font-size: 0.8rem;
  }

  &:hover:not(:disabled) {
    background: var(--button-hover-background);
    cursor: pointer;
  }

  &.secondary {
    padding: 4px 10px 2px;
    font-size: 0.9em;

    @include to-xs {
      font-size: 0.8em;
    }
  }

  &.show-more {
    background: transparent;
    color: var(--grey-4);
    border-color: rgba(var(--grey-4-rgb), 0.3);
    margin-left: 10px;

    &:hover {
      background: rgba(var(--grey-4-rgb), 0.1);
      color: var(--grey-4);
    }

    .mat-ripple-element {
      background-color: rgba(var(--grey-4-rgb), 0.15);
    }
  }

  &:disabled {
    border-color: var(--grey-2);

    span,
    .drop-icon {
      color: rgba(var(--grey-4-rgb), 0.5);
    }
  }
}

.fe-state-button {
  position: relative;

  .label {
    display: flex;

    span {
      align-self: center;
    }
  }

  .hidden {
    opacity: 0;
  }

  mat-spinner.mat-spinner {
    margin: 0 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* mat dialog */
mat-dialog-container.mat-dialog-container {
  background: var(--background-secondary);
  color: var(--text-color-1);
  border-radius: var(--border-radius);

  .mat-dialog-actions {
    min-height: inherit;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .fe-text-button.close {
    margin-right: 10px;
  }
}

/* page */
div.page-container .page {
  background: var(--background-secondary);
  padding: 20px 20px 20px 0;

  @include to-md {
    padding-left: 0;
    padding-right: 0;
  }

  .fe-no-data {
    display: flex;
    color: var(--grey-3);
    margin-top: 10px;
  }
}
