<div class="page audit-simulator">
  <mat-card class="fe-card">
    <p class="fe-card-title">Zwischenprüfungs- / Abschlussprüfungs-Simulator</p>
    <p class="fe-card-description" [ngSwitch]="state">
      <ng-container *ngSwitchCase="AuditState.INTRODUCTION">Einleitung</ng-container>
      <ng-container *ngSwitchCase="AuditState.PLAY">{{round+1}}/{{auditQuestions.length}}</ng-container>
      <ng-container *ngSwitchCase="AuditState.END">Ende</ng-container>
    </p>
    <mat-card-content class="fe-view-wrapper" *ngIf="state === AuditState.INTRODUCTION">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cupiditate delectus exercitationem fugit
        impedit, ipsa nihil sequi totam ullam vel? Aut magnam neque quisquam veritatis vitae! Culpa minima placeat
        quidem?
      </p>
      <p>
        Das Quiz enthält Prüfungsfragen aus den Zwischenprüfungen der Jahre Sommer 2019, Herbst 2020 und Frühling 2021.
      </p>
      <button class="fe-text-button right" (click)="startAudit()">Start</button>
    </mat-card-content>
    <mat-card-content class="fe-view-wrapper play" *ngIf="state === AuditState.PLAY" #slideInWrapper>
      <div>
        <p class="question">{{currentQuestion.question}}</p>
        <p class="description" *ngIf="currentQuestion.description" [innerHTML]="currentQuestion.description"></p>
        <ng-container *ngIf="currentQuestion.image">
          <img class="question-image" *ngIf="image" [src]="image" alt="question-image" />
          <fe-loading-spinner *ngIf="isLoading"></fe-loading-spinner>
        </ng-container>
        <div class="input-wrapper" *ngIf="!currentQuestion.choices">
          <mat-form-field class="input choice-input">
            <mat-label>Antwort</mat-label>
            <input matInput type="number" autocomplete="off" [(ngModel)]="choiceInput" inputmode="numeric" />
            <span matSuffix>&nbsp; EUR</span>
          </mat-form-field>
          <button
            class="fe-text-button"
            (click)="checkAnswer($event, null)"
            [class.correct]="isCorrect === true"
            [class.wrong]="isCorrect === false"
          >
            Absenden
          </button>
        </div>
        <div class="choice-container">
          <button
            class="choice-button"
            *ngFor="let choice of currentQuestion.choices, let i = index"
            (click)="checkAnswer($event, choice)"
            [class.correct]="selectedAnswer === i && isCorrect === true"
            [class.wrong]="selectedAnswer === i && isCorrect === false"
          >
            <span class="button-index">{{i+1}}</span>
            <span>{{choice}}</span>
          </button>
        </div>
      </div>
    </mat-card-content>
    <mat-card-content class="fe-view-wrapper" *ngIf="state === AuditState.END">
      <p>Du hast alle Fragen beantwortet</p>
    </mat-card-content>
  </mat-card>
</div>
