<div class="page search">
  <mat-card class="fe-card">
    <div class="card-title-wrapper">
      <button class="close-search-btn" mat-icon-button (click)="closeSearchView()">
        <mat-icon>close</mat-icon>
      </button>
      <p class="fe-card-title">
        <ng-container *ngIf="!isMobile; else mobile">
          Suche nach <b>{{searchPostService.searchedTerm}}</b>
        </ng-container>
        <ng-template #mobile>
          <fe-search-field></fe-search-field>
        </ng-template>
      </p>
      <p class="fe-card-description" *ngIf="searchResults">{{ searchResults.length | i18nPlural: resultsMapping }}</p>
    </div>
    <fe-loading-spinner *ngIf="searchPostService.isSearching"></fe-loading-spinner>
    <mat-card-content>
      <div class="search-results" *ngIf="!searchPostService.isSearching">
        <fe-post-link *ngFor="let post of searchResults" [post]="post"></fe-post-link>
      </div>
    </mat-card-content>
  </mat-card>
</div>
