<article [title]="quiz.title" [type]="quiz.type" [date]="quiz.lessonDate" [lastUpdate]="quiz.lastUpdate">
  <div class="quiz">
    <div class="content-wrapper">
      <div class="quiz-details">
        <div class="quiz-level">
          <p class="key">Frage</p>
          <p class="value">{{ level + 1 }} von {{ quiz.elements.length }}</p>
        </div>
        <div
          class="answer-indicator-wrapper"
          [class.correct]="isCorrectAnswer === true"
          [class.wrong]="isCorrectAnswer === false"
        >
          <fe-answer-indicator [checkmark]="true" *ngIf="isCorrectAnswer === true"></fe-answer-indicator>
          <fe-answer-indicator [cross]="true" *ngIf="isCorrectAnswer === false"></fe-answer-indicator>
        </div>
        <div class="quiz-wrong-answers">
          <p class="key">Fehler</p>
          <p class="value">{{ wrongAnswers }}</p>
        </div>
      </div>
      <div class="quiz-question" *ngIf="!end" #slideInWrapper>
        <p class="label" [innerHTML]="quiz.elements[level].question"></p>
        <div class="quiz-answers-wrapper" [class.is-checking-answer]="answer !== undefined">
          <button
            class="quiz-answer answer-1"
            [innerHTML]="quiz.elements[level].choice1"
            (click)="checkAnswer(1)"
            [class.selected]="answer === 1"
            matRipple
          ></button>
          <button
            class="quiz-answer answer-2"
            [innerHTML]="quiz.elements[level].choice2"
            (click)="checkAnswer(2)"
            [class.selected]="answer === 2"
            matRipple
          ></button>
        </div>
      </div>
      <div class="quiz-end" *ngIf="end" #slideInWrapper>
        <p class="quiz-done-label">Lektion abgeschlossen</p>
        <div class="quiz-end-wrapper">
          <p *ngIf="wrongAnswers === 0">Du hast das Quiz ohne Fehler abgeschlossen</p>
          <p *ngIf="wrongAnswers > 0">Du hattest {{ wrongAnswers }} Fehler</p>
          <span class="emoji" *ngIf="wrongAnswers > 0">{{ finishEmojis[wrongAnswers > 6 ? 6 : wrongAnswers] }}</span>
          <div class="congrat-emoji" *ngIf="wrongAnswers === 0">
            <fe-checkmark></fe-checkmark>
          </div>
        </div>
        <button class="fe-button" (click)="resetLevel()" matRipple>Neustarten</button>
      </div>
    </div>
  </div>
</article>
