<fe-card title="Termine">
  <div class="calendar-column">
    <mat-calendar
      (yearSelected)="calendarDate.setFullYear($event.getFullYear())"
      (monthSelected)="calendarDate.setMonth($event.getMonth())"
      [dateClass]="dateClass()"
      [minDate]="minDate"
      [maxDate]="maxDate"
      [dateFilter]="disableWeekend"
      #calendar
    ></mat-calendar>
  </div>
  <hr class="horizontal" />
  <div class="exams-column">
    <fe-loading-spinner *ngIf="allExams === undefined"></fe-loading-spinner>
    <fe-exam-item *ngFor="let exam of monthExams" [exam]="exam"></fe-exam-item>
    <p class="no-data" *ngIf="monthExams | isEmpty">Keine Klausuren in diesem Monat</p>
    <p class="no-data" *ngIf="allExams === null">Fehler beim Laden der Klausuren</p>
  </div>
</fe-card>
