<fe-card
  [title]="indexCards.title"
  [type]="indexCards.type"
  [date]="indexCards.lessonDate"
  [lastUpdate]="indexCards.lastUpdate"
>
  <div class="indexcard" [class.show-back]="isAnswerVisible">
    <div class="indexcard__inner">
      <div class="indexcard__front">
        <div class="card-header">
          <p class="label">Frage</p>
          <p class="label">{{ level + 1 }} von {{ indexCards.elements.length }}</p>
        </div>
        <p class="text" [innerHTML]="indexCards.elements[level].question"></p>
      </div>
      <div class="indexcard__back">
        <div class="card-header">
          <p class="label">Antwort</p>
          <p class="label">{{ level + 1 }} von {{ indexCards.elements.length }}</p>
        </div>
        <p
          class="text"
          [innerHTML]="indexCards.elements[level].answer"
          [class.shortAnswer]="stripHtml(indexCards.elements[level].answer).length < 400"
        ></p>
      </div>
    </div>
  </div>

  <div class="buttons-container">
    <button class="fe-text-button" (click)="showAnswer()" [disabled]="isAnswerVisible" matRipple>
      <span>Weiter</span>
    </button>
    <button class="fe-text-button" (click)="increaseLevel()" [disabled]="!isAnswerVisible || end" matRipple>
      <span>Nächste Frage</span>
    </button>
    <button class="fe-text-button disabled" (click)="resetLevel()" [disabled]="!end" matRipple>
      <span>Zurück zum Anfang</span>
    </button>
  </div>
</fe-card>
