<div class="fia-page">
  <mat-card class="fia-card">
    <p class="fia-card-title">Verwendete Frameworks & Librarys</p>
    <mat-card-content class="fia-view-wrapper">
      <li>Angular</li>
      <li>Angular Material</li>
      <li>Font Raleway - https://fonts.google.com/specimen/Raleway#about</li>
      <li>Icons</li>
      <ul>
        <li>Ionicons</li>
        <li>
          Icons made by
          <a href="https://www.flaticon.com/authors/geotatah" title="geotatah">geotatah</a>
          from
          <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          <br/> (Education free icon - landing page)
        </li>

        <li>
          Icons made by
          <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
          from
          <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          <br/> (Study free icon - landing page)
        </li>

        <li>
          Icons made by
          <a href="http://www.freepik.com/" title="Freepik">Freepik</a>
          from
          <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          <br/> (Rest free icon - landing page)
        </li>

        <li>
          Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
          from
          <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          <br/> (Nerd free icon - landing page)
        </li>

        <li>
          Icons made by <a href="https://www.flaticon.com/de/autoren/phatplus" title="phatplus">phatplus</a>
          from <a href="https://www.flaticon.com/de/" title="Flaticon">www.flaticon.com</a>
          <br/> (Datenbankspeicher Icon - landing page)
        </li>

        <li>
          Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>
          from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          <br/> (World Grid free icon - landing page)
        </li>

      </ul>
    </mat-card-content>
  </mat-card>
</div>
