<div class="page about">
  <fe-card title="Verwendete Frameworks & Librarys">
    <ul>
      <li>Angular - <a href="https://angular.io" title="Angular">https://angular.io</a></li>
      <li>
        Angular Material -
        <a href="https://material.angular.io" title="Angular Material">https://material.angular.io</a>
      </li>
      <li>
        Ionicons
        <ul>
          <li>
            (Rocket free icon - landing page) <br />
            Made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          </li>

          <li>
            (Education free icon - landing page) <br />
            Made by <a href="https://www.flaticon.com/authors/geotatah" title="geotatah">geotatah</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          </li>

          <li>
            (Reading free icon - landing page) <br />
            Made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          </li>

          <li>
            (Game free icon - landing page) <br />
            Made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          </li>

          <li>
            (Online Course free icon - landing page) <br />
            Made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          </li>

          <li>
            (Question free icon - landing page) <br />
            Made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          </li>

          <li>
            (Hardware icon - landing page) <br />
            Made by <a href="https://www.flaticon.com/authors/smartline" title="Smartline">Smartline</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          </li>

          <li>
            (Datenbankspeicher Icon - landing page) <br />
            Made by <a href="https://www.flaticon.com/de/autoren/phatplus" title="phatplus">phatplus</a> from
            <a href="https://www.flaticon.com/de/" title="Flaticon">www.flaticon.com</a>
          </li>

          <li>
            (World Grid free icon - landing page) <br />
            Made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from
            <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          </li>
        </ul>
      </li>
    </ul>
  </fe-card>
</div>
