@font-face {
  font-family: 'Raleway-Regular';
  src: url('../assets/fonts/Raleway-Regular.ttf');
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url('../assets/fonts/Raleway-Bold.ttf');
}
@font-face {
  font-family: 'Raleway-Italic';
  src: url('../assets/fonts/Raleway-Italic.ttf');
}
@font-face {
  font-family: 'Raleway-Light';
  src: url('../assets/fonts/Raleway-Light.ttf');
}

@import 'src/theme/mixins';
@import 'src/theme/variables';
@import 'src/theme/light-theme';


.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

b, strong {
  font-family: Raleway-Bold, sans-serif;
}

i {
  font-family: Raleway-Italic, sans-serif;
}

u {
  text-decoration: none;
  border-radius: 2px;
  background: rgba($fia-secondary-color-rgb, 0.4);
  padding: 2px 2px;
  margin: -2px;
}

hr {
  background: $fia-grey-1;
}

button {
  font-family: Raleway-Regular, sans-serif;
}

.ddu-list-number,
.list-number {
  display: inline-flex;
  $size: 32px;
  line-height: $size - 1px;
  width: $size;
  height: $size;
  font-size: 1em;
  justify-content: center;
  color: $fia-secondary-color;
  background: $fia-dark-background-color;
  border-radius: 50%;
  margin-right: 5px;
  flex-shrink: 0;
}

.post-title .ddu-list-number,
.post-title .list-number {
  line-height: 35px;
  width: 36px;
  height: 36px;
}

.mat-app-background {
  background-color: $fia-dark-header-color;
  color: white;
}

.fia-title, .fia-link-title {
  @include to-xs {
    font-size: .9em;
  }
}

/* FIAPPY - PAGE */
.fia-page {
  background: $fia-dark-background-color;
  padding: 20px 20px 20px 0;

  @include to-xs {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .fia-no-data {
    font-size: 1.1em;
    color: $fia-grey-1 !important;
  }
}

a {
  color: $fia-secondary-color;

  &:hover, &:focus {
    color: white;
    text-decoration-color: $fia-secondary-color;
  }
}

/* FIAPPY - ROUTE ANIMATIONS FIX */
.fia-content {
  .ng-animating {
    transform: translateY(-5px);
  }
}

/* FIAPPY - CARDS */
.fia-card {
  max-width: 1067px;
  background: $fia-dark-card-color;
  padding: 20px;
  box-shadow: $fia-dark-shadow;
  border-radius: $fia-border-radius;
  margin-bottom: 20px;
  margin-right: 0;
  transition: none;

  @include to-xs {
    border-radius: 0;
  }

  @include from-xs {
    padding: 30px;
  }

  .fia-card-title {
    font-size: 1.6em;
    font-family: Raleway-Light, sans-serif;
    letter-spacing: 1px;
    line-height: 26px;
    text-decoration: underline;
    text-decoration-color: $fia-secondary-color;

    @include to-xs {
      font-size: 1.4em;
    }
  }

  .fia-card-description {
    font-size: 1.2em;
    color: $fia-grey-1;

    @include to-xs {
      font-size: 1em;
    }
  }

  .fia-post-last-update {
    font-size: .9em;
    color: $fia-grey-1;
    text-align: right;
    margin-top: 40px;
  }

  p, li {
    color: white;
  }
}

/* FIAPPY - HEADER BUTTON HOVER HINT LABEL */
.fia-header-hover-label {
  .fia-hover-label {
    align-self: center;
    opacity: 0;
    height: fit-content;
    transition: opacity 250ms ease-in-out;

    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;

    @include to-xs {
      transform: translateY(3px);
      line-height: 20px;
    }
  }
  &:hover {
    .fia-hover-label {
      @include from-xs {
        opacity: 1;
        transition: opacity 250ms ease-in-out;
      }
    }
  }
  ::ng-deep {
    .mat-button-wrapper {
      display: flex;
      flex-direction: column;
    }
    .mat-icon {
      align-self: center;

      @include from-sm {
      }
    }
  }

  &.fia-logo-wrapper {
    .fia-hover-label {
      left: 3%;
      top: 48px;
      font-size: .55em;
      font-family: Raleway-Regular, sans-serif;
    }
  }

  &.fia-theme-toggle-wrapper {
    display: flex;
    flex-direction: column;

    .mat-slide-toggle-label {
      font-size: 12px;
    }
  }

  .fia-hover-label {
    margin-top: 5px;
  }
}

/* FIAPPY - BUTTON */
.fia-button {
  background: $fia-third-color;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 4px 8px;

  color: black;
  font-size: .8em;
  font-family: Raleway-Bold, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;

  &.is-open {
    background: rgba($fia-grey-1, 0.5);
  }

  &:hover {
    @include from-md {
      //color: white;
    }
  }
}

/* FIAPPY - INPUT - <mat-form-field> */
.fia-input {
  &.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 0;
  }

  .mat-form-field-label {
    color: $fia-grey-1;
  }
  &.mat-form-field-invalid .mat-form-field-label,
  &.mat-form-field-should-float .mat-form-field-label {
    color: $fia-primary-color;
  }
  .mat-form-field-ripple {
    background-color: $fia-primary-color !important;
  }
  .mat-error {
    margin-bottom: 5px;
  }
}

/* FIAPPY - MENU - <mat-menu> */
::ng-deep .mat-menu-panel {
  background-color: white;
  border-radius: 0;
}

/* FIAPPY - UNDERLINE BUTTON ANIMATION */
$duration: .2s;
$distance: 8px;
$easeOutBack: cubic-bezier(0.175, 1.585, 0.320, 1.275);

.fia-text-button {
  background-color: $fia-dark-background-color;
  color: $fia-third-color;
  text-transform: uppercase;
  font-family: Raleway-Bold, sans-serif;
  font-size: 1em;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: $fia-border-radius;
  letter-spacing: 1px;
  text-decoration: none;

  &.second-color {
    background-color: black;
  }

  &:disabled {
    background: black;
    border: none;

    span {
      color: #36393c;
    }
  }

  &:not(:disabled) {
    cursor: pointer;

    h1, span {
      position: relative;

      &:before,
      &:after {
        content: '';
        position: absolute;
        bottom: 1px;
        left: 0; right: 0;
        height: 1px;
        background-color: $fia-third-color;
      }
      &:before {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
      }
      &:after {
        opacity: 0;
        transform: translateY($distance/2);
        transition: transform $duration $easeOutBack, opacity $duration;
      }
    }

    &:hover {
      //color: black;

      //&:focus {       // TODO: show underline on focus (tab navigation) but remove underlines after click
      h1, span {
        &:before,
        &:after {
          opacity: 1;
          transform: translateY(3px);
        }
        &:before {
          transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
          transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
      }
    }
  }

}

/* FIAPPY - SNACKBAR */
.mat-snack-bar-container {
  background: $fia-secondary-color;
  color: black;
}

/* FIAPPY - TOGGLES */
.fia-theme-toggle {
  align-self: center;

  ::ng-deep {
    .mat-slide-toggle-thumb {
      background-color: $fia-third-color;
    }
    .mat-slide-toggle-bar {
      background-color: black;
    }
  }

  &.mat-checked {
    ::ng-deep {
      .mat-slide-toggle-bar {
        background-color: white;
      }
    }
  }
}

/* FIAPPY - LOADING SPINNER */
.fia-loading-spinner {
  margin: 50px auto !important;

  $fia-spinner-size: 64px;
  &.fia-login-column {
    $fia-spinner-size: 28px;
  }

  width: $fia-spinner-size !important;
  height: $fia-spinner-size !important;

  ::ng-deep svg {
    width: $fia-spinner-size !important;
    height: $fia-spinner-size !important;

    circle {
      stroke: $fia-third-color;
      stroke-width: 5px !important;
    }
  }
}

/* FIAPPY - POST LINK (SUBJECT, DASHBOARD, ...) */
app-post-link:not(:last-of-type),
.fia-lesson-wrapper:not(:last-of-type) {
  .fia-post-link-wrapper {
    margin-bottom: 10px;
  }
}

/* FIAPPY - POST ELEMENT CODE STYLING */
.post-code {
  margin: 0;

  code.sql{
    .hljs-keyword {
      color: white;
    }
  }

  code {

    .hljs-meta {
      color: #ff922c;
    }
    .hljs-variable {
      color: #a055c6;
    }
    .hljs-number {
      color: #249eff;
    }
    .hljs-keyword {
      font-weight: normal;
      color: #ff922c;
    }
    .hljs-function {
      .hljs-title {
        font-weight: normal;
        color: #ffbe01;
      }
    }
    .hljs-string {
      color: #58bf0e;
    }
    .hljs-literal {
      font-weight: bold;
      color: #b800b8;
    }
    .hljs-comment {
      color: #b4b4b4
    }
  }
}
