<fe-user-progress-card
  [user]="userData"
  [nextLesson]="dashboard.nextLesson$ | async"
  [allLessons]="dashboard.allLessons$ | async"
  [lessonsPercentage]="dashboard.lessonsPercentage$ | async"
></fe-user-progress-card>
<fe-next-exams-card
  [nextExams]="dashboard.nextExams$ | async"
  *ngIf="(dashboard.nextExams$ | async)?.length > 0"
></fe-next-exams-card>
<fe-schedule-card [schedule]="schedule"></fe-schedule-card>
<fe-news-card [onlyNewest]="true"></fe-news-card>
<fe-school-week-card [week]="dashboard.schoolWeek$ | async" [showNavigation]="true"></fe-school-week-card>
