@import 'src/theme/styles';
@import 'src/theme/mixins';

::ng-deep .mat-dialog-container {
  background: black;
  color: white;
  border-radius: 0;

  .fia-no-btn, .fia-logout-btn {
    background: $fia-dark-background-color;
    border-radius: 0;
  }
}
