<div class="fe-page login-page">
  <mat-card class="fe-card">
    <p class="fe-card-title">Schülerbereich</p>
    <mat-card-content class="fe-view-wrapper">
      <form class="login-form" [formGroup]="formGroup" (ngSubmit)="login($event)" (change)="onFormChange($event)">
        <div class="form-inputs">
          <mat-form-field class="input name">
            <mat-label>Benutzername</mat-label>
            <input matInput type="text" autocomplete="off" [formControl]="username" (keypress)="usernameFieldKeyPress($event)"/>
            <mat-error *ngIf="username.hasError('username') && !username.hasError('required')">
              Benutzername ungültig
            </mat-error>
            <mat-error *ngIf="username.hasError('required')">
              Benutzername erforderlich
            </mat-error>
          </mat-form-field>

          <mat-form-field class="input password">
            <mat-label>Passwort</mat-label>
            <input matInput type="password" [formControl]="password" #passwordInput/>
            <mat-error *ngIf="password.hasError('invalidPassword') && !password.hasError('required')">
              Passwort falsch
            </mat-error>
            <mat-error *ngIf="password.hasError('password') && !password.hasError('required')">
              Passwort ungültig
            </mat-error>
            <mat-error *ngIf="password.hasError('minlength')">
              Passwort zu kurz (min. 4 Zeichen)
            </mat-error>
            <mat-error *ngIf="password.hasError('required')">
              Passwort erforderlich
            </mat-error>
          </mat-form-field>
        </div>
        <div class="buttons-wrapper">
          <fe-button-state type="submit" [isLoading]="isLoading">Anmelden</fe-button-state>
          <button class="fe-text-button" routerLink="/forgot-password">
            <span>Passwort vergessen?</span>
          </button>
        </div>
      </form>
      <hr class="fe-divider-line"/>
      <div class="register-form">
        <p class="no-account-hint">Noch nicht registriert?</p>
        <a class="fe-text-button" routerLink="/register">
          <span>Account erstellen</span>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
