@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  mat-sidenav-container {
    margin-top: 50px;

    mat-sidenav {
      background: var(--background-secondary);
      overflow-x: hidden;
      border-right: 0;
    }
  }
}
