@import "mixins";

:host {
  display: block;
  background-color: var(--background-secondary);

  .router-wrapper {
    background: var(--background-secondary);
    padding: 20px 20px 20px 0;

    @include to-md {
      padding-left: 0;
      padding-right: 0;
    }

    fe-app-icon {
      justify-content: center;
      margin-block: 100px;

      ::ng-deep {
        div.icon-wrapper {
          width: 64px;
          height: 60px;
          margin-right: 8px;
          fill: var(--grey-3) !important;

          svg {
            height: 60px;
          }
        }

        p.app-name span {
          font-size: 2.2em;
          line-height: 20px;
          color: var(--grey-3) !important;
        }
      }
    }
  }

  .ng-animating {
    transform: translateY(-5px);
  }
}
