@import "mixins";

:host {
  display: flex;
  text-align: left;

  div.icon-wrapper {
    width: 34px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 5px;
    fill: var(--tertiary-color);

    svg {
      height: 30px;

      g {
        transform: scale(0.04);
      }
    }
  }

  p.app-name {
    align-self: center;
    color: var(--tertiary-color);
    line-height: 12px;
    z-index: 1;
    transform: translateY(1px);

    span {
      transition: letter-spacing 600ms ease;
    }
  }
}

::ng-deep {
  header {
    @include to-xs {
      &:not(.sidenav--open) {
        .start-button {
          background: var(--background-primary);
          border-radius: 8px;
          width: fit-content;
          height: 36px;
          align-self: center;
          padding: 6px;
          fill: var(--tertiary-color);

          .app-name {
            display: none;
          }

          .icon-wrapper {
            margin-right: 0;
          }
        }
      }

      &.sidenav--open {
        .start-button {
          padding-left: 6px;
          padding-right: 15px;
          padding-top: 2px;
          padding-bottom: 2px;
        }

        .icon-wrapper {
          fill: var(--secondary-color);
        }

        .app-name {
          @include logoMoveInLeftAnimation;
        }
      }
    }

    a.start-button fe-app-icon {
      &:hover,
      &:focus {
        .icon-wrapper:not(.active-route) {
          @include from-md {
            transition: letter-spacing 150ms ease-out;
          }
        }
      }

      &:focus {
        outline: none;
      }
    }
  }
}
