@import "mixins";

:host {
  display: flex;
  align-self: center;
  text-align: left;

  div.icon-wrapper {
    width: 34px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 8px;

    @include from-xs {
      fill: var(--secondary-color);
    }

    @include to-xs {
      fill: var(--tertiary-color);
    }

    svg {
      height: 30px;

      g {
        transform: scale(0.04);
      }
    }
  }

  p.app-name {
    margin-bottom: 0;
    color: var(--text-color-1);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 13px;
    align-self: center;

    transition: letter-spacing 600ms ease;
    z-index: 1;

    @include to-xs {
      font-size: 0.8rem;
      line-height: 11px;
    }
  }
}

::ng-deep {
  header {
    @include to-xs {
      &:not(.sidenav--open) {
        .app-icon {
          background: var(--background-primary);
          border-radius: 8px;
          width: fit-content;
          height: 36px;
          align-self: center;
          padding: 6px;
          fill: var(--tertiary-color);

          .app-name {
            display: none;
          }

          .icon-wrapper {
            margin-right: 0;
          }
        }
      }

      &.sidenav--open {
        .app-icon {
          padding-left: 6px;
          padding-right: 15px;
          padding-top: 2px;
          padding-bottom: 2px;
        }

        .icon-wrapper {
          fill: var(--secondary-color);
        }

        .app-name {
          @include logoMoveInLeftAnimation;
        }
      }
    }

    a.app-icon fe-icon {
      &:hover,
      &:focus {
        .icon-wrapper:not(.active-route) {
          @include from-md {
            transition: letter-spacing 150ms ease-out;
          }
        }
      }

      &:focus {
        outline: none;
      }
    }
  }
}
