@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-view-wrapper {
  display: flex;
  width: fit-content;
  margin: 40px auto;
  padding-bottom: 40px;

  @include to-md {
    flex-direction: column;
  }

  .fia-back-to-login-btn {
    align-self: center;

    @include from-md {
      margin-right: 0;
    }
  }
}

.fia-register-column {
  text-align: center;
  margin-right: 150px;

  .fia-input-fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    .fia-name-input,
    .fia-email-input {
      margin-bottom: 15px;

      ::placeholder {
        color: var(--grey-4);
      }
    }

    .fia-password-input {
      margin-bottom: 8px;
    }

    ::ng-deep {
      .mat-form-field-label-wrapper {
        color: green;
      }
    }

    ::ng-deep .mat-form-field-flex {
      background-color: rgba(var(--tertiary-color-rgb), .1);

      input {
      }
    }
  }


  .fia-buttons-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.fia-divider-line {
  border: none;

  @include from-md {
    width: 1px;
    margin: 0 50px;
  }

  @include to-md {
    display: none;
  }
}

.fia-register-column {
  text-align: center;
  align-self: center;
  margin: 30px 50px 0 auto;

  @include to-sm {
    margin: 30px auto 0;
  }

  .fia-no-account-hint {
    text-align: center;

    @include to-md {
      margin: 0;
    }
  }
}
