<div class="fia-page">
  <mat-card class="fia-card register">
    <p class="fia-card-title">Account erstellen</p>
    <mat-card-content class="fia-view-wrapper">
      <div class="fia-text-button fia-back-to-login-btn" routerLink="/login">
        <span>Zurück zum Login</span>
      </div>
      <hr class="fia-divider-line"/>
      <form class="fia-register-column" [formGroup]="formGroup" (ngSubmit)="register($event)" (change)="onFormChange($event)" #form>
        <div class="fia-input-fields">
          <mat-form-field class="fia-input fia-name-input">
            <mat-label>Benutzername</mat-label>
            <input matInput type="text" autocomplete="off" [formControl]="name"/>
            <mat-error *ngIf="name.hasError('name') && !name.hasError('required')">
              Benutzername ungültig
            </mat-error>
            <mat-error *ngIf="name.hasError('required')">
              Benutzername erforderlich
            </mat-error>
            <mat-error *ngIf="name.hasError('alreadyTaken')">
              Der Benutzername ist bereits vergeben
            </mat-error>
          </mat-form-field>

          <mat-form-field class="fia-input fia-email-input">
            <mat-label>E-Mail</mat-label>
            <input matInput type="email" autocomplete="off" [formControl]="email"/>
            <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
              E-Mail ungültig
            </mat-error>
            <mat-error *ngIf="email.hasError('required')">
              E-Mail erforderlich
            </mat-error>
            <mat-error *ngIf="email.hasError('alreadyTaken')">
              Die E-Mail Adresse ist bereits vergeben
            </mat-error>
          </mat-form-field>

          <mat-form-field class="fia-input fia-password-input">
            <mat-label>Passwort</mat-label>
            <input matInput type="password" [formControl]="password"/>
            <mat-error *ngIf="password.hasError('password') && !password.hasError('required')">
              Passwort ungültig
            </mat-error>
            <mat-error *ngIf="password.hasError('minlength')">
              Passwort zu kurz (min. 4 Zeichen)
            </mat-error>
            <mat-error *ngIf="password.hasError('required')">
              Passwort erforderlich
            </mat-error>
          </mat-form-field>
        </div>
        <div class="fia-buttons-wrapper">
          <button class="fia-text-button" type="submit" [disabled]="form.invalid">
            <span>Bestätigen</span>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
