@import "mixins";

:host {
  button.rounded-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 100ms ease-in-out;

    @include from-xs {
      &:hover,
      &:focus,
      &.is-active {
        background-color: var(--button-hover-background);
        transition: none;
      }
    }

    .mat-icon {
      display: flex;
      margin: auto;
    }
  }
}

::ng-deep .cdk-overlay-container .more-menu {
  background-color: var(--grey-1);
  border-radius: var(--border-radius);
  border: 1px solid var(--grey-2);
  box-shadow: var(--box-shadow);

  .menu-btn.mat-menu-item {
    &:not([disabled]) {
      &:hover,
      &:active {
        background: rgba(var(--tertiary-color-rgb), 0.25);
      }
    }

    &[disabled] {
      mat-icon {
        color: var(--text-color-3);
      }

      .label {
        color: var(--text-color-3);
      }
    }

    .label {
      color: var(--text-color-1);
      padding-right: 5px;
    }

    mat-icon {
      color: var(--tertiary-color);
    }
  }

  hr {
    margin: 10px 0;
  }
}
