<mat-toolbar color="primary" class="fia-header">
  <button class="fia-logo-wrapper fia-header-hover-label"
          (click)="closeSidenav()"
          [routerLink]="isMobile.matches ? (authService.isAuthenticated ? '/dashboard' : '/login') : '/'"
          [ngClass]="{'active-route': router.url === '/' || router.url === '/dashboard' || router.url === '/login'}"
  >
    <div class="fia-icon-wrapper">
      <svg id="Layer_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
        <g>
          <path d="m479.867 339.862v-159.25l-30 10v149.25c-18.655 6.281-32.133 23.926-32.133 44.671v80.333c0 8.284 6.716 15 15 15h64.266c8.284 0 15-6.716 15-15v-80.333c0-20.745-13.478-38.39-32.133-44.671z"/>
          <path d="m241.775 250.492-145.375-48.458v102.166c0 3.979 1.581 7.794 4.394 10.607 41.462 41.457 96.585 64.289 155.213 64.289 58.629 0 113.747-22.832 155.2-64.291 2.813-2.813 4.393-6.628 4.393-10.605v-102.166l-145.37 48.457c-9.937 3.309-19.94 2.838-28.455.001z"/>
          <path d="m256 222.8c1.602 0 3.204-.257 4.743-.77l241-80.333c6.125-2.042 10.257-7.774 10.257-14.23s-4.131-12.188-10.257-14.23l-241-80.333c-3.078-1.025-6.408-1.025-9.486 0l-241 80.333c-6.126 2.041-10.257 7.773-10.257 14.23s4.131 12.188 10.257 14.23l241 80.333c1.539.513 3.141.77 4.743.77z"/>
        </g>
      </svg>
    </div>
    <h1 class="fia-app-name unselectable">
      <span class="first">Fia</span><span class="second">de</span><span class="third">m</span>y
    </h1>
  </button>
  <div class="fia-header-details-wrapper">
    <div class="fia-page-title" (click)="isMobile.matches ? goToSubject() : goToSubject()">
      <span class="bracket">[</span>
      <p class="title">{{headerService.pageTitle}}</p>
      <span class="bracket">]</span>
    </div>
    <div class="fia-searchbar-buttons-wrapper">
      <div class="fia-header-searchbar" *ngIf="!isMobile.matches">
        <mat-form-field class="fia-search-bar" appearance="fill" (click)="openSearchView()">
          <mat-icon matSuffix>search</mat-icon>
          <input matInput type="text" [(ngModel)]="searchPostService.searchValue"
                 (keyup)="openSearchView()" (keyup.enter)="searchForPost()"
                 placeholder="Suche" #searchInput>
        </mat-form-field>
      </div>
      <div class="fia-button-container">
        <button class="fia-sidenav-hamburger-btn" mat-icon-button (click)="sidenav.toggle()" *ngIf="isMobile.matches">
          <mat-icon>menu</mat-icon>
        </button>
<!--        <button class="fia-admin-panel-btn fia-header-hover-label" routerLink="einstellungen" mat-icon-button mat-button *ngIf="!mobileQuery.matches">-->
<!--          <mat-icon>build</mat-icon>-->
<!--          <mat-label class="fia-hover-label fade-in unselectable">Einstellungen</mat-label>-->
<!--        </button>-->
        <div class="fia-theme-toggle-wrapper fia-header-hover-label" *ngIf="!isMobile.matches">
          <mat-slide-toggle class="fia-theme-toggle" [checked]="authService.theme === 'dark'" (change)="authService.toggleTheme()">
          </mat-slide-toggle>
          <mat-label class="fia-hover-label fade-in unselectable">Theme</mat-label>
        </div>
        <a class="fia-header-login-btn unselectable" [routerLink]="authService.isAuthenticated ? '/dashboard' : '/login'">
          {{authService.isAuthenticated ? 'Dashboard' : 'Login'}}
        </a>
        <button class="fia-action-btn fia-header-hover-label" mat-icon-button [matMenuTriggerFor]="menu" (click)="trigger.openMenu()">
          <mat-icon>more_vert</mat-icon>
          <mat-label class="fia-hover-label fade-in unselectable">Mehr</mat-label>
        </button>
        <mat-menu class="fia-more-menu" #menu="matMenu">
          <a class="fia-menu-button" mat-menu-item routerLink="/dashboard" *ngIf="authService.isAuthenticated && isMobile.matches">
            <mat-icon>dashboard</mat-icon>
            <span class="label">Dashboard</span>
          </a>
          <a class="fia-menu-button" mat-menu-item routerLink="/mein-profil" *ngIf="authService.isAuthenticated">
            <mat-icon>account_circle</mat-icon>
            <span class="label">Mein Profil</span>
          </a>
          <a class="fia-menu-button" mat-menu-item routerLink="login" *ngIf="!authService.isAuthenticated">
            <mat-icon>login</mat-icon>
            <span class="label">Einloggen</span>
          </a>
          <a class="fia-menu-button" mat-menu-item routerLink="feedback">
            <mat-icon>feedback</mat-icon>
            <span class="label">Feedback</span>
          </a>
          <a class="fia-menu-button" mat-menu-item routerLink="about">
            <mat-icon>help</mat-icon>
            <span class="label">About</span>
          </a>
          <button class="fia-menu-button" mat-menu-item (click)="openImageManager()" *ngIf="!isMobile.matches">
            <!--            *ngIf="authService.user.role === UserRole.ADMIN"-->
            <mat-icon>perm_media</mat-icon>
            <span class="label">Image-Manager</span>
          </button>
          <a class="fia-menu-button" mat-menu-item *ngIf="isMobile.matches" (click)="authService.toggleTheme()">
            <mat-icon>invert_colors</mat-icon>
            <span class="label">{{authService.theme === 'dark' ? 'Light': 'Dark'}} Theme aktivieren</span>
          </a>
          <button class="fia-menu-button" mat-menu-item (click)="openLogoutDialog()" *ngIf="authService.isAuthenticated">
            <mat-icon>logout</mat-icon>
            <span class="label">Ausloggen</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>
<mat-progress-bar class="fia-header-progress-bar" value="100" [mode]="isLoading ? 'indeterminate' : 'determinate'"></mat-progress-bar>
