@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-header {
  justify-content: space-between;
  background: black;
  height: 80px;
  max-width: 1405px;

  @include to-xs {
    height: 60px;
    padding: 0 5px;
  }

  .fia-logo-wrapper {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    cursor: pointer;
    border: 2px solid transparent;
    background: transparent;
    font-size: 1em;

    @include from-xs {
      margin-left: 10px;
      margin-right: 40px;
    }

    @include to-xs {
      margin-left: 10px;
      padding: 0;
    }

    h1.fia-app-name {
      color: white;
      margin-bottom: 4px;
      font-family: Raleway-Light, sans-serif;

      @include from-xs {
        margin-left: 10px;
        display: flex;
      }

      .fia-hover-label {
        position: absolute;
        top: 46px;
        left: 76px;
        color: $fia-third-color;
        font-size: 12px;

        @include to-md {
          display: none;
        }
      }
    }

    .fia-icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .fia-app-icon {
        height: 26px;
        color: $fia-third-color;

        @include to-xs {
          height: 20px;
        }
      }
    }

    .active-route {
      border-color: $fia-secondary-color;

      .fia-app-icon {
        color: $fia-secondary-color;
      }
    }

    .fia-app-name {
      font-size: 1.2em;
      font-family: Raleway-Regular, sans-serif;
      font-weight: 100;

      .fia, .pp, .yio {
        text-decoration: underline;
        text-decoration-style: double;
      }

      .fia { text-decoration-color: $fia-secondary-color; }
      .pp { text-decoration-color: $fia-third-color; }
      .yio { text-decoration-color: $fia-primary-color; }

      @include to-xs {
        display: none;
      }
    }
  }

  .fia-header-details-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    @include from-md {
      padding-left: 40px;
    }

    @include from-xs {
      padding-left: 6px;
    }

    .fia-header-searchbar {
      margin-left: 20px;

      @include to-md {
        display: none;
      }

      .fia-search-bar {
        height: 48px;
        background: $fia-dark-card-color;
        border-radius: $fia-border-radius;
        width: 220px;
        box-shadow: black 0 0 8px, black 0 0 8px;
        margin-right: 10px;

        @include to-md {
          display: none;
        }

        ::placeholder {
          color: $fia-grey-2;
        }

        ::ng-deep {
          .mat-form-field-outline {
            opacity: 1;
            color: $fia-grey-2;
          }
          .mat-form-field-wrapper {
            .mat-form-field-flex {
              flex-direction: row-reverse;
              align-items: center;
              padding: 0 .75em 0 .75em;
              height: 48px;
            }
            .mat-form-field-infix {
              padding-left: 0.5em;
              padding-top: 0.5em;
              padding-right: 0;
              padding-bottom: 0.5em;
              border-top: 0;

              input {
                margin-bottom: 2px;
                font-size: .8em;
              }
            }
            .mat-form-field-suffix {

              .mat-icon {
                font-size: 110%;
                color: $fia-third-color;
              }
            }
            .mat-form-field-underline {
              display: none;
            }
          }
        }
      }
    }

    .fia-page-title {
      display: flex;
      align-items: center;
      margin-right: 15px;
      padding: 6px 20px;

      color: white;
      font-weight: 200;
      letter-spacing: 1px;
      text-transform: uppercase;

      @include to-md {
        margin-left: 0;
        padding: 6px 18px;
        flex-shrink: 1;
      }

      @include to-xs {
        margin-left: 5px;
        padding: 0;
      }

      @include to-tiny {
        font-size: .8em;
      }

      .title {
        font-size: 1.1em;
        margin-bottom: 0;
        white-space: pre-line;
        margin-bottom: 0;
        line-height: 18px;
        font-family: Raleway-Light, sans-serif;

        @include to-xs {
          font-size: .9em;
        }

        @include from-md {
          padding: 0 5px;
        }
      }

      .bracket {
        font-size: 1.2em;
        color: $fia-primary-color !important;

        @include to-xs {
          font-size: 1.1em;
        }

        &:first-of-type {
          margin-right: 2px;
        }

        &:last-of-type {
          margin-left: 2px;
        }
      }
    }

    .fia-searchbar-buttons-wrapper {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      z-index: 2;

      .fia-button-container {
        display: flex;
        color: $fia-third-color;
        align-items: center;

        .fia-header-hover-label {
          margin-right: 5px;

          @include to-md {
            .fia-hover-label {
              display: none;
            }
          }

          .fia-hover-label {
            font-size: 11px;
            line-height: 14px;
          }
        }

        .fia-action-btn {
          margin-left: 5px;
          margin-right: 0;

          @include to-xs {
            margin-left: 0;
            margin-right: 5px;
          }

          &:hover, &:focus {
            background: transparent;
          }

          .fia-hover-label {
            position: absolute;
            top: 37px;
          }
        }

        .fia-header-login-btn {
          background-color: $fia-secondary-color;
          height: fit-content;
          padding: 5px 10px;
          margin-left: 8px;
          margin-right: 8px;

          border: none;
          outline: none;
          border-radius: 12px;

          color: black;
          font-size: .55em;
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 1px;
          line-height: 13px;

          @include to-md {
            font-size: .45em;
            padding: 5px 8px;
          }

          @include to-xs {
            display: none;
          }
        }

        .fia-sidenav-hamburger-btn,
        .fia-admin-panel-btn {
          margin-top: 5px;

          @include from-xs {
            margin-right: 15px;
          }

          @include to-xs {
            margin-right: 5px;
          }
        }

        .fia-theme-toggle-wrapper {
          @include from-xs {
            margin-right: 15px;
          }

          @include from-md {
            margin-right: 10px;
            margin-top: 23px;
          }

          @include to-tiny {
            display: none;
          }

          .fia-hover-label {
            @include from-md {
              margin-top: 10px;
            }
          }
        }

        .fia-admin-panel-btn {
          margin-top: 0;
        }

        .fia-sidenav-hamburger-btn {
          margin-right: 10px;
          margin-top: 0;

          ::ng-deep .mat-icon {
            transform: translateY(-2px);
          }
        }
      }
    }
  }
}

.fia-header .fia-logo-wrapper {
  &:hover, &:focus {
    .fia-icon-wrapper:not(.active-route) .fia-app-icon {
      @include from-md {
        color: white;
        transition: 150ms;
      }
    }
  }

  &:focus {
    outline: none;
  }
}

::ng-deep .cdk-overlay-container {
  .fia-more-menu {
    .fia-menu-button .label {
      color: black !important;
    }
  }
}

.fia-header-progress-bar {
  height: 5px;
  z-index: 999;

  ::ng-deep .mat-progress-bar-buffer {
    background: $fia-dark-background-color;
  }

  @include to-xs {
    position: fixed;
    top: 60px;
  }
}

