
.fe-card.quiz-card .fe-card-content {
  justify-content: space-evenly;
}

.fe-card.quiz-card .slide-in-animation {
  @include moveInLeftAnimation;
}

.fe-card.quiz-card {
  .fe-card-title {
  }
  .fe-card-description {
  }

  .fe-card-content {
    display: flex;
    margin-top: 30px;

    @include to-lg {
      //flex-direction: column;
    }
  }
}

.fe-card.quiz-card .fe-quiz {

  @include from-lg {
    width: 600px;
    padding: 20px 0;
  }

  @include to-lg {
    width: 500px;
  }

  @include to-xs {
    width: 100%;
  }

  p { margin: 0; }

  .fe-content-wrapper {
    font-size: 1.1em;

    @include to-xs {
      font-size: 1em;
    }

    .quiz-details {
      display:  flex;
      justify-content: space-between;
      text-align: center;

      .fe-answer-indicator {
        //flex-shrink: 0;
        align-self: center;

        svg {
          width: 48px;
        }
      }

      .quiz-level, .quiz-wrong-answers {
        background: var(--background-secondary);
        border-radius: var(--border-radius);
        padding: 8px 20px;
      }

      .quiz-level, .quiz-wrong-answers {
        .key {
          font-family: Nunito-Regular, sans-serif;
          padding-top: 5px;
        }
        .value {
          padding-top: 2px;
          padding-bottom: 5px;
        }
      }
      .quiz-level {
        .key, .value {
        }
      }
      .quiz-wrong-answers {
        .key, .value {
        }
      }
    }

    .quiz-question {
      margin-top: 40px;

      .label {
        padding: 10px 15px;
        border: 1px solid var(--secondary-color);
        border-radius: var(--border-radius);
        font-family: Nunito-Bold, sans-serif;
        font-size: .9em;
      }

      .fe-quiz-answers-wrapper {
        margin-top: 10px;

        .fe-quiz-answer {
          width: 100%;
          text-align: left;
          color: var(--text-color-1);
          padding: 12px 15px;
          background: rgba(var(--tertiary-color-rgb), 0.2);
          border-radius: var(--border-radius);
          border: none;
          cursor: pointer;
          transition: background 200ms ease-in-out;

          &:first-of-type {
            margin-bottom: 10px;
          }
        }

        &:not(.is-checking-answer) {
          .fe-quiz-answer {
            @include from-lg {
              &:hover {
                background: rgba(var(--tertiary-color-rgb), 0.3);
                transition: background 100ms ease-in-out;
              }
            }
          }
        }

        .fe-quiz-answer.correct {
          background: rgba(10,230,10, 0.2);
          transition: background 100ms ease-in-out;
        }
        .fe-quiz-answer.wrong {
          background: rgba(red, 0.2);
          transition: background 100ms ease-in-out;
        }
      }
    }

    .fe-quiz-end {
      text-align: center;
      margin-top: 20px;

      .fe-quiz-done-label {
        font-size: 1.3em;
        margin-bottom: 5px;
      }

      .fe-emoji {
        font-size: 4em;
        line-height: 100px;
      }

      .congrat-emoji {
        .success-animation { margin: 30px auto;}

        .success-mark {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          display: block;
          stroke-width: 4;
          stroke: var(--secondary-color);
          position: relative;
          margin: 0 auto;

          @include to-xs {
            width: 100px;
            height: 100px;
          }
        }

        .success-mark__circle {
          stroke-dasharray: 166;
          stroke-dashoffset: 166;
          animation: stroke 0.4s cubic-bezier(0.6, 0, 0.45, 1) 0.1s forwards;
          -webkit-animation: stroke 0.4s cubic-bezier(0.6, 0, 0.45, 1) 0.1s forwards;
        }

        .success-mark__check {
          stroke-dasharray: 48;
          stroke-dashoffset: 48;
          animation: stroke 0.45s cubic-bezier(0.65, 0, 0.45, 1) 0.4s forwards;
          -webkit-animation: stroke 0.45s cubic-bezier(0.65, 0, 0.45, 1) 0.4s forwards;
        }

        @keyframes stroke {
          100% {
            stroke-dashoffset: 0;
          }
        }
      }

      .fe-text-button {
        margin-top: 10px;
      }
    }
  }

}

