@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-badge {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 15px;
  flex-shrink: 0;
  margin-top: 1px;
  margin-left: 10px;

  font-size: .7em;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  @include to-md {
    padding: 0 8px;
    float: right;
  }

  @include to-xs {
    font-size: .55em;
    font-family: Nunito-ExtraBold, sans-serif;
  }

  @include to-tiny {
    font-size: .5em;
    line-height: 15px;
  }

  @include from-xs {
    font-family: Nunito-Regular, sans-serif;
  }

  @include from-md {
    padding: 0 8px;
  }

  @include from-sm {
    margin-right: 10px;
  }

  &.article {
    border: 1px solid var(--tertiary-color);
    color: var(--tertiary-color);
  }
  &.tasks {
    border: 1px solid var(--grey-4);
    color: var(--grey-4);
  }
  &.index-cards {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
  }
  &.quiz {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
  &.test {
    background: var(--tertiary-color);
    color: var(--background-primary);
    font-family: Nunito-ExtraBold, sans-serif;
  }
}
