@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-badge {
  width: fit-content;
  height: 14px;
  flex-shrink: 0;
  border: white;
  color: white;
  font-family: Raleway-Bold, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-radius: 8px;

  margin-top: 1px;
  margin-left: 10px;

  @include to-md {
    line-height: 14px;
    padding: 0 8px;
    font-size: .6em;
    float: right;
  }

  @include from-md {
    font-size: .65em;
    line-height: 16px;
    padding: 0 8px 2px;
  }

  @include from-sm {
    margin-right: 10px;
  }

  &.article {
    border: 1px solid $fia-third-color;
    color: $fia-third-color;
  }
  &.tasks {
    border: 1px solid $fia-grey-1;
    color: $fia-grey-1;
  }
  &.index-cards {
    border: 1px solid $fia-secondary-color;
    color: $fia-secondary-color;
  }
  &.quiz {
    border: 1px solid $fia-primary-color;
    color: $fia-primary-color;
  }
  &.test {
    background: $fia-third-color;
    color: $fia-dark-background-color;

    @include to-md {
      font-size: .7em;
      line-height: 13px;
    }

    @include from-md {
      font-size: .75em;
    }
  }
}
