<div class="fe-page verify">
  <mat-card class="fe-card">
    <p class="fe-card-title">Registrierung abschließen</p>
    <mat-card-content class="fe-view-wrapper">
      <form class="verify-form" [formGroup]="formGroup" (ngSubmit)="verifyUser($event)" (change)="onFormChange($event)">
        <div class="form-inputs">
          <p>Um die Registrierung abzuschließen musst du deine E-Mail verifizieren. Wir haben dir eine E-Mail mit einem Verifizierungscode zugeschickt. </p>
          <mat-form-field class="input code">
            <mat-label>Verifizierungscode</mat-label>
            <input matInput type="text" pattern="\d*" autocomplete="off" [formControl]="verificationCode" #codeInput/>
            <mat-error *ngIf="verificationCode.hasError('required')">
              Verifizierungscode erforderlich
            </mat-error>
          </mat-form-field>
        </div>
        <div class="buttons-wrapper">
          <fe-button-state type="submit" [isLoading]="isSubmitLoading">Bestätigen</fe-button-state>
          <p>Du hast keine E-Mail erhalten?</p>
          <fe-button-state type="button" [isLoading]="isResendLoading" (click)="resendVerificationMail()">Nochmal senden</fe-button-state>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
