@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-page {

  .fia-title {
    font-size: 1.6em;
    letter-spacing: 1px;
    line-height: 30px;
    color: white;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .fia-description {
    color: $fia-grey-1 !important;
  }

  .fia-welcome-banner {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    @include from-xs {
      height: 100px;
    }

    .fia-app-icon {
      width: 256px;
      height: 256px;
      flex-shrink: 0;
      position: absolute;
      top: 10px;

      @include to-xs {
        width: 180px;
        height: 180px;
        top: 0;
        left: -50px;
      }

      &::ng-deep path {
        fill: $fia-secondary-color;
        stroke: $fia-secondary-color;
        opacity: .2;

        @include to-xs {
          opacity: .1;
        }
      }
    }

    .fia-labels {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-self: center;
      margin-top: 10px;
      font-family: Nunito-ExtraBold, sans-serif;
      font-size: 1.4em;
      letter-spacing: 2px;
      text-align: right;
      text-transform: uppercase;

      :not(:last-of-type) {
        @include from-sm {
          margin-bottom: 5px;
        }

        @include to-sm {
          margin-bottom: 2px;
        }
      }

      @include to-sm {
        font-size: 1.1em;
      }

      @include to-xs {
        font-size: .8em;
        letter-spacing: 1px;
        line-height: 15px;

        margin: 0;
      }

      .grey-1 {
        color: $fia-grey-3;
      }
      .grey-2 {
        color: $fia-grey-2;
      }
      .grey-3 {
        color: $fia-grey-1;
      }
    }
  }

  .fia-landing-row {
    display: flex;
    max-width: 1135px;
    flex-direction: column;

    @include to-xs {
      margin-bottom: 20px;
    }

    @include to-sm {
      flex-direction: column;
    }

    .fia-image-wrapper {
      .fia-landing-image {
        align-self: center;
      }
    }

    .fia-text-row {
      display: flex;
      align-self: center;
    }

    .fia-text-column {
      display: flex;
      flex-direction: column;

      @include to-sm {
        align-items: center;
      }

      @include to-xs {
        width: 75%;
        margin: auto;
      }

      @include from-xs {
        margin-left: 40px;
        margin-right: 40px;
      }
    }

    .fia-component-wrapper {
      ::ng-deep .fia-card-title {
        line-height: 20px;
      }
    }
  }

  .fia-landing-row.first {
    justify-content: space-between;

    .fia-components-wrapper {
      align-self: center;

      @include from-xs {
        max-width: 800px;
      }

      @include to-xs {
        width: 100%;
      }
    }

    .fia-text-row {
      margin-top: 50px;
      margin-bottom: 20px;

      @include to-xs {
        flex-direction: column;
      }
    }

    .fia-text-column {
      align-items: center;
      align-self: center;
      max-width: 350px;

      .fia-eduaction-svg {
        width: 120px;
      }

      .fia-reading-svg {
        width: 120px;

        @include to-xs {
          margin-top: 40px;
        }
      }
    }
  }

  .fia-landing-row.second {
    align-items: center;

    .fia-text-row {
      margin-top: 30px;
      margin-bottom: 20px;
    }

    .fia-text-column {
      align-self: center;
      max-width: 400px;

      @include to-sm {
        margin-bottom: 20px;
        margin-top: 20px;
      }

      .fia-title {
        @include to-sm {
          align-self: baseline;
        }
      }

      .fia-rest-svg {
        align-self: center;
        width: 100px;
      }
    }

    .fia-component-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      @include from-xs {
        min-width: 500px;
      }

      app-quiz-card {
        width: fit-content;
      }

      app-indexcards-card {
        margin-top: 20px;

        @include to-xs {
          width: 100%;
        }
      }
    }
  }

  .fia-landing-row.school {

    .fia-text-row {
      margin-top: 40px;
      margin-bottom: 20px;

      @include to-xs {
        flex-direction: column;
      }
    }

    .fia-text-column {
      display: flex;
      align-items: center;
      align-self: center;
      max-width: 360px;
      margin-bottom: auto;

      .fia-nerd-svg {
        vertical-align: top;
        margin-right: 5px;
      }

      .fia-nerd-svg, .fia-world-grid-svg {
        width: 64px;
        height: 64px;
      }

      .fia-datenbankspeicher-svg {
        width: 96px;
        height: 96px;
      }

      .fia-world-grid-svg {
        margin-left: 5px;
        align-self: flex-end;
      }

      .fia-sneeze-svg {
        width: 80px;
        height: 80px;
        color: $fia-secondary-color;
        margin-right: 20px;
      }

      .fia-question-svg {
        width: 80px;
        height: 80px;
        color: $fia-secondary-color;
      }

      .fia-title {
        align-self: start;

        @include to-sm {
          align-self: baseline;
        }
      }
    }

    .fia-component-wrapper {
      align-self: center;

      @include from-sm {
        width: 750px;
        min-width: 400px;
      }

      @include to-xs {
        width: 100%;
      }

      .fia-landing-image {
        max-width: 100%;
      }
    }
  }

  .fia-landing-row.start {
    display: block;
    text-align: center;

    .fia-text-column {
      align-items: center;

      @include to-sm {
        margin-top: 40px;
      }

      .fia-rocket-svg {
        width: 100px;
        height: 100px;
        font-size: 100px;
        color: $fia-secondary-color;
      }
    }

    .fia-text-button {
      margin-top: 10px;
    }
  }
}

/* LIGHT-THEME */
::ng-deep {
  .light-theme {
    .fia-welcome-banner {
      .fia-labels {
        .grey-1 {
          color: $fia-grey-1 !important;
        }
        .grey-2 {
          color: $fia-grey-2 !important;
        }
        .grey-3 {
          color: $fia-grey-3 !important;
        }
      }
    }
  }
}
