<div class="fia-page">
  <div class="fia-welcome-banner fia-card">
    <svg xmlns='http://www.w3.org/2000/svg' class='fia-app-icon' viewBox='0 0 512 512'>
      <title>Book</title>
      <path d='M256 160c16-63.16 76.43-95.41 208-96a15.94 15.94 0 0116 16v288a16 16 0 01-16 16c-128 0-177.45 25.81-208 64-30.37-38-80-64-208-64-9.88 0-16-8.05-16-17.93V80a15.94 15.94 0 0116-16c131.57.59 192 32.84 208 96zM256 160v288'
            fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/>
    </svg>
    <p class="fia-labels">
      <span>Fachinformatiker</span>
      <span class="grey-1">Anwendungsentwicklung & Systemintegration</span>
      <span class="grey-2">Lehrplan // Curriculum</span>
      <span class="grey-3">Ausbildung // Apprenticeship</span>
    </p>
  </div>
  <div class="fia-landing-row start">
    <div class="fia-text-column">
      <img class="fia-startup-svg" src="../../../assets/images/startup.svg" alt="startup-svg">
      <p class="fia-title">Registriere dich und lerne für die Prüfung</p>
      <p class="fia-description">
        Lernplattform für die schulische Ausbildung zum Fachinformatiker für Anwendungsentwicklung.
      </p>
    </div>
    <button class="fia-text-button second-color" routerLink="login">
      <span>Jetzt beginnen</span>
    </button>
  </div>
  <div class="fia-landing-row first">
    <div class="fia-text-row">
      <div class="fia-text-column">
        <img class="fia-eduaction-svg" src="../../../assets/images/education.svg" alt="education-svg">
        <div class="fia-text-wrapper">
          <p class="fia-title">Unterrichtstool für die Schule</p>
          <p class="fia-description">
            Unterstützung zum Unterricht für Schüler und Lehrer.<br/>
            Verpasse keine anstehenden Klassenarbeiten und Mitteilungen mehr.
          </p>
        </div>
      </div>
      <div class="fia-text-column">
        <img class="fia-study-svg" src="../../../assets/images/study.svg" alt="study-svg">
        <div class="fia-text-wrapper">
          <p class="fia-title">Besser auf Tests vorbereiten</p>
          <p class="fia-description">
            Alle Inhalte des Lehrplans in digitaler Form.<br/>
            Keine Unklarheiten mehr über die Themen der nächsten Klassenarbeit.
          </p>
        </div>
      </div>
    </div>
    <div class="fia-components-wrapper">
      <app-news-card [onlyLastOne]="true"></app-news-card>
      <app-next-exams-card></app-next-exams-card>
      <app-user-progress-card [user]="testUser" [dashboard]="testDashboard"></app-user-progress-card>
    </div>
  </div>
  <div class="fia-landing-row second">
    <div class="fia-text-row">
      <div class="fia-text-column">
        <img class="fia-rest-svg" src="../../../assets/images/rest.svg" alt="rest-svg">
        <p class="fia-title">Vorbereitung zur Zwischen- und Abschlussprüfung</p>
        <p class="fia-description">
          Lerne mithilfe verschiedener Lernmethoden um die Inhalte besser im Gedächtnis zu behalten.
          Teste dein Wissen mit einem Quiz oder vorgefertigten Karteikarten.
        </p>
      </div>
    </div>
    <div class="fia-component-wrapper">
      <app-quiz-card [quizContent]="testQuizContent" [quizDetails]="testQuizDetails"></app-quiz-card>
      <app-indexcards-card [indexCardsContent]="testIndexcardsContent" [indexCardsDetails]="testIndexcardsDetails"></app-indexcards-card>
    </div>
  </div>
  <div class="fia-landing-row school">
    <div class="fia-text-row">
      <div class="fia-text-column">
        <mat-icon class="fia-cast-icon">cast_for_education</mat-icon>
        <p class="fia-title">Unterrichtsstoff nachholen</p>
        <p class="fia-description">
          Du hast den Unterricht verpasst oder die Erklärung vom Lehrer nicht richtig vestanden?
          Unter dem Menüpunkt <a routerLink="/lehrplan">Lehrplan</a> findest du jede Schulwoche mit allen Informationen zum wiederholen.
        </p>
      </div>
      <div class="fia-text-column">
        <div class="fia-images-wrapper">
          <img class="fia-nerd-svg" src="../../../assets/images/nerd.svg" alt="nerd-svg">
          <img class="fia-datenbankspeicher-svg" src="../../../assets/images/datenbankspeicher.svg" alt="datenbankspeicher-svg">
          <img class="fia-world-grid-svg" src="../../../assets/images/world-grid.svg" alt="world-grid.svg"/>
        </div>
        <p class="fia-title">Grundlagen der IT</p>
        <p class="fia-description">
          Spannung und Strom, Begriffe der Informationstechnik, Zahlensysteme, PC-Technik,
          Aufbau und Funktionsweise von Stromkreisen. Statische Methoden, Datentypen und Schleifen in der Programmierung ...
        </p>
      </div>
    </div>
    <div class="fia-component-wrapper">
      <app-school-week-card [week]="testSchoolWeek"></app-school-week-card>
    </div>
  </div>
</div>
