<div class="fia-page">
  <div class="fia-welcome-banner fia-card">
    <svg xmlns='http://www.w3.org/2000/svg' class='fia-app-icon' viewBox='0 0 512 512'>
      <title>Book</title>
      <path d='M256 160c16-63.16 76.43-95.41 208-96a15.94 15.94 0 0116 16v288a16 16 0 01-16 16c-128 0-177.45 25.81-208 64-30.37-38-80-64-208-64-9.88 0-16-8.05-16-17.93V80a15.94 15.94 0 0116-16c131.57.59 192 32.84 208 96zM256 160v288'
            fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/>
    </svg>
    <p class="fia-labels">
      Fachinformatiker<br/>
      <span class="grey-1">Anwendungsentwicklung & Systemintegration</span><br/>
      <span class="grey-2">Ausbildung // Apprenticeship</span>
    </p>
  </div>
  <div class="fia-landing-row first">
    <div class="fia-text-column">
      <img class="fia-eduaction-svg" src="../../../assets/images/education.svg" alt="education-svg">
      <div class="fia-text-wrapper">
        <p class="fia-title">Unterrichtstool für die Schule</p>
        <p class="fia-description">
          Alle Inhalte des Lehrplans in digitaler Form.<br/>
          Unterstützung zum Unterricht für Schüler und Lehrer.<br/>
          Verpasse keine anstehenden Klassenarbeiten und Mitteilungen mehr.
        </p>
      </div>
    </div>
    <div class="fia-image-wrapper">
      <img class="fia-landing-image example-1" src="../../../assets/images/landing-example-1.png" alt="example-1"/>
    </div>
  </div>
  <div class="fia-landing-row second">
    <div class="fia-image-wrapper">
      <img class="fia-landing-image example-2" src="../../../assets/images/landing-example-2.png" alt="example-2"/>
    </div>
    <div class="fia-text-column">
      <img class="fia-study-svg" src="../../../assets/images/study.svg" alt="study-svg">
      <p class="fia-title">Vorbereitung zur Zwischen- und Abschlussprüfung</p>
      <p class="fia-description">
        Lerne mithilfe verschiedener Lernmethoden um die Inhalte besser im Gedächtnis zu behalten.
        Wiederhole das Unterrichtsthema am Abend und teste dein Wissen mit einem Quiz oder Karteikarten-Fragen-Antworten.
      </p>

      <img class="fia-rest-svg" src="../../../assets/images/rest.svg" alt="rest-svg">
      <p class="fia-title">Unterrichtsstoff nachholen</p>
      <p class="fia-description">
        Du hast den Unterricht verpasst oder die Erklärung vom Lehrer nicht richtig vestanden?
        Unter dem Menüpunkt <a routerLink="/lehrplan">Lehrplan</a> findest du jede Schulwoche mit allen Informationen zum wiederholen.
      </p>
    </div>
  </div>
  <div class="fia-landing-row third">
    <div class="fia-text-column">
      <div class="fia-images-wrapper">
        <img class="fia-nerd-svg" src="../../../assets/images/nerd.svg" alt="nerd-svg">
        <img class="fia-datenbankspeicher-svg" src="../../../assets/images/datenbankspeicher.svg" alt="datenbankspeicher-svg">
        <img class="fia-world-grid-svg" src="../../../assets/images/world-grid.svg" alt="world-grid.svg"/>
      </div>
      <p class="fia-title">Grundlagen der Informationstechnik</p>
      <p class="fia-description">
        Spannung und Strom, Berechnung von Widerständen, Begriffe der Informationstechnik, Zahlensysteme, PC-Technik,
        Aufbau und Funktionsweise von Stromkreisen. Statische Methoden, Datentypen und Schleifen in der Programmierung ...
      </p>
    </div>
    <div class="fia-image-wrapper">
      <img class="fia-landing-image example-3" src="../../../assets/images/landing-example-3.png" alt="example-3"/>
    </div>
  </div>
  <div class="fia-landing-row school">
    <div class="fia-image-wrapper">
      <img class="fia-landing-image example-4" src="../../../assets/images/landing-example-4.png" alt="example-4"/>
    </div>
    <div class="fia-text-column">
      <mat-icon class="fia-cast-icon">cast_for_education</mat-icon>
      <p class="fia-title">Unterstützendes Homeschooling</p>
      <p class="fia-description">
        Lerne mit verschiedenen Lernmethoden um die Inhalte besser im Gedächtnis zu behalten. <br/>
        Teste dein Wissen mit einem Quiz oder vorgefertigten Karteikarten zum üben.<br/>
        Keine Unklarheiten mehr über die Themen der nächsten Klassenarbeit.<br/>
      </p>
    </div>
  </div>
  <div class="fia-landing-row start">
    <div class="fia-text-column">
      <mat-icon class="fia-leaderboard-icon">leaderboard</mat-icon>
      <p class="fia-title">Melde dich an und lerne Schritt für Schritt</p>
      <p class="fia-description">
        Durch die Registrierung erhälst du Zugriff aufs Dashboard. Gehe jedes Thema nach und nach durch.
      </p>
    </div>
    <button class="fia-text-button" routerLink="login">
      <span>Jetzt beginnen</span>
    </button>
  </div>
</div>
