@import 'src/theme/styles';
@import 'src/theme/mixins';


.fia-card {
  .fia-view-wrapper {
    margin-top: 40px;
    font-size: 1.1em;

    @include to-xs {
      font-size: 1em;
    }

    div:not(:last-of-type) {
      border-bottom: 1px solid $fia-grey-1;
    }

    .fia-teacher {
      display: flex;

      .key, .value {
        margin: 0;
        padding-top: 15px;
        padding-bottom: 15px;
      }

      .key {
        @include from-xs {
          padding-left: 20px;
          padding-right: 20px;
          min-width: 130px;
        }

        @include to-xs {
          padding-left: 10px;
          padding-right: 10px;
          min-width: 90px;
        }
      }

      .value {
        color: $fia-primary-color;
        border-left: 1px solid $fia-grey-1;
        outline: none;

        @include from-xs {
          padding-left: 20px;
          padding-right: 20px;
        }

        @include to-xs {
          padding-left: 10px;
          padding-right: 10px;
        }

        &:hover {
          color: white;
          text-decoration-color: $fia-primary-color;
        }
      }
    }
  }
}

::ng-deep {
  .light-theme {
    .fia-teacher,
    .fia-teacher .value {
      border-color: $fia-grey-3 !important;
    }
  }
}
