<div class="fia-page messages">
  <fe-news-card [news]="news" [allNewsLength]="allNewsLength" [currentPage]="currentPage" [loadPage]="loadPage"></fe-news-card>

  <mat-card class="fia-card">
    <p class="fia-card-title">Lehrer</p>
    <mat-card-content class="fia-view-wrapper">
      <div class="fia-teacher">
        <p class="key">Frau Nehls</p>
        <a class="value" href="mailto:k.nehls@osz-teltow.de">k.nehls@osz-teltow.de</a>
      </div>
      <div class="fia-teacher">
        <p class="key">Herr Ritter</p>
        <a class="value" href="mailto:r.ritter@osz-teltow.de">r.ritter@osz-teltow.de</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
