<div class="page messages">
  <fe-news-card-container [news]="news"></fe-news-card-container>

  <mat-card class="fe-card">
    <p class="fe-card-title">Lehrer</p>
    <mat-card-content class="fe-view-wrapper">
      <div class="fe-teacher">
        <p class="key">Frau Nehls</p>
        <a class="value" href="mailto:k.nehls@osz-teltow.de">k.nehls@osz-teltow.de</a>
      </div>
      <div class="fe-teacher">
        <p class="key">Herr Ritter</p>
        <a class="value" href="mailto:r.ritter@osz-teltow.de">r.ritter@osz-teltow.de</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
