<mat-card class="card">
  <div class="card-title-wrapper">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">
        <ng-container *ngIf="!isMobile; else mobile">
          Suche nach <b>{{searchPostService.searchedTerm}}</b>
        </ng-container>
        <ng-template #mobile>
          <fe-search-field></fe-search-field>
        </ng-template>
      </mat-card-title>

      <mat-card-subtitle class="card-subtitle-2" *ngIf="searchResults">
        {{ searchResults.length | i18nPlural: resultsMapping }}
      </mat-card-subtitle>

      <button class="close-search-btn" mat-icon-button (click)="closeSearchView()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </mat-card-header>
  </div>

  <fe-loading-spinner *ngIf="searchPostService.isSearching"></fe-loading-spinner>
  <mat-card-content>
    <div class="search-results" *ngIf="!searchPostService.isSearching">
      <fe-post-link *ngFor="let post of searchResults" [post]="post"></fe-post-link>
    </div>
  </mat-card-content>
</mat-card>
