@import "mixins";

:host {
  display: flex;
  height: fit-content;
  position: relative;
  background: var(--background-primary);
  border-top-left-radius: var(--border-radius);

  mat-toolbar.page-footer {
    height: fit-content;
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 30px 20px;
    z-index: 3;

    @include moveInTopAnimation;

    div.button-container {
      display: flex;

      @include to-md {
        flex-direction: column;
        margin-left: auto;
        margin-right: 30px;
        letter-spacing: 1px;
      }

      a {
        cursor: pointer;
        outline: none;
        font-size: 0.9rem;
        font-weight: 300;

        @include to-md {
          font-size: 0.8rem;
          line-height: 26px;
        }

        &.is-active {
          color: var(--text-color-3);
        }
      }

      span.footer-divider {
        margin: 0 8px;
        font-weight: 100;
        color: var(--text-color-3);

        @include to-md {
          display: none;
        }
      }
    }
  }
}

:host fe-icon ::ng-deep {
  div.icon-wrapper {
    fill: var(--grey-2);
  }
  p.app-name {
    color: var(--grey-2);
  }
}
