@import "mixins";

:host {
  display: flex;
  height: fit-content;
  position: relative;
  background: var(--background-primary);
  border-top-left-radius: var(--border-radius);

  div.footer-wrapper {
    height: fit-content;
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: transparent;
    padding: 30px;
    gap: 30px 20px;
    z-index: 3;

    @include moveInTopAnimation;

    div.column {
      min-width: 120px;
      display: flex;
      flex-direction: column;

      @include from-lg {
        &.full-width {
          width: 100%;
        }

        &:not(.full-width) {
          width: calc(25% - 20px);
        }
      }

      @include to-lg {
        &.full-width {
          width: 100%;
        }

        &:not(.full-width) {
          width: calc(50% - 20px);
        }
      }
    }

    p.heading {
      color: var(--tertiary-color);
      font-family: Ubuntu, HelveticaNeue, Helvetica Neue, Helvetica-Neue,
        Helvetica, Arial, sans-serif;
      margin-bottom: 8px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 3px;
      list-style: none;
      font-weight: 400;
    }

    a {
      text-decoration: none;

      @include to-md {
        line-height: 26px;
      }

      &.is-active {
        color: var(--text-color-3);
        cursor: default;
      }
    }

    small.copyright {
      color: var(--grey-3);
    }
  }
}

:host fe-app-icon ::ng-deep {
  div.icon-wrapper {
    fill: var(--grey-3);
  }
  p.app-name small {
    color: var(--grey-3);
  }
}
