<div class="footer-wrapper">
  <div class="column">
    <fe-app-icon></fe-app-icon>
  </div>

  <div class="column" *ngFor="let column of columns">
    <p class="heading">{{ column.title }}</p>
    <ul>
      <li *ngFor="let link of column.links">
        <small>
          <a [routerLink]="link.href" [class.is-active]="router.url.substring(1) == link.href"> {{ link.label }} </a>
        </small>
      </li>
    </ul>
  </div>

  <div class="column full-width">
    <small class="copyright">© 2022 fachentwickler</small>
  </div>
</div>
