@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-post-link-wrapper {
  display: flex;
  padding: 0 40px;
  margin-left: -40px;
  margin-right: -40px;

  @include to-md {
    flex-direction: column;
    padding: 0;
    margin-left: 0;
    margin-right: 26px;
  }

  .label {
    font-size: 1em;
    align-self: center;
    margin-bottom: 0;
    margin-right: 5px;

    @include from-md {
      width: 100px;
      font-size: 1.1em;
      margin-right: 20px;
      flex-shrink: 0;
    }

    @include to-md {
      align-self: start;
      margin-left: 12px;
      margin-top: 8px;
      margin-bottom: 4px;
    }
  }

  .fia-post-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: $fia-dark-background-color;
    padding: 8px 12px;
    border-radius: $fia-border-radius;
    cursor: pointer;
    text-decoration: none;
    border-right: 4px solid $fia-third-color;

    &.isCompleted {
      border-color: $fia-secondary-color;
    }

    &:focus {
      outline: none;
    }

    @include to-xs {
      //flex-direction: column;
    }

    @include to-sm {
      //display: flex;
      //flex-direction: column;
    }

    @media screen and (min-width: 1000px) {
      &:hover, &:focus {
        border-color: $fia-primary-color;
      }

      &:hover {
        .fia-title {
          letter-spacing: 0.25px;
          text-decoration: underline;
          text-decoration-color: $fia-secondary-color;
          transition: letter-spacing 500ms ease-in-out;
        }
      }
    }

    .fia-title-wrapper {

      @include from-xs {
        align-self: center;
      }

      @include to-sm {
        align-self: start;
      }

      .fia-title {
        transition: letter-spacing 400ms ease-out;

        @include from-md {
          margin-bottom: 0;
        }

        @include to-md {
          margin-bottom: 5px;
        }
      }

      .fia-title.exam {
        text-decoration: underline;
        text-decoration-color: $fia-primary-color !important;
      }
    }

    .fia-description-wrapper {
      display: flex;
      align-items: center;

      @include to-xs {
        margin-top: -5px;
      }

      @include from-sm {
        flex-direction: row-reverse;
      }

      @include to-sm {
        flex-direction: column;
        align-self: start;
        align-items: flex-end;
      }

      .fia-description {
        color: $fia-grey-1;
        font-size: 0.95em;
        margin-bottom: 0;
        text-align: right;

        @include to-xs {
          font-size: .85em;
          margin-top: 4px;
        }

        @include from-sm {
          min-width: 70px;
        }
      }

      ::ng-deep .fia-badge {
        margin-top: 2px;

        @include to-xs {
          font-size: .5em;
        }

        @include to-sm {
          margin-left: 0;
        }
      }
    }
  }
}
