<div class="fia-post-link-wrapper">
  <p class="label" [innerHTML]="title" *ngIf="title"></p>
  <a class="fia-post-link" [routerLink]="'/' + post.subject + '/' + post.url" [ngClass]="{isCompleted: isAlreadyCompleted(post.postId)}">
    <div class="fia-title-wrapper">
      <p class="fia-title" [ngClass]="{exam: post.url.includes('test')}">{{post.title}}</p>
    </div>
    <div class="fia-description-wrapper">
      <p class="fia-description">{{post.lessonDate | date:'dd.MM.yyyy'}}</p>
      <app-post-badge [post]="post"></app-post-badge>
    </div>
  </a>
</div>
