<div class="fe-post-link-wrapper" *ngIf="post !== undefined">
  <a class="fe-post-link" [routerLink]="'/' + (post.subject ? post.subject : router.url) + '/' + post.url"
     [ngClass]="{ isCompleted: post._id | alreadyRead }">
    <div class="fe-title-wrapper">
      <p class="fe-title" [ngClass]="{exam: post.url?.includes('test')}">
        {{post.title}}
      </p>
    </div>
    <div class="fe-description-wrapper">
      <p class="fe-description">{{post.lessonDate | date: 'dd.MM.yyyy'}}</p>
      <fe-post-badge [post]="post || post.details"></fe-post-badge>
    </div>
  </a>
  <p class="label" [innerHTML]="title" *ngIf="title"></p>
</div>
