@import 'src/theme/styles';

.fia-post-link-wrapper {
  display: flex;
  padding: 0 40px;
  margin-left: -40px;
  margin-right: -40px;

  @include to-md {
    flex-direction: column;
    padding: 0;
    margin-left: 0;
    margin-right: 26px;
  }

  .label {
    align-self: center;
    margin-bottom: 0;
    margin-right: 5px;

    @include from-md {
      width: 100px;
      font-size: 1.1em;
      margin-top: 0;
      margin-right: 20px;
      flex-shrink: 0;
    }

    @include to-md {
      border: 2px solid var(--background-secondary);
      border-bottom: none;
      align-self: start;
      padding-left: 5px;
      padding-right: 5px;
      margin-left: 12px;

      font-size: .8em;
      color: var(--grey-3);
      letter-spacing: 1px;
    }
  }

  .fia-post-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--text-color-1);
    background: var(--background-secondary);
    padding: 8px 12px;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-decoration: none;
    border-right: 4px solid var(--tertiary-color);

    &.isCompleted {
      border-color: var(--secondary-color);
    }

    &:focus {
      outline: none;
    }

    @include to-xs {
      //flex-direction: column;
    }

    @include to-sm {
      //display: flex;
      //flex-direction: column;
    }

    @media screen and (min-width: 1000px) {
      &:hover, &:focus {
        border-color: var(--primary-color);
      }

      &:hover .fia-title {
        letter-spacing: 0.25px;
        text-decoration: underline;
        text-decoration-color: var(--secondary-color);
        transition: letter-spacing 500ms ease-in-out;
      }

      &:active .fia-title {
        letter-spacing: 0.1px;
      }
    }

    .fia-title-wrapper {
      margin-right: 5px;

      @include from-xs {
        align-self: center;
      }

      @include to-sm {
        align-self: start;
      }

      .fia-title {
        transition: letter-spacing 400ms ease-out;

        @include from-md {
          margin: 0;
        }

        @include to-md {
          margin-bottom: 5px;
        }
      }
    }

    .fia-description-wrapper {
      display: flex;
      align-items: center;
      flex-shrink: 0;

      @include to-xs {
        margin-top: -5px;
      }

      @include from-sm {
        flex-direction: row-reverse;
      }

      @include to-sm {
        flex-direction: column;
        align-self: start;
        align-items: flex-end;
      }

      .fia-description {
        color: var(--grey-4);
        font-size: .9em;
        margin: 0;
        text-align: right;
        line-height: 17px;

        @include to-xs {
          font-size: .85em;
          margin-top: 7px;
          line-height: 14px;
        }

        @include to-md {
          max-width: 80px;
        }

        @include from-sm {
          padding: 0 5px;
        }
      }

      app-post-badge {
      }

      ::ng-deep .fia-badge {
        @include to-sm {
          margin-top: 3px;
          margin-left: 0;
        }
      }
    }
  }
}
