@import "mixins";

:host {
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    height: var(--scrollbar-width);
    overflow-y: scroll;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--tertiary-color);
    border-radius: 0;
  }

  &.is-open button.fe-button {
    color: var(--text-color-3);
    border-color: rgba(var(--grey-1-rgb), 0.6);
  }

  button.fe-button {
    height: fit-content;

    @include from-xs {
      width: 140px;
    }

    @include to-xs {
      width: 130px;
    }
  }

  &.answer button + p,
  &.answer button + ul,
  &.answer button + ol,
  .post-answer-group {
    background-color: var(--button-hover-background);
    padding: 40px 20px 20px;
    margin-top: 0;
    position: relative;

    &:after {
      content: "Lösung";
      position: absolute;
      font-size: 0.8rem;
      top: 8px;
      left: 12px;

      color: rgba(var(--tertiary-color-rgb), 0.8);
      width: 1rem;
    }

    .post-table {
      .table-row th {
        background: var(--grey-2);
      }

      .table-row th,
      .table-row td {
        border-color: var(--grey-2);
      }
    }

    .post-code code {
      border: 1px solid var(--tertiary-color);
    }
  }

  &.answer {
    button + ul {
      padding-left: 40px;
    }
  }

  &.youtube-video {
    max-width: 720px;
  }
}

::ng-deep {
  mat-card.mat-card.card {
    fe-post-element:first-of-type {
      margin-top: 10px;
    }

    fe-post-element + fe-post-element {
      margin-top: 20px;
    }
  }

  .answer-group .post-answer-group {
    fe-post-element:first-child {
      margin-top: 0;
    }
  }

  .ddu-list-number,
  .list-number {
    display: inline-flex;
    $size: 32px;
    line-height: $size;
    width: $size;
    height: $size;
    font-size: 1em;
    justify-content: center;
    color: var(--secondary-color);
    background: var(--background-secondary);
    border-radius: 50%;
    margin-right: 5px;
    flex-shrink: 0;
  }

  .post-title {
    .ddu-list-number,
    .list-number {
      line-height: 35px;
      width: 36px;
      height: 36px;
    }
  }
}

.post-title {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 0;

  @include to-xs {
    font-size: 1.15rem;
  }
}

.post-subtitle {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  margin-bottom: 0;

  @include to-xs {
    font-size: 1.05rem;
  }
}

.post-text {
  line-height: 22px;
  margin-bottom: 0;

  code {
    background: var(--background-secondary);
    padding: 2px 5px;
    border-radius: 6px;
  }
}

.post-hint {
  background: var(--background-secondary);
  padding: 15px;
  border-left: 2px solid var(--primary-color);
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

hr {
  margin: 10px 0;
}

.post-list-ordered {
  counter-reset: ordered-list-counter;
  list-style: none;
  padding-left: 0;

  li {
    margin-left: 15px;
    counter-increment: ordered-list-counter;
    display: flex;
    align-items: center;
  }

  li::before {
    content: counter(ordered-list-counter);
    color: var(--primary-color);
    --size: 32px;
    left: calc(-1 * var(--size) - 10px);
    line-height: calc(var(--size) - 1px);
    width: var(--size);
    height: var(--size);
    //top: 0;
    background: var(--background-secondary);
    border-radius: 50%;
    text-align: center;
    flex-shrink: 0;
    margin-right: 10px;
  }
}

.post-list {
  padding-inline-start: 30px;
}

.post-ol-content,
.post-ul-content {
  margin-bottom: 0;
}

.post-ol-list p,
.post-ul-list p {
  margin: 0;
}

.post-ol-list:not(:last-of-type),
.post-ul-list:not(:last-of-type) {
  margin-bottom: 6px;
}

.post-ul-sublist {
  padding-inline-start: 0;
  padding-top: 3px;
}

.post-image-wrapper {
  width: 100%;
  display: flex;

  .post-image {
    border-radius: var(--border-radius);
    max-width: 100%;
  }

  @include from-lg {
    .small {
      max-width: 40%;
    }
    .medium {
      max-width: 60%;
    }
    .large {
      max-width: 80%;
    }
  }

  .fe-loading-spinner {
    margin-left: 50px !important;
  }
}

.post-table {
  border-collapse: collapse;
  table-layout: fixed;

  @include to-xs {
    font-size: 0.9rem;
  }

  .table-row {
    color: var(--text-color-1);

    th {
      background: var(--background-secondary);
    }

    th,
    td {
      text-align: left;
      padding: 8px;
      border: 1px solid var(--grey-2);

      @include to-xs {
        font-size: 0.7rem;
      }
    }

    .left {
      text-align: left;
    }
    .middle {
      text-align: center;
    }
    .right {
      text-align: right;
    }
  }
}

.post-table-group {
  display: inline-flex;
  flex-wrap: wrap;

  > fe-post-element {
    margin: 6px;

    .post-table {
      margin: 0;
    }
  }
}

.post-code {
  display: flex;
  margin: 0;

  code {
    width: 100%;
    padding: 20px;
    font-size: 0.9em;

    @include to-xs {
      font-size: 0.8em;
    }

    &::-webkit-scrollbar {
      height: var(--scrollbar-width);
      overflow-y: scroll;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--tertiary-color);
      border-radius: 0;
    }

    .dark,
    .light {
      .hljs-title {
        color: #5491fe;
      }
    }

    .light {
      .hljs-keyword {
        color: #9f00a9;
      }
    }

    .dark {
      .hljs-keyword {
        color: #f000ff;
      }

      .hljs-title {
        color: #5491fe;
      }
    }
  }
}

.post-youtube-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
