<fe-card
  class="news"
  title="Ankündigungen"
  [buttonLink]="news?.length > 1 ? null : '/mitteilungen'"
  [buttonLabel]="news?.length > 1 ? null : 'Mitteilungen'"
>
  <div class="news-container">
    <fe-loading-spinner *ngIf="news === undefined && !onlyNewest"></fe-loading-spinner>
    <ngx-skeleton-loader
      *ngIf="news === undefined && onlyNewest"
      animation="progress"
      appearance="line"
    ></ngx-skeleton-loader>

    <div class="fe-news-item" *ngFor="let post of news">
      <div class="fe-news-header">
        <p class="date">{{ post.date | date: "dd.MM.yyyy" }}</p>
        <p class="title">{{ post.title }}</p>
      </div>
      <a class="fe-button small" [routerLink]="'/mitteilungen/' + post.url" matRipple>Lesen</a>
    </div>

    <fe-pagination-bar
      *ngIf="news && allNewsLength"
      [totalItems]="allNewsLength"
      [currentPage]="currentPage"
      (changePage)="loadPage($event)"
      [isLoading]="isLoading"
    ></fe-pagination-bar>
  </div>
</fe-card>
