<mat-card class="fe-card matching">
    <p class="fe-card-title" *ngIf="matching !== undefined" [innerHTML]="matching.title"></p>
    <p class="fe-card-description" *ngIf="matching !== undefined">
        <span [innerHTML]="matching.description"></span>
        <fe-post-badge [post]="matching"></fe-post-badge>
    </p>
    <mat-card-content class="fe-card-content" *ngIf="matching !== undefined">
        <div id="game" #gameView [class.correct]="isCorrect === true" [class.wrong]="isCorrect === false">
            <p class="game-introduction">
                Setze die Karten in die richtige Reihenfolge und klicke auf Verbinden.
            </p>
            <h2 class="round-label">{{round+1}}/{{matching.elements.length}}</h2>
            <div class="container unsolved" *ngIf="unsolvedPairs.length > 0 && state !== 'end'">
                <div class="match-pair-side left" (cdkDropListDropped)="drop($event, leftSidePairs)" cdkDropList #slideInLeft>
                    <button class="match-card unselectable cdk-drag-animating" *ngFor="let pair of leftSidePairs" [disabled]="isCorrect !== undefined" cdkDrag>
                        {{pair.leftpart}}
                    </button>
                </div>
                <div class="connector-container">
                    <div class="connector-wrapper" *ngFor="let pair of unsolvedPairs">
                        <div id="horizontal-connector"></div>
                    </div>
                </div>
                <div class="vertical-connector"></div>
                <div class="match-pair-side right" (cdkDropListDropped)="drop($event, rightSidePairs)" cdkDropList #slideInRight>
                    <button class="match-card unselectable cdk-drag-animating" *ngFor="let pair of rightSidePairs" [disabled]="isCorrect !== undefined" cdkDrag>
                        {{pair.rightpart}}
                    </button>
                </div>
            </div>
            <button class="fe-text-button" *ngIf="state === 'play'" (click)="checkResult()" [disabled]="isCorrect !== undefined" matRipple>
                <span>Verbinden</span>
            </button>
            <ng-container *ngIf="state === 'end'">
                <h1 class="finish-label">Lektion abgeschlossen</h1>
                <button class="fe-text-button" (click)="restartGame()" matRipple>
                    <span>Neustarten</span>
                </button>
            </ng-container>
        </div>
    </mat-card-content>
    <p class="post-last-update" *ngIf="matching !== undefined">
        Letzte Aktualisierung: {{matching.lastUpdate | date:'dd.MM.yyyy'}}
    </p>
</mat-card>
