<mat-card class="card school-week" *ngIf="week !== null">
  <mat-card-header class="card-header">
    <mat-card-title class="card-title">Schulwoche #{{ week.schoolWeek }}</mat-card-title>
    <mat-card-subtitle class="card-date">
      {{ (week.posts[0].lessonDate | date: "dd.MM.yyyy") || "00.00.0000" }} -
      {{ (week.posts[week.posts.length - 1].lessonDate | date: "dd.MM.yyyy") || "00.00.0000" }}
    </mat-card-subtitle>

    <div class="button-wrapper" *ngIf="showNavigation">
      <mat-spinner *ngIf="isLoading" diameter="24"></mat-spinner>
      <button
        class="previous-week-btn"
        (click)="setWeek(-1)"
        [disabled]="week === undefined || week.schoolWeek == 1"
        mat-icon-button
      >
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button
        class="next-week-btn"
        (click)="setWeek(1)"
        [disabled]="week === undefined || week.schoolWeek == dashboard.CURRENT_SCHOOL_WEEK"
        mat-icon-button
      >
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </mat-card-header>

  <mat-card-content class="card-content">
    <fe-loading-spinner *ngIf="week === undefined"></fe-loading-spinner>
    <div class="weekday-group" *ngIf="week !== undefined">
      <div class="weekday-item" *ngFor="let el of week | schoolDays">
        <div class="label-wrapper">
          <p class="weekday-label">{{ el.day | weekdayString }}</p>
          <hr class="weekday-spacer" />
        </div>
        <fe-post-link
          *ngFor="let post of el.lessons"
          [post]="post"
          [title]="post.subject | longSubjectName"
        ></fe-post-link>
      </div>
    </div>
    <p class="no-data" *ngIf="week && week.posts.length === 0">Artikel noch nicht freigeschaltet</p>
  </mat-card-content>
</mat-card>
