<fe-card title="Passwort zurücksetzen">
  <form
    class="email"
    [formGroup]="emailForm"
    (ngSubmit)="sendVerificationCode()"
    (change)="onFormChange($event)"
    *ngIf="!isEmailSent"
  >
    <p class="info-label">Gib deine E-Mail Adresse ein um dein Passwort zurückzusetzen.</p>
    <mat-form-field class="input email">
      <mat-label>E-Mail</mat-label>
      <input
        matInput
        type="email"
        autocomplete="off"
        formControlName="email"
        #emailInput="matInput"
        (keyup)="emailForm.controls.email.setValue(emailInput.value)"
      />
      <mat-error *ngIf="emailForm.controls.email.hasError('required')">E-Mail ist erforderlich</mat-error>
      <mat-error *ngIf="emailForm.controls.email.hasError('email')">E-Mail ist ungültig</mat-error>
    </mat-form-field>

    <div class="button-container">
      <button class="fe-button" type="submit" [isLoading]="isSubmitLoading" matRipple>Verifizierungscode senden</button>
    </div>
  </form>

  <form
    class="password"
    [formGroup]="passwordForm"
    (ngSubmit)="changeUserPassword()"
    (change)="onFormChange($event)"
    *ngIf="isEmailSent"
  >
    <p class="info-label">Schaue in dein E-Mail Postfach und gebe den Verifizierungscode ein.</p>
    <mat-form-field class="input code">
      <mat-label>Verifizierungscode</mat-label>
      <input
        matInput
        type="number"
        inputmode="numeric"
        pattern="[0-9]*"
        autocomplete="off"
        formControlName="verificationCode"
      />
      <mat-error *ngIf="passwordForm.controls.verificationCode.hasError('required')">
        Verifizierungscode erforderlich
      </mat-error>
      <mat-error *ngIf="passwordForm.controls.verificationCode.hasError('incorrect')">
        Verifizierungscode ungültig
      </mat-error>
    </mat-form-field>

    <mat-form-field class="input password">
      <mat-label>Passwort</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error
        *ngIf="passwordForm.controls.password.hasError('password') && !passwordForm.controls.password.hasError('required')"
      >
        Neues Passwort ungültig
      </mat-error>
      <mat-error *ngIf="passwordForm.controls.password.hasError('minlength')">
        Neues Passwort zu kurz (min. 4 Zeichen)
      </mat-error>
      <mat-error *ngIf="passwordForm.controls.password.hasError('required')"> Neues Passwort erforderlich </mat-error>
    </mat-form-field>

    <mat-form-field class="input confirm-password">
      <mat-label>Passwort bestätigen</mat-label>
      <input matInput type="password" formControlName="confirmPassword" />
      <mat-error
        *ngIf="passwordForm.controls.confirmPassword.hasError('password') && !passwordForm.controls.confirmPassword.hasError('required')"
      >
        Neues Passwort bestätigen ungültig
      </mat-error>
      <mat-error *ngIf="passwordForm.controls.confirmPassword.hasError('minlength')">
        Neues Passwort bestätigen zu kurz (min. 4 Zeichen)
      </mat-error>
      <mat-error *ngIf="passwordForm.controls.confirmPassword.hasError('required')">
        Neues Passwort bestätigen erforderlich
      </mat-error>
      <mat-error *ngIf="passwordForm.controls.confirmPassword.hasError('match')">
        Neues Passwort und Neues Passwort bestätigen stimmen nicht überein
      </mat-error>
    </mat-form-field>

    <div class="button-container">
      <button class="fe-button" type="submit" [isLoading]="isSubmitLoading" matRipple>Bestätigen</button>
    </div>
  </form>
</fe-card>
