@import "mixins";

:host {
  ::ng-deep {
    mat-card.card {
      mat-card-content.card-content {
        margin-top: 20px;
      }
    }
  }

  p.info-label {
    margin: 10px 0 20px;
  }

  form.email,
  form.password {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include from-xs {
      max-width: 50%;
    }

    mat-form-field.input.mat-form-field-invalid {
      margin-bottom: 10px;

      &:last-of-type:not(:first-of-type) {
        margin-bottom: 20px;
      }
    }

    div.button-container {
      display: flex;
      flex-direction: column;
    }
  }
}
