/* ANSWER INDICATOR */
.fia-answer-indicator {
  opacity: 0;
  transition: opacity 200ms ease;
  &.correct, &.wrong {
    opacity: 1;
  }

  svg {
    display: block;
    margin: auto;

    @include from-md {
      width: 48px;
    }

    @include to-md {
      width: 30px;
    }

    .path {
      stroke-dasharray: 1000;
      stroke-dashoffset: 0;

      &.line {
        stroke-dashoffset: 1000;

        &.first {
          animation: dash .4s .5s ease-in-out forwards;
          -webkit-animation: dash .4s .5s ease-in-out forwards;
        }

        &.second {
          animation: dash .4s .8s ease-in-out forwards;
          -webkit-animation: dash .4s .8s ease-in-out forwards;
        }
      }
      &.check {
        stroke-dashoffset: -100;
        animation: dash-check .9s .5s ease-in-out forwards;
        -webkit-animation: dash-check .9s .5s ease-in-out forwards;
      }
    }

    @-webkit-keyframes dash {
      0% {
        stroke-dashoffset: 1000;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }

    @keyframes dash {
      0% {
        stroke-dashoffset: 1000;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }

    @-webkit-keyframes dash-check {
      0% {
        stroke-dashoffset: -100;
      }
      100% {
        stroke-dashoffset: 900;
      }
    }

    @keyframes dash-check {
      0% {
        stroke-dashoffset: -100;
      }
      100% {
        stroke-dashoffset: 900;
      }
    }
  }

  .correct {
    stroke: #6aea2094;

    .circle {
      animation: dash 1.5s normal;
      -webkit-animation: dash 1.5s normal;
    }
  }

  .wrong{
    stroke: #dc4667c9;

    .circle {
      animation: dash 1.5s normal;
      -webkit-animation: dash 1.5s normal;
    }
  }
}
