.app-icon .fe-app-name {
  display: inline-block;
  align-self: center;

  color: var(--text-color-1);
  font-family: Nunito-Light, sans-serif;
  font-size: 1rem;
  font-weight: 100;
  text-align: left;
  line-height: 14px;

  transition: letter-spacing 600ms ease;
  z-index: 1;
}

.fe-icon-wrapper {
  width: 34px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  fill: var(--tertiary-color);

  svg {
    height: 32px;

    g {
      transform: scale(0.04);

      text {
        font-family: Nunito-regular, sans-serif;
      }
    }
  }

  @include from-xs {
    margin-right: 5px;
    fill: var(--tertiary-color);
  }

  @include to-xs {
    margin-right: 8px;
  }
}

fe-header.fe-header .mat-toolbar .header-wrapper:not(.sidenav--open) .fe-icon-wrapper {
  @include to-xs {
    margin-right: 0;
  }
}

fe-header.fe-header .mat-toolbar .fe-logo-wrapper {
  display: flex;
  justify-content: left;
  background: transparent;
  font-size: 1em;
  text-decoration: none;
  flex-shrink: 0;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;

  @include from-md {
    width: 200px;
    padding-left: 13px;
    padding-right: 13px;
  }

  @include to-md {
    width: 158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .fe-icon-wrapper {

    @include to-xs {
      width: 28px;
    }
  }

  &.active-route {
    .fe-icon-wrapper {
      fill: var(--secondary-color);
    }
  }

  &:hover .fe-app-name {
    letter-spacing: 1px;
    transition: letter-spacing 500ms ease-out;
  }
  &:active .fe-app-name {
    letter-spacing: .5px;
  }
}

fe-header.fe-header .mat-toolbar .header-wrapper:not(.sidenav--open) .fe-logo-wrapper {
  @include to-xs {
    width: fit-content;
    height: 36px;
    align-self: center;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    fill: var(--tertiary-color);

    .fe-app-name {
      display: none;
    }
  }
}

fe-header.fe-header .mat-toolbar .header-wrapper.sidenav--open {
  @include to-xs {
    .fe-app-name {
      @include logoMoveInLeftAnimation;
    }
    .page-title {
      display: none;
    }
  }
}

fe-header.fe-header .mat-toolbar .fe-logo-wrapper {
  &:hover, &:focus {
    .fe-icon-wrapper:not(.active-route) {
      @include from-md {
        fill: var(--secondary-color);
        transition: letter-spacing 150ms ease-out;
      }
    }
  }

  &:focus {
    outline: none;
  }
}
