.app-icon .fe-app-name {
  display: inline-block;
  align-self: center;
  text-align: left;

  color: white;
  font-size: 1rem;
  font-weight: 300;
  line-height: 14px;

  transition: letter-spacing 600ms ease;
  z-index: 1;

  @include to-xs {
    font-size: .9rem;
  }
}

.fe-icon-wrapper {
  width: 34px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  fill: var(--tertiary-color);

  svg {
    height: 32px;

    g {
      transform: scale(0.04);
    }
  }

  @include from-xs {
    margin-right: 5px;
    fill: var(--tertiary-color);
  }

  @include to-xs {
    margin-right: 8px;
  }
}

fe-header.fe-header .mat-toolbar:not(.sidenav--open) .fe-icon-wrapper {
  @include to-xs {
    margin-right: 0;
  }
}

fe-header.fe-header .mat-toolbar .sidenav-section {
  display: flex;
  flex: 0 0 auto;

  @include from-md {
    width: 190px;
  }

  @include to-xs {
    transform: translateX(-5px);
  }

  .fe-logo-wrapper {
    display: flex;
    justify-content: left;
    font-size: 1em;
    text-decoration: none;
    flex-shrink: 0;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    @include from-xs {
      padding-left: 33px;
      transform: translateX(-20px);
    }

    @include to-xs {
      padding-left: 22px;
      padding-top: 2px;
      padding-bottom: 2px;
    }

    .fe-icon-wrapper {

      @include to-xs {
        width: 28px;
      }
    }

    &:hover .fe-app-name {
      letter-spacing: 1px;
      transition: letter-spacing 500ms ease-out;
    }
    &:active .fe-app-name {
      letter-spacing: .5px;
    }
  }
}

fe-header.fe-header .mat-toolbar:not(.sidenav--open) .fe-logo-wrapper {
  @include to-xs {
    background: var(--background-primary);
    border-radius: 8px;
    width: fit-content;
    height: 42px;
    align-self: center;
    padding: 7px;
    margin-left: 15px;
    margin-right: 5px;
    fill: var(--tertiary-color);

    .fe-app-name {
      display: none;
    }
  }
}

fe-header.fe-header .mat-toolbar.sidenav--open {
  @include to-xs {
    .fe-app-name {
      color: var(--text-color-1);
      @include logoMoveInLeftAnimation;
    }
  }
}

fe-header.fe-header .mat-toolbar .fe-logo-wrapper {
  &:hover, &:focus {
    .fe-icon-wrapper:not(.active-route) {
      @include from-md {
        transition: letter-spacing 150ms ease-out;
      }
    }
  }

  &:focus {
    outline: none;
  }
}
