.app-icon .fia-app-name {
  display: inline-block;
  align-self: center;

  color: var(--text-color-1);
  font-family: Nunito-Light, sans-serif;
  font-size: 1.1rem;
  font-weight: 100;
  text-align: left;
  line-height: 14px;

  transition: letter-spacing 600ms ease;
  z-index: 1;
}

.fia-icon-wrapper {
  width: 34px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 6px;

  svg {
    height: 32px;

    g {
      transform: scale(0.04);

      text {
        font-family: Nunito-regular, sans-serif;
      }
    }
  }

  @include from-xs {
    fill: var(--tertiary-color);
  }
}

.fia-app-name {
  z-index: 1;
}
