/* CARDS */
mat-card.mat-card.fe-card {
  max-width: var(--max-width);
  background: var(--background-primary);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  margin-bottom: 20px;
  margin-right: 0;
  transition: none;

  @include moveInTopAnimation;

  &.mat-card {
    @include from-xs {
      padding: 30px;
    }

    @include to-xs {
      padding: 20px;
    }
  }

  @include to-xs {
    border-radius: 0;
  }

  .fe-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .fe-post-last-update {
    font-size: .9em;
    color: var(--grey-3);
    text-align: right;
    margin-top: 40px;
  }
}

p.fe-card-title {
  font-family: Nunito-Regular, sans-serif;
  letter-spacing: 1.5px;
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);

  @include from-xs {
    font-size: 1.5em;
    line-height: 24px;
    margin-bottom: 6px;
  }

  @include to-xs {
    font-size: 1.3em;
    line-height: 20px;
    margin-bottom: 5px;
  }
}

p.fe-card-description {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  font-family: Nunito-Light, sans-serif;
  color: var(--grey-3);
  letter-spacing: .5px;
  margin: 0;

  @include to-xs {
    font-size: 1em;
  }
}
