/* CARDS */
mat-card.mat-card.fe-card {
  max-width: var(--max-width);
  background: var(--background-primary);
  box-shadow: none;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
  margin-right: 0;
  transition: none;

  @include moveInTopAnimation;

  &.mat-card {
    @include from-xs {
      padding: 30px;
    }

    @include to-xs {
      padding: 20px;
    }
  }

  @include to-xs {
    border-radius: 0;
  }

  .fe-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .post-last-update {
    font-size: .8rem;
    color: var(--grey-2);
    text-align: right;
    margin-top: 40px;

    @include to-xs {
      font-size: .7rem;
    }
  }
}

p.fe-card-title {
  letter-spacing: 1.5px;
  text-decoration: underline;
  text-decoration-color: var(--secondary-color);
  margin-bottom: 0;

  @include from-xs {
    font-size: 1.4em;
    line-height: 24px;
  }

  @include to-xs {
    font-size: 1.3em;
  }
}

p.fe-card-description {
  display: flex;
  align-items: center;
  font-size: .9rem;
  font-weight: 300;
  color: var(--grey-3);
  letter-spacing: .5px;
  margin: 0;

  @include to-xs {
    font-size: .8rem;
  }
}
