.fia-exam-item {
  display: flex;
  flex-direction: column;

  .fia-icon-details-title-wrapper {
    display: flex;
    align-items: center;

    @include to-sm {
      align-items: start;
      flex-direction: column-reverse;
    }

    .fia-icon-details {
      display: flex;
      align-items: center;
      background: var(--exam-background);
      padding: 10px 10px 10px 25px;
      margin-left: -30px;

      @include to-sm {
        padding: 10px 10px 10px 25px;
      }

      .fia-exam-item-icon {
        align-self: center;
        color: var(--tertiary-color);
        $size: 50px;
        font-size: $size;
        width: $size;
        height: $size;
        margin-right: 8px;

        @include from-xs {
        }

        @include to-xs {
          $size: 36px;
          font-size: $size;
          width: $size;
          height: $size;
          align-self: flex-start;
        }
      }
    }

    .details-button-wrapper {
      display: flex;
      flex-direction: column;
      margin-right: 5px;

      .fia-details-wrapper {
        display: flex;
        justify-content: space-between;
        font-size: .8em;

        @include to-xs {
          font-size: .7em;
        }

        .date,
        .days-left {
          letter-spacing: 1px;
          margin-top: 3px;
          margin-bottom: 3px;
          line-height: 16px;

          @include from-xs {
          }

          @include to-xs {
          }
        }

        .date {
          width: 180px;

          @include to-xs {
            width: 150px;
          }

          .bracket {
            color: var(--grey-1);
          }
        }

        .days-left {
          width: 90px;
          text-align: right;
        }
      }

      .btn-show-lessons {
        display: flex;
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        align-items: center;
        align-self: flex-end;

        &:hover span {
          letter-spacing: 2px;
          transition: letter-spacing 400ms ease-out;
        }

        &:active span {
          letter-spacing: 1.2px;
        }

        span {
          font-family: Nunito-Bold, sans-serif;
          font-size: .9em;
          color: var(--tertiary-color);
          text-transform: uppercase;
          padding: 3px 10px;
          flex-shrink: 0;
          letter-spacing: 1px;
          transition: letter-spacing 600ms ease;
        }

        &:not(.is-open) span {
          border-bottom: 1px solid rgba(var(--tertiary-color-rgb), .3)
        }

        &.is-open span {
          color: var(--text-color-3);
        }
      }
    }

    .fia-exam-title-wrapper {

      .fia-exam-subject {
        color: var(--grey-4);
        letter-spacing: 1px;
        margin-bottom: 0;

        @include from-xs {
          font-size: .9em;
        }

        @include to-xs {
          font-size: .8em;
        }
      }

      .fia-exam-subject, .fia-exam-title {

        @include from-sm {
          margin-top: 0;
          margin-left: 20px;
        }

        @include to-sm {
        }
      }

      .fia-exam-title {
        font-size: 1em;
        letter-spacing: 1px;
        flex-grow: 1;

        @include from-sm {
          margin-top: 0;
          margin-bottom: 0;
        }

        @include to-xs {
          font-size: .9em;
          margin-top: 0;
          margin-bottom: 3px;
        }
      }
    }

  }

  .fia-lessons-container {
    padding-top: 10px;
    margin-left: 50px;
    position: relative;

    @include to-xs {
      margin-left: 35px;
    }

    .fia-lesson-wrapper {
      position: relative;

      .fia-horizontal-line, .fia-vertical-line {
        border: none;
        position: absolute;
        background: var(--exam-background);

        @include from-xs {
          left: -38px;
        }

        @include to-xs {
          left: -27px;
        }
      }

      .fia-horizontal-line {
        height: 1px;
        bottom: 0;
        left: -35px;

        @include from-xs {
          width: 35px;
        }

        @include to-xs {
          width: 24px;
          left: -24px;
        }
      }

      .fia-vertical-line {
        width: 3px;
        top: -10px;
        bottom: 0;
      }
    }
  }
}
