.fe-exam-item {
  display: flex;
  flex-direction: column;

  .exam-details-wrapper {
    display: flex;
    align-items: center;

    @include to-lg {
      align-items: start;
      flex-direction: column-reverse;
    }

    .exam-date-block {
      display: flex;
      align-items: center;
      background: var(--exam-background);
      padding: 10px 10px 10px 25px;
      margin-left: -30px;

      @include to-lg {
        padding: 10px 10px 10px 25px;
      }

      .date-icon {
        align-self: center;
        color: var(--tertiary-color);
        $size: 50px;
        font-size: $size;
        width: $size;
        height: $size;
        margin-right: 8px;

        @include from-xs {
        }

        @include to-xs {
          $size: 36px;
          font-size: $size;
          width: $size;
          height: $size;
          align-self: flex-start;
        }
      }
    }

    .date-block-wrapper {
      display: flex;
      flex-direction: column;
      margin-right: 5px;

      .date-details {
        display: flex;
        justify-content: space-between;
        font-size: .8rem;

        @include to-xs {
          font-size: .7rem;
        }

        .date,
        .days-left {
          letter-spacing: 1px;
          margin-top: 3px;
          margin-bottom: 3px;
          line-height: 16px;
        }

        .date {
          width: 180px;

          @include to-xs {
            width: 150px;
          }

          .bracket {
            color: var(--grey-1);
          }
        }

        .days-left {
          width: 90px;
          text-align: right;
        }
      }

      .show-lessons-btn {
        display: flex;
        background: transparent;
        align-items: center;
        align-self: flex-end;
        border: none;
        border-top-left-radius: var(--button-radius);
        border-top-right-radius: var(--button-radius);
        cursor: pointer;
        outline: none;
        margin-top: 4px;

        letter-spacing: 1px;
        transition: background 200ms ease-out;

        &:hover:not(:active) span {
          background: var(--background-primary);
          transition: background 200ms ease-out;
        }

        span {
          font-size: .9em;
          color: var(--tertiary-color);
          text-transform: uppercase;
          letter-spacing: 1px;
          border-bottom: 1px solid rgba(var(--tertiary-color-rgb), .3);
          padding: 3px 10px;
          flex-shrink: 0;
          transition: letter-spacing 600ms ease;
        }

        &.is-open span {
          color: var(--text-color-3);
          border-bottom: 1px solid rgba(var(--grey-4-rgb), .3);
        }
      }
    }

    .exam-title-wrapper {

      .exam-subject {
        color: var(--grey-4);
        letter-spacing: 1px;
        margin-bottom: 0;

        @include from-xs {
          font-size: .9em;
        }

        @include to-xs {
          font-size: .8em;
        }
      }

      .exam-subject, .exam-title {

        @include from-lg {
          margin-top: 0;
          margin-left: 20px;
        }

        @include to-lg {
        }
      }

      .exam-title {
        font-size: 1em;
        letter-spacing: 1px;
        flex-grow: 1;

        @include from-lg {
          margin-top: 0;
          margin-bottom: 0;
        }

        @include to-xs {
          font-size: .9em;
          margin-top: 0;
          margin-bottom: 3px;
        }
      }
    }

  }

  .lessons-container {
    padding-top: 10px;
    margin-left: 50px;
    position: relative;

    @include to-xs {
      margin-left: 35px;
    }

    .lesson-wrapper {
      position: relative;

      .horizontal-line, .vertical-line {
        border: none;
        position: absolute;
        background: var(--exam-background);

        @include from-xs {
          left: -38px;
        }

        @include to-xs {
          left: -27px;
        }
      }

      .horizontal-line {
        height: 1px;
        bottom: 0;
        left: -35px;

        @include from-xs {
          width: 35px;
        }

        @include to-xs {
          width: 24px;
          left: -24px;
        }
      }

      .vertical-line {
        width: 3px;
        top: -10px;
        bottom: 0;
      }
    }
  }
}
