
.fe-card.lesson-footer {
  .fe-button-container {
    display: flex;
    flex-direction: row-reverse;

    .fe-text-button {
      margin-left: 20px;
    }

    .fe-text-button {
      @include to-xs {
        font-size: .9em;
      }
    }
  }
}
