.ddu-list-number,
.list-number {
  display: inline-flex;
  $size: 32px;
  line-height: $size;
  width: $size;
  height: $size;
  font-size: 1em;
  justify-content: center;
  color: var(--secondary-color);
  background: var(--background-secondary);
  border-radius: 50%;
  margin-right: 5px;
  flex-shrink: 0;
}

.post-title .ddu-list-number,
.post-title .list-number {
  line-height: 35px;
  width: 36px;
  height: 36px;
}
