/* LOADING SPINNER */
mat-spinner.fe-loading-spinner.mat-spinner,
mat-card.fe-card mat-spinner.fe-loading-spinner.mat-spinner {
  margin: 50px auto;

  $size: 32px;

  width: $size !important;
  height: $size !important;

  svg {
    width: $size !important;
    height: $size !important;

    circle {
      stroke: var(--tertiary-color);
      stroke-width: 6px !important;
    }
  }
}
