/* LOADING SPINNER */
.fe-loading-indicator {
  max-width: var(--max-width);

  mat-spinner.fe-loading-spinner.mat-spinner {
    margin: 50px auto;

    svg circle {
      stroke: var(--tertiary-color);
    }
  }
}
