
::ng-deep .mat-dialog-container .fe-logout-dialog {
  background: var(--background-secondary);
  color: var(--text-color-1);
  border-radius: 0;

  .mat-dialog-content {
    margin-bottom: 10px;
  }

  .fe-no-btn, .fe-logout-btn {
  }

  .fe-text-button .mat-icon {
    height: 20px;
    width: 20px;
    line-height: 1.3rem;
  }

  .mat-dialog-actions {
    padding-bottom: 0;
    margin-bottom: 0;

    button {
      line-height: 24px;
    }
  }
}

.logout-modal.cdk-overlay-pane {
  animation-name: moveInTop;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: moveInTop;
  -webkit-animation-duration: 400ms;
  -webkit-animation-timing-function: ease-in-out;
}
