
.logout-modal.cdk-overlay-pane {
  .fe-text-button {
    display: flex;
    align-items: center;

    .mat-icon {
      height: 16px;
      width: 16px;
      line-height: 1.1rem;
      font-size: 1rem;
      margin-left: 5px;
    }
  }
}
