/* FIAPPY - INPUT - <mat-form-field> */
.fia-input {
  &.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 0;
  }

  .mat-form-field-label {
    color: var(--grey-4);
  }
  &.mat-form-field-invalid .mat-form-field-label,
  &.mat-form-field-should-float .mat-form-field-label {
    color: var(--primary-color);
  }
  .mat-form-field-ripple {
    background-color: var(--primary-color) !important;
  }
  .mat-error {
    margin-bottom: 5px;
  }
}
