/* MAT-SNACKBAR */
snack-bar-container.mat-snack-bar-container {
  color: var(--tertiary-color);
  background: var(--background-primary);
  border: 1px solid var(--tertiary-color);
  margin-bottom: 40px;

  @include from-md {
    max-width: 40vw;
  }
}

.mat-snack-bar-handset snack-bar-container.mat-snack-bar-container {
  margin-bottom: 30px;
}
