.fia-card.news-card .fia-card-header {
  .fia-card-title {
  }
}

.fia-card.news-card .fia-news-container {
  @include from-xs {
    margin-top: 20px !important;
  }

  @include to-xs {
    margin-top: 10px !important;
  }

  .fia-news-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--grey-1);
    }
  }
}

.fia-card.news-card .fia-news-item .fia-news-header {
  display: flex;

  @include to-md {
    flex-direction: column;
  }

  .date {
    align-self: center;
    flex-shrink: 0;

    @include from-md {
      min-width: 70px;

      padding-right: 10px;
      margin-right: 10px;
      border-right: 1px solid var(--grey-1);
    }

    @include to-md {
      min-width: 55px;
      margin-right: auto;
      color: var(--text-color-3);
    }
  }

  .title {
    margin-right: 10px;
    align-self: center;
    line-height: 14px;
  }

  .date, .title {
    margin-top: 0;
    margin-bottom: 0;

    @include from-sm {
      flex-shrink: 0;
    }

    @include to-xs {
      font-size: .9em;
    }
  }
}

.fia-card.news-card .fia-news-item .fia-text-button {
  &:hover {
    color: var(--tertiary-color);
  }
}

.fia-card.news-card .fia-news-container .fia-loading-spinner {

  @include from-xs {
    margin-top: -12px !important;
    margin-bottom: 4px !important;
  }

  @include to-xs {
    margin-top: 20px !important;
    margin-bottom: 2px !important;
  }
}
