mat-card.fe-card.fe-next-exams {
  .fe-card-header {
  }

  .fe-view-wrapper {
    margin-top: 15px;

    .fe-exam-item-wrapper:not(:last-of-type) {
      margin-bottom: 20px;

      @include to-xs {
        margin-bottom: 30px;
      }
    }
  }
}

