.fe-post-item {
  overflow: auto;

  .fe-text-button {
    padding-top: 4px;
    height: fit-content;
    align-self: center;
  }

  &.is-open {

    .fe-text-button {
      color: var(--text-color-3);
      border-color: rgba( var(--grey-1-rgb), .6);
    }
  }

  .post-title {
    font-size: 1.5em;
    font-weight: 600;
    font-family: Nunito-Light, sans-serif;
    margin-top: 10px;

    @include to-xs {
      font-size: 1.3em;
    }
  }

  .post-subtitle {
    font-size: 1.3em;
    font-weight: 600;
    font-family: Nunito-Light, sans-serif;
    letter-spacing: .5px;
    margin-top: 20px;

    @include to-xs {
      font-size: 1.1em;
    }
  }

  .post-text,
  .post-hint,
  .post-list,
  .post-table {
  }

  .post-text {
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 22px;

    code {
      background: var(--background-secondary);
      padding: 2px 5px;
      border-radius: 6px;
    }
  }

  .post-hint {
    background: var(--background-secondary);
    padding: 15px;
    margin: 30px 0;
    border-left: 2px solid var(--primary-color);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  hr {
    height: 1px;
    width: 100%;
    margin-block-start: 2.5em;
    margin-block-end: 2em;
  }

  .post-list-ordered,
  .post-list {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .post-list-ordered {
    counter-reset: ordered-list-counter;
    list-style: none;
    padding-left: 0;

    li {
      margin-left: 15px;
      counter-increment: ordered-list-counter;
      display: flex;
      align-items: center;
    }

    li::before {
      content: counter(ordered-list-counter);
      color: var(--primary-color);
      --size: 32px;
      left: calc(-1 * var(--size) - 10px);
      line-height: calc(var(--size) - 1px);
      width: var(--size);
      height: var(--size);
      //top: 0;
      background: var(--background-secondary);
      border-radius: 50%;
      text-align: center;
      flex-shrink: 0;
      margin-right: 10px;
    }
  }

  .post-list {
    padding-inline-start: 30px;
  }

  .post-ol-content,
  .post-ul-content {
    margin-bottom: 0;
  }

  .post-ol-list p,
  .post-ul-list p {
    margin: 0;
  }

  .post-ol-list:not(:last-of-type),
  .post-ul-list:not(:last-of-type) {
    margin-bottom: 6px;
  }

  .post-ol-list:first-of-type,
  .post-ul-list:first-of-type {
    margin-top: 5px;
  }

  .post-ol-sublist,
  .post-ul-sublist {
    padding-inline-start: 0;
    padding-top: 3px;
  }

  .post-image-wrapper {
    margin: 10px 0;
    width: 100%;

    .post-image {
      border-radius: var(--border-radius);
      max-width: 100%;
    }

    @include from-lg {
      .small {
        max-width: 40%;
      }

      .medium {
        max-width: 60%;
      }

      .large {
        max-width: 80%;
      }
    }

    .fe-loading-spinner {
      margin-left: 50px !important;
    }
  }

  .post-table-title {
  }
  .post-table {
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 20px;
    margin-bottom: 20px;

    .table-row {
      color: var(--text-color-1);

      th {
        font-family: Nunito-Bold, sans-serif;
        background: var(--background-secondary);
      }

      th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid var(--grey-1);
      }

      .left { text-align: left; }
      .middle { text-align: center; }
      .right { text-align: right; }
    }
  }

  .post-table-group {
    display: inline-flex;
    flex-wrap: wrap;

    > fe-post-element {
      margin: 6px;

      .post-table {
        margin: 0;
      }
    }
  }

  .post-code {
    margin: 0;
    code {
      padding: 20px;
      font-size: .9em;

      @include to-xs {
        font-size: .8em;
      }
    }
  }

}

.fe-post-item.code {

}

.fe-post-item.answer button + p,
.fe-post-item.answer button + ul,
.fe-post-item.answer button + ol,
.post-answer-group {
  background-color: var(--button-hover-background);
  padding: 40px 20px 20px;
  margin-top: 0;
  position: relative;

  &:after {
    content: 'Lösung';
    position: absolute;
    font-size: .8rem;
    top: 8px;
    left: 12px;

    color: rgba(var(--tertiary-color-rgb), .8);
    width: 1rem;
  }

  .post-table {
    .table-row th {
      background: var(--grey-2);
    }

    .table-row th, .table-row td {
      border-color: var(--grey-3);
    }
  }

  .post-code code {
    border: 1px solid var(--tertiary-color);
  }
}

.fe-post-item.answer button + ul {
  padding-left: 40px;
}

.fe-page.post-page .fe-card .fe-post-content .post-answer-group fe-post-element:first-child .fe-post-item {
  margin-top: 0;
}

