.fe-post-link-wrapper {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 40px;
  margin-left: -40px;
  margin-right: -40px;

  @include to-md {
    flex-direction: column;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .label {
    align-self: center;
    margin-bottom: 0;
    margin-right: 5px;

    @include from-md {
      width: 120px;
      font-size: 1em;
      margin-top: 0;
      margin-right: 20px;
      flex-shrink: 0;
    }

    @include to-md {
      border: 1px solid var(--background-secondary);
      border-top: none;
      border-bottom-left-radius: var(--button-radius);
      border-bottom-right-radius: var(--button-radius);
      align-self: start;
      padding-left: 5px;
      padding-right: 5px;
      margin-left: 12px;

      font-size: .8em;
      font-family: Nunito-Light, sans-serif;
      color: var(--grey-3);
      letter-spacing: 1px;
    }
  }

  .fe-post-link {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--text-color-1);
    border-bottom: 1px solid var(--background-secondary);
    padding: 8px 12px;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-decoration: none;
    border-right: 2px solid var(--tertiary-color);
    border-top-left-radius: var(--button-radius);

    transition: background 100ms ease-in-out;

    &.isCompleted {
      border-right: 2px solid var(--secondary-color);
    }

    &:focus {
      outline: none;
    }

    @media screen and (min-width: 1000px) {
      &:hover {
        background: var(--button-hover-background);
        transition: background 100ms ease-in-out;
      }

      &:hover .fe-title {
        text-decoration: underline;
        text-decoration-color: var(--secondary-color);
      }
    }

    .fe-title-wrapper {
      margin: auto 0;
      margin-right: 5px;

      @include from-xs {
        align-self: center;
      }

      @include to-lg {
        align-self: start;
      }

      .fe-title {
        margin: 0;
        line-height: 16px;
        transition: letter-spacing 400ms ease-out;
      }
    }

    .fe-description-wrapper {
      display: flex;
      align-items: center;
      flex-shrink: 0;

      @include to-xs {
        margin-top: -5px;
      }

      @include from-lg {
        flex-direction: row-reverse;
      }

      @include to-lg {
        flex-direction: column;
        align-self: start;
        align-items: flex-end;
      }

      .fe-description {
        color: var(--grey-4);
        font-size: .9em;
        margin: 0;
        text-align: right;
        line-height: 17px;

        @include to-xs {
          font-size: .8em;
          margin-top: 7px;
          line-height: 14px;
        }

        @include to-md {
          max-width: 80px;
        }

        @include from-lg {
          padding: 0 5px;
        }
      }

      .fe-badge {
        @include to-lg {
          margin-top: 3px;
          margin-left: 0;
        }
      }
    }
  }
}
