.fe-schedule-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 20px;

  @include to-lg {
    width: 100%;
    margin: 10px 0;
  }

  tbody {
    display: flex;

    tr {
      display: flex;
      flex-direction: column;

      &:not(:last-of-type) {
        border-right: 1px solid var(--grey-1);
      }

      &:first-of-type {
        @include from-xs {
          width: 75px;
          flex-shrink: 0;
        }

        @include to-xs {
          width: 50px;
          flex-shrink: 0;
        }
      }

      &:not(:first-of-type) {
        width: 100%;
      }

      th {
        min-height: 37px;
        border-bottom: 1px solid var(--grey-1);

        @include to-md {
          font-size: 0.8em;
        }
      }

      th,
      td {
        height: 25px;
        overflow: hidden;
        padding: 12px;

        @include to-xs {
          padding: 8px;
        }

        @include to-tiny {
          padding: 6px;
        }
      }

      td {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        @include from-md {
          min-height: 80px;
        }

        @include to-md {
          min-height: 61px;
        }

        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          border-bottom: 1px solid rgba(var(--grey-1-rgb), 0.5);
        }

        &:first-child {
          width: 50px;
        }

        .hour-subject,
        .hour-teacher,
        .hour-room {
          @include to-lg {
            font-size: 0.8rem;
          }

          @include to-xs {
            font-size: 0.65rem;
          }
        }

        .hour-subject {
          color: var(--tertiary-color);
          font-weight: 600;

          @include from-lg {
            min-width: 50px;
          }

          @include to-lg {
            white-space: nowrap;
          }
        }

        .hour-room {
          color: var(--text-color-1);
        }

        .hour-teacher {
          color: var(--grey-3);
        }

        .hour-room,
        .hour-teacher {
          font-weight: 300;

          @include to-md {
            line-height: 14px;
          }

          @include from-xs {
            font-size: 0.8rem;
          }
        }
      }

      .schedule-header {
        color: var(--grey-3);
        font-weight: 400;
      }

      .schedule-time {
        text-align: left;
        color: var(--text-color-1);

        @include to-xs {
          font-size: 0.7em;
        }
      }
    }
  }
}
