.fe-schedule-table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 20px;

  @include to-xs {
    width: 100%;
    margin: 10px 0;
  }

  tbody {
    display: flex;
    font-size: .9em;

    tr {
      display: flex;
      flex-direction: column;

      &:not(:last-of-type) {
        border-right: 1px solid var(--grey-1);
      }

      &:first-of-type {
        min-width: 44px;
      }

      &:not(.first-of-type) {
        width: calc(100% / 6);
      }

      th {
        min-height: 37px;
        border-bottom: 1px solid var(--grey-1);

        @include to-md {
          font-size: .8em;
        }
      }

      th, td {
        height: 25px;
        overflow: hidden;
        padding: 12px;

        @include to-xs {
          padding: 8px;
        }

        @include to-tiny {
          padding: 6px;
        }
      }

      td {
        display: flex;
        flex-direction: column;
        min-height: 61px;
        justify-content: center;
        text-align: center;

        &:nth-child(2), &:nth-child(3), &:nth-child(4) {
          border-bottom: 1px solid rgba(var(--grey-1-rgb), .5);
        }

        &:first-child {
          width: 50px;
        }

        .hour-subject,
        .hour-teacher,
        .hour-room {
        }

        .hour-room {
          font-size: .8em;

          @include to-xs {
            font-size: .7em;
          }
        }

        .hour-subject {
          color: var(--tertiary-color);
          font-family: Nunito-Bold, sans-serif;

          @include from-sm {
            min-width: 50px;
          }

          @include to-sm {
            white-space: nowrap;
            font-size: .7rem;
          }
        }

        .hour-room {
          color: var(--text-color-1)
        }

        .hour-teacher {
          font-size: .8rem;
          font-family: Nunito-Light, sans-serif;
          color: var(--grey-3);

          @include to-md {
            font-size: .6rem;
          }
        }

        .hour-room,
        .hour-teacher {
          line-height: 14px;
        }
      }

      .schedule-header {
        color: var(--grey-3);
      }

      .schedule-header,
      .schedule-time {
      }

      .schedule-time {
        text-align: left;
        color: var(--text-color-1);

        @include from-xs {
          min-width: 50px;
        }

        @include to-xs {
          font-size: .7em;
        }
      }
    }
  }
}
