/* TEXT-BUTTON */
.fe-text-button {
  background: transparent;
  color: var(--tertiary-color);
  font-family: Nunito-Light, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 12px 20px 10px;

  //.unselectable
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  outline: none;
  border: none;
  border-bottom: 1px solid rgba(var(--tertiary-color-rgb), .3);
  border-top-left-radius: var(--button-radius);
  border-top-right-radius: var(--button-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  transition: transform 100ms ease, background 300ms ease-in-out;

  &:hover:not(:disabled) {
    background: var(--button-hover-background);
    cursor: pointer;
    transition: transform 100ms ease, background 300ms ease-out;
  }

  &.secondary {
    padding: 4px 10px 2px;
    font-size: .8em;

    @include to-xs {
      font-size: .7em;
    }
  }

  &.show-more {
    background: transparent;
    color: var(--grey-4);
    border-color: rgba(var(--grey-4-rgb), .3);
    margin-left: 10px;

    &:hover {
      background: rgba(var(--grey-4-rgb), .1);
      color: var(--grey-4);
      transition: transform 100ms ease, background-color 200ms ease-in-out;
    }
  }

  &:disabled {
    span {
      color: rgba(var(--grey-4-rgb), .5);
    }
  }

  &:active:not(:disabled) {
    transform: translateY(1px);
  }

}

// Button state
mat-card .fe-text-button {
  position: relative;

  mat-spinner.fe-loading-spinner.button-spinner {
    margin: 0 !important;
    $size: 18px;
    width: $size !important;
    height: $size !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    svg {
      width: $size !important;
      height: $size !important;
    }
  }

  .hidden {
    opacity: 0;
  }
}
