.fe-text-button {
  background: transparent;
  color: var(--tertiary-color);
  text-decoration: none;
  letter-spacing: 1px;
  padding: 8px 12px 6px;

  //.unselectable
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  outline: none;
  border: none;
  border-bottom: 1px solid rgba(var(--tertiary-color-rgb), 0.3);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  transition: background 100ms ease-in-out;

  @include from-xs {
    font-size: 0.9rem;
  }

  @include to-xs {
    font-size: 0.8rem;
  }

  &:hover:not(:disabled) {
    background: var(--button-hover-background);
    cursor: pointer;
  }

  &.secondary {
    padding: 4px 10px 2px;
    font-size: 0.9em;

    @include to-xs {
      font-size: 0.8em;
    }
  }

  &.show-more {
    background: transparent;
    color: var(--grey-4);
    border-color: rgba(var(--grey-4-rgb), 0.3);
    margin-left: 10px;

    &:hover {
      background: rgba(var(--grey-4-rgb), 0.1);
      color: var(--grey-4);
    }

    .mat-ripple-element {
      background-color: rgba(var(--grey-4-rgb), 0.15);
    }
  }

  &:disabled {
    border-color: var(--grey-2);

    span,
    .drop-icon {
      color: rgba(var(--grey-4-rgb), 0.5);
    }
  }
}

.fe-state-button {
  position: relative;

  .label {
    display: flex;

    span {
      align-self: center;
    }
  }

  .hidden {
    opacity: 0;
  }

  mat-spinner.mat-spinner {
    margin: 0 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
