mat-card.fia-card.fia-user-progress {
  overflow: hidden;
  padding-bottom: 20px;

  .fia-view-wrapper {
    padding-top: 10px;

    .fia-progress-lesson, .fia-progress-week {
      .label {
        font-size: 1.1em;
        margin-top: 8px;
        margin-bottom: 8px;

        @include to-xs {
          font-size: .9em;
          margin-bottom: 3px;
        }
      }
    }

    .progress-bar {
      height: var(--progressbar-height);

      .mat-progress-bar-buffer  {
        background: var(--background-secondary);
      }
    }

    .fia-progress-lesson {
      margin-bottom: 20px;

      .progress-bar {
        .mat-progress-bar-fill::after {
          background-color: var(--secondary-color) !important;
        }
      }
    }

    .fia-progress-week {
      margin-bottom: 30px;

      .progress-bar {
        .mat-progress-bar-fill::after {
          background-color: var(--primary-color) !important;
        }
      }
    }

    .fia-loading-spinner {
      margin-top: 35px;
      margin-bottom: 4px;
    }

  }

}

