@import 'src/theme/styles';
@import 'src/theme/mixins';

$item-background: rgba(var(--tertiary-color-rgb), .3);
$item-hover-background: rgba(var(--tertiary-color-rgb), .5);
$item-selected-background: rgba(var(--secondary-color-rgb), .3);

$collector-width: 7px;

#game {
  margin-top: 20px;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pair_items {
    display: flex;
    flex-direction: column;
    padding: 10px;

    &.left, &.right {
      display: flex;
    }
  }

  hr {
    background: var(--grey-1);
    height: 1px;
    border: none;
    margin: 20px 0;
  }

  h2 {
    color: var(--grey-2);
    text-align: center;
    letter-spacing: 2px;
    font-family: Nunito-Light, sans-serif;
  }

  .answer-indicator {
    flex-shrink: 0;

    @include from-md {
      width: 100px;
    }

    @include to-md {
      width: 50px;
    }
  }

  .item {
    max-width: 250px;
    padding: 10px;
    border: none;
    background: $item-background;
    cursor: pointer;
    outline: none;
    position: relative;
    color: var(--text-color-1);

    @include to-xs {
      font-size: .8em;
      padding: 8px;
    }

    &:disabled {
      color: var(--text-color-1);
    }

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    &:not(:disabled) {
      &:hover, &:active {
        background: $item-hover-background;
        .left-connector, .right-connector {
          background: $item-hover-background;
        }
      }
    }

    &.selected {
      background: $item-selected-background !important;
      .left-connector, .right-connector {
        background: $item-selected-background !important;
      }
    }

    .left-connector {
      position: absolute;
      top: 30%;
      right: -$collector-width;
      height: 20px;
      width: $collector-width;
      background: $item-background;
    }

    .right-connector {
      position: absolute;
      left: -$collector-width;
      width: $collector-width;
      background: $item-background;

      &.top-bar {
        top: 0;
        bottom: 60%;
      }

      &.bottom-bar {
        top: 60%;
        bottom: 0%;
      }
    }
  }

  .solved {
    display: inline-flex;
    flex-wrap: wrap;
    width: fit-content;
    text-align: center;
    margin: 0;
    margin-right: auto;

    .pair {
      margin: 10px;

      @include to-xs {
        max-width: 140px;
      }

      .item {
        margin: auto;
      }

      .connector {
        background: $item-background;
        height: 5px;
        width: 20px;
        margin: auto;
      }
    }
  }

  .fia-text-button {
    display: flex;
    margin: auto;
  }
}

.answer-indicator {
  svg {
    display: block;
    margin: auto;

    @include from-md {
      width: 48px;
    }

    @include to-md {
      width: 32px;
    }

    .path {
      stroke-dasharray: 1000;
      stroke-dashoffset: 0;

      &.line {
        stroke-dashoffset: 1000;

        &.first {
          animation: dash .8s .1s ease-in-out forwards;
          -webkit-animation: dash .8s .1s ease-in-out forwards;
        }

        &.second {
          animation: dash .8s .4s ease-in-out forwards;
          -webkit-animation: dash .8s .4s ease-in-out forwards;
        }
      }
      &.check {
        stroke-dashoffset: -100;
        -webkit-animation: dash-check .9s .35s ease-in-out forwards;
        animation: dash-check .9s .35s ease-in-out forwards;
      }
    }

    @-webkit-keyframes dash {
      0% {
        stroke-dashoffset: 1000;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }

    @keyframes dash {
      0% {
        stroke-dashoffset: 1000;
      }
      100% {
        stroke-dashoffset: 0;
      }
    }

    @-webkit-keyframes dash-check {
      0% {
        stroke-dashoffset: -100;
      }
      100% {
        stroke-dashoffset: 900;
      }
    }

    @keyframes dash-check {
      0% {
        stroke-dashoffset: -100;
      }
      100% {
        stroke-dashoffset: 900;
      }
    }
  }

  .correct {
    stroke: #73AF55;

    .circle {
      -webkit-animation: dash 1.5s normal;
      animation: dash 1.5s normal;
    }
  }

  .wrong{
    stroke: #D06079;

    .circle {
      -webkit-animation: dash 3s normal;
      animation: dash 3s normal;
    }
  }
}
