@import 'src/theme/styles';
@import 'src/theme/mixins';

$item-background: rgba(var(--tertiary-color-rgb), .3);
$item-hover-background: rgba(var(--tertiary-color-rgb), .5);
$item-selected-background: rgba(var(--secondary-color-rgb), .3);

$connector-width: 7px;

#game {
  margin-top: 20px;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pair_items {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(var(--grey-4-rgb), .2);

    &.left, &.right {
      display: flex;
    }

    &.left {
      border-right: 0;
    }

    &.right {
      border-left: 0;
    }
  }

  hr {
    background: var(--grey-1);
    height: 1px;
    border: none;
    margin: 20px 0;
  }

  h2 {
    color: var(--grey-2);
    text-align: center;
    letter-spacing: 2px;
    font-family: Nunito-Light, sans-serif;
  }

  .fia-answer-indicator {
    flex-shrink: 0;

    @include from-md {
      width: 100px;
    }

    @include to-md {
      width: 40px;
    }
  }

  .item {
    max-width: 220px;
    padding: 10px;
    border: none;
    background: $item-background;
    cursor: pointer;
    outline: none;
    position: relative;
    color: var(--text-color-1);

    @include to-xs {
      font-size: .7em;
      padding: 4px;
      max-width: 120px;
    }

    &:disabled {
      color: var(--text-color-1);
    }

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    &:not(:disabled) {
      &:hover, &:active {
        background: $item-hover-background;
        .left-connector, .right-connector {
          background: $item-hover-background;
        }
      }
    }

    &.selected {
      background: $item-selected-background !important;
      .left-connector, .right-connector {
        background: $item-selected-background !important;
      }
    }

    .left-connector {
      position: absolute;
      top: 30%;
      right: -$connector-width;
      height: 15px;
      width: $connector-width;
      background: $item-background;
    }

    .right-connector {
      position: absolute;
      left: -$connector-width;
      width: $connector-width;
      background: $item-background;

      &.top-bar {
        top: 0;
        bottom: 60%;
      }

      &.bottom-bar {
        top: 60%;
        bottom: 0%;
      }
    }
  }

  .solved {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-right: auto;

    .pair {
      margin: 10px;

      @include to-xs {
        max-width: 140px;
      }

      .item {
        margin: auto;
      }
    }
  }

  .fia-text-button {
    display: flex;
    margin: 20px auto auto;
  }

  .finish-label {
    text-align: center;
  }
}
