<div class="section-wrapper">
  <div class="label-container">
    <div class="images-container">
      <img class="question-svg" src="../../../assets/images/question.svg" alt="question-svg" />
    </div>
    <p class="title">Erklärung vom Lehrer nicht verstanden?</p>
    <p class="description">
      Du hast den Unterricht verpasst oder etwas nicht richtig verstanden? Unter dem Menüpunkt
      <a routerLink="/lehrplan">Lehrplan</a> findest du jede Schulwoche mit allen Informationen zum Wiederholen.
    </p>
  </div>
  <div class="label-container">
    <div class="images-container">
      <img class="hardware-svg" src="../../../assets/images/hardware.svg" alt="hardware-svg" />
      <img
        class="datenbankspeicher-svg"
        src="../../../assets/images/datenbankspeicher.svg"
        alt="datenbankspeicher-svg"
      />
      <img class="world-grid-svg" src="../../../assets/images/world-grid.svg" alt="world-grid.svg" />
    </div>
    <p class="title">Grundlagen der IT</p>
    <p class="description">
      Spannung und Strom, Begriffe der Informationstechnik, Zahlensysteme, PC-Technik, Aufbau und Funktionsweise von
      Stromkreisen. Statische Methoden, Datentypen und Schleifen in der Programmierung ...
    </p>
  </div>
</div>
