.fia-content {
  .fia-page-footer {
    height: fit-content;
    position: relative;
    background: var(--background-primary);
    padding: 35px 20px;

    animation-name: moveInTop;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: moveInTop;
    -webkit-animation-duration: 400ms;
    -webkit-animation-timing-function: ease-in-out;

    @include to-xs {
      padding: 20px 0 60px;
    }

    .fia-labels-wrapper {
      display: flex;
      width: 100%;
      max-width: 1080px;
      justify-content: space-between;
      z-index: 3;
      padding: 0 5px;

      @include to-xs {
        padding: 0 20px;
        height: 120px;
      }
    }

    .fia-branding {
      display: flex;
      height: fit-content;
      color: var(--text-color-1);
      align-items: center;

      .fia-icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2px;
        fill: var(--grey-2);

        svg {
          height: 32px;
        }
      }

      .unselectable {
        font-family: Nunito-Light, sans-serif;
        font-weight: 100;
        color: var(--grey-2);
        line-height: 13px;
        margin-left: 5px;
      }
    }

    .buttons {

      @include to-md {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: 30px;
        letter-spacing: 1px;

        a {
          line-height: 26px;
        }
      }

      @include to-xs {
        font-size: .7em;
      }

      .legal, .about, .feedback, .start {
        outline: none;
      }

      .footer-divider {
        margin: 0 8px;

        @include to-md {
          display: none;
        }
      }
    }
  }

}
