@import 'src/theme/styles';
@import 'src/theme/mixins';

/* Hide scrollbar for Chrome, Safari and Opera */
.fia-sidenav,
::ng-deep .fia-sidenav .mat-drawer-inner-container {
  -webkit-appearance: none;
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    display: none;
  }
}

.fia-sidenav-content {

  @include from-sm {
    margin-right: 20px;
  }

  .fia-areas-section {
    margin-bottom: 50px;

    @include to-xs {
      margin-bottom: 40px;
    }
  }
}

.fia-subjects-section,
.fia-areas-section {
  @include to-xs {
    margin-top: 20px;
  }
}

.fia-subjects-section,,
.fia-study-section,
.fia-areas-section,
.fia-my-class-section {
  //min-width: 245px;

  @include from-xs {
    margin-top: 20px;
  }

  @include to-md {
    min-width: 125px;
  }

  .section-title {
    font-size: 1em;
    font-family: Nunito-Light, sans-serif;
    padding: 8px 10px 8px 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    width: fit-content;
    border-bottom: 4px double var(--primary-color);
    text-transform: uppercase;

    @include to-xs {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  .fia-nav-item {
    color: var(--text-color-1);
    background: transparent;
    font-size: .9em;
    letter-spacing: 1px;
    height: fit-content;
    margin-left: 25px;
    margin-top: 2px;
    margin-bottom: 2px;
    width: fit-content;
    max-width: 170px;

    @include to-xs {
      font-size: .9em;
      margin-left: 15px;
      margin-right: 15px;
    }

    @media not all and (min-resolution:.001dpcm){
      @supports (-webkit-appearance:none) {
        font-weight: 400;
      }
    }

    $fia-nav-item-icon-fade-duration: color 200ms ease-in-out;

    .fia-nav-item-icon {
      margin-right: 10px;
      $size: 1.3em;
      width: $size;
      height: $size;
      color: var(--tertiary-color);
      transition: hover $fia-nav-item-icon-fade-duration;
      flex-shrink: 0;
    }

    &:hover, &:focus {

      @include from-md {
        .fia-nav-item-icon {
          color: var(--text-color-1);
          transition: $fia-nav-item-icon-fade-duration;
        }
      }
    }

    &.active-route {
      color: var(--secondary-color);

      .fia-nav-item-icon {
        color: var(--text-color-1);
      }
    }

    ::ng-deep .mat-list-item-content {
      @include to-xs {
        padding: 0 10px;
      }
    }
  }
}

.fia-sidenav-content:first-child {
  @include to-xs {
    margin-top: 30px;
  }

  @include from-xs {
    margin-top: 0;
  }
}

.fia-nav-item {

  span {
    padding: 5px 2px;

    @include from-xs {
      line-height: 16px;
    }

    @include to-xs {
      padding: 7px 2px;
      line-height: 14px;
    }
  }

  @include from-md {
    &:not(.active-route) span {
      position: relative;

      &:focus,
      &:before,
      &:after {
        content: '';
        position: absolute;
        bottom: 1px;
        left: 0; right: 0;
        height: 1px;
        background-color: var(--secondary-color);
      }
      &:before {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
      }
      &:after {
        opacity: 0;
        transform: translateY($distance/2);
        transition: transform $duration $easeOutBack, opacity $duration;
      }
    }

    &:focus,
    &:hover {
      color: var(--text-color-1);

      span {
        &:before,
        &:before,
        &:after {
          opacity: 1;
          transform: translateY(-3px);
        }
        &:before {
          transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
          transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
      }
    }
  }

}
