<div class="fia-sidenav-content">

  <div class="fia-my-class-section" *ngIf="authService.isAuthenticated">
    <p class="section-title">Meine Klasse</p>
    <mat-nav-list>
      <div class="fia-nav-item-wrapper"
         *ngFor="let navItem of myClassSection"
      >
        <a class="fia-nav-item" mat-list-item disableRipple
           *ngIf="navItem.url.startsWith('http://')"
           (click)="closeSidebar()"
           [ngClass]="{'active-route': router.url.startsWith(navItem.url)}"
           [href]="navItem.url"
           target="_blank"
        >
          <ion-icon class="fia-nav-item-icon" [icon]="navItem.icon"></ion-icon>
          <span [innerHTML]="navItem.title"></span>
        </a>
        <a class="fia-nav-item" mat-list-item disableRipple
           *ngIf="!navItem.url.startsWith('http://')"
           (click)="closeSidebar()"
           [ngClass]="{'active-route': router.url.startsWith(navItem.url)}"
           [routerLink]="'/' + navItem.url"
        >
          <ion-icon class="fia-nav-item-icon" [icon]="navItem.icon"></ion-icon>
          <span [innerHTML]="navItem.title"></span>
        </a>
      </div>
    </mat-nav-list>
  </div>

  <div class="fia-subjects-section">
    <p class="section-title">Lernfelder</p>
    <mat-nav-list>
      <a class="fia-nav-item" mat-list-item disableRipple
         *ngFor="let navItem of subjectsSection"
         [routerLink]="'/' + navItem.url"
         (click)="closeSidebar()"
         [ngClass]="{'active-route': router.url.startsWith(navItem.url)}"
      >
        <ion-icon class="fia-nav-item-icon" [icon]="navItem.icon"></ion-icon>
        <span [innerHTML]="navItem.title"></span>
      </a>
    </mat-nav-list>
  </div>

  <div class="fia-study-section">
    <p class="section-title">Studium</p>
    <mat-nav-list>
      <a class="fia-nav-item" mat-list-item disableRipple
         *ngFor="let navItem of studySection"
         [routerLink]="'/' + navItem.url"
         (click)="closeSidebar()"
         [ngClass]="{'active-route': router.url.startsWith(navItem.url)}"
         disabled
      >
        <ion-icon class="fia-nav-item-icon" [icon]="navItem.icon"></ion-icon>
        <span [innerHTML]="navItem.title"></span>
      </a>
    </mat-nav-list>
  </div>

  <div class="fia-areas-section">
    <p class="section-title">Bereiche</p>
    <mat-nav-list>
      <a class="fia-nav-item" mat-list-item disableRipple
         *ngFor="let navItem of languageSection"
         [routerLink]="'/' + navItem.url"
         (click)="closeSidebar()"
         [ngClass]="{'active-route': router.url.startsWith(navItem.url)}"
         disabled
      >
        <ion-icon class="fia-nav-item-icon" [icon]="navItem.icon"></ion-icon>
        <span [innerHTML]="navItem.title"></span>
      </a>
    </mat-nav-list>
  </div>

</div>
