@import 'src/theme/styles';
@import 'src/theme/mixins';

/* Hide scrollbar for Chrome, Safari and Opera */
.fia-sidenav,
::ng-deep .fia-sidenav .mat-drawer-inner-container {
  -webkit-appearance: none;
  scrollbar-width: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &::-webkit-scrollbar {
    display: none;
  }
}

.fia-sidenav-content {

  div:last-of-type {
    margin-bottom: 50px;

    @include to-xs {
      margin-bottom: 40px;
    }
  }
}

.fia-areas-section,
.fia-internal-section {
  @include to-xs {
    margin-top: 20px;
  }
}

.fia-subjects-section,
.fia-areas-section,
.fia-internal-section {
  //min-width: 245px;

  @include from-xs {
    margin-top: 30px;
  }

  @include to-md {
    min-width: 125px;
  }

  .section-title {
    color: white;
    font-size: 1.3em;
    font-family: Raleway-Light, sans-serif;
    padding: 8px 10px 8px 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    width: fit-content;
    border-bottom: 4px double $fia-primary-color;
    text-transform: uppercase;

    @include to-md {
      font-size: 1.2em;
    }

    @include to-xs {
      font-size: 1.1em;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  .fia-nav-item {
    color: white;
    font-size: 1em;
    letter-spacing: 1px;
    height: fit-content;
    margin-left: 25px;
    width: fit-content;
    max-width: 160px;

    @include to-xs {
      font-size: .9em;
      margin-left: 15px;
    }

    @media not all and (min-resolution:.001dpcm){
      @supports (-webkit-appearance:none) {
        font-weight: 400;
      }
    }

    .fia-nav-item-icon {
      margin-right: 10px;
      $size: 1.3em;
      width: $size;
      height: $size;
      color: $fia-third-color;
      transition: $fia-nav-item-icon-fade-duration;
      flex-shrink: 0;
    }

    &:hover, &:focus {
      background-color: $fia-dark-background-color;

      @include from-md {
        .fia-nav-item-icon {
          color: white;
          transition: $fia-nav-item-icon-fade-duration;
        }
      }
    }

    &.active-route {
      color: $fia-secondary-color;

      .fia-nav-item-icon {
        color: white;
      }
    }
  }
}

.fia-subjects-section {
  @include to-xs {
    margin-top: 30px;
  }

  @include from-xs {
    margin-top: 55px;
  }
}

.fia-nav-item {

  span {
    line-height: 14px;
    padding: 8px 2px;
  }

  @include from-md {
    &:not(.active-route) span {
      position: relative;

      &:focus,
      &:before,
      &:after {
        content: '';
        position: absolute;
        bottom: 1px;
        left: 0; right: 0;
        height: 1px;
        background-color: $fia-secondary-color;
      }
      &:before {
        opacity: 0;
        transform: translateY(- $distance);
        transition: transform 0s $easeOutBack, opacity 0s;
      }
      &:after {
        opacity: 0;
        transform: translateY($distance/2);
        transition: transform $duration $easeOutBack, opacity $duration;
      }
    }

    &:focus,
    &:hover {
      color: black;

      span {
        &:before,
        &:before,
        &:after {
          opacity: 1;
          transform: translateY(-3px);
        }
        &:before {
          transition: transform $duration $easeOutBack, opacity $duration;
        }
        &:after {
          transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
        }
      }
    }
  }

}
