<div class="fia-sidenav-content">
    <div class="fia-subjects-section">
    <p class="section-title">Schulfächer</p>
    <mat-nav-list>
      <a class="fia-nav-item" mat-list-item disableRipple
         *ngFor="let nav of subjectsSection"
         [routerLink]="'/' + nav.url"
         (click)="closeSidebar()"
         [ngClass]="{'active-route': router.url.startsWith(nav.url)}"
      >
        <span [innerHTML]="nav.title"></span>
      </a>
    </mat-nav-list>
  </div>

  <div class="fia-areas-section">
    <p class="section-title">Theorie</p>
    <mat-nav-list>
      <a class="fia-nav-item" mat-list-item disableRipple
         *ngFor="let nav of areasSection"
         [routerLink]="'/' + nav.url"
         (click)="closeSidebar()"
         [ngClass]="{'active-route': router.url.startsWith(nav.url)}"
      >
        <span [innerHTML]="nav.title"></span>
      </a>
    </mat-nav-list>
  </div>

  <div class="fia-internal-section" *ngIf="authService.isAuthenticated">
    <p class="section-title">Internes</p>
    <mat-nav-list>
      <a class="fia-nav-item" mat-list-item disableRipple
         *ngFor="let nav of internalSection"
         [routerLink]="'/' + nav.url"
         (click)="closeSidebar()"
         [ngClass]="{'active-route': router.url.startsWith(nav.url)}"
      >
        <span [innerHTML]="nav.title"></span>
      </a>
    </mat-nav-list>
  </div>
</div>
