@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-post-item {
  overflow: auto;

  .fia-text-button {
    padding-top: 4px;
    height: fit-content;
    align-self: center;

    &.is-open {
      color: var(--text-color-2);
      border-color: rgba( var(--grey-1-rgb), .6);
      margin-bottom: 20px;
    }
  }

  .post-title {
    font-size: 1.5em;
    font-weight: 600;
    font-family: Nunito-Light, sans-serif;
    margin-top: 10px;

    @include to-xs {
      font-size: 1.3em;
    }
  }

  .post-subtitle {
    font-size: 1.3em;
    font-weight: 600;
    font-family: Nunito-Light, sans-serif;
    letter-spacing: .5px;
    margin-top: 20px;

    @include to-xs {
      font-size: 1.1em;
    }
  }

  .post-text,
  .post-hint,
  .post-list,
  .post-table {
  }

  .post-text {
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 22px;

    ::ng-deep code {
      background: var(--background-secondary);
      padding: 2px 5px;
      border-radius: 6px;
    }
  }

  .post-hint {
    background: var(--background-secondary);
    padding: 15px;
    margin: 30px 0;
    border-left: 2px solid var(--primary-color);
    border-top-right-radius: var(--button-radius);
    border-bottom-right-radius: var(--button-radius);
  }

  hr {
    border: none;
    height: 1px;
    width: 100%;
    margin-block-start: 2.5em;
    margin-block-end: 2em;
  }

  .post-list-ordered,
  .post-list {
  }

  .post-list-ordered {
    counter-reset: ordered-list-counter;
    list-style: none;
    padding-left: 0;
    margin-top: 20px;

    li {
      margin-left: 15px;
      counter-increment: ordered-list-counter;
      display: flex;
      align-items: center;
    }

    li::before {
      content: counter(ordered-list-counter);
      color: var(--secondary-color);
      --size: 32px;
      left: calc(-1 * var(--size) - 10px);
      line-height: calc(var(--size) - 1px);
      width: var(--size);
      height: var(--size);
      //top: 0;
      background: var(--background-secondary);
      border-radius: 50%;
      text-align: center;
      flex-shrink: 0;
      margin-right: 10px;
    }
  }

  .post-list {
    padding-inline-start: 30px;
  }

  .post-ul-content {
    margin-left: -28px;
  }

  .post-ol-list p,
  .post-ul-list p {
    margin: 0;
  }

  .post-ol-list:not(:last-of-type),
  .post-ul-list:not(:last-of-type) {
    margin-bottom: 6px;
  }

  .post-ol-sublist,
  .post-ul-sublist {
    padding-inline-start: 0;
    padding-top: 3px;

    li {
      display: flex;
      list-style-type: none;

      &::before {
        color: var(--text-color-1);
        font-size: 1em;
        content: "→";
        margin-right: 5px;
      }
    }
  }

  .post-image-wrapper {
    margin: 10px 0;
    width: 100%;

    .post-image {
      border-radius: var(--border-radius);
      max-width: 100%;
    }

    @include from-sm {
      .small {
        max-width: 40%;
      }

      .medium {
        max-width: 60%;
      }

      .large {
        max-width: 80%;
      }
    }

    .fia-loading-spinner {
      margin-left: 50px !important;
    }
  }

  .post-table-title {
  }
  .post-table {
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 20px;
    margin-bottom: 20px;

    .table-row {
      color: var(--text-color-1);

      th {
        font-family: Nunito-ExtraBold, sans-serif;
        background: var(--background-secondary);
      }

      th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid var(--grey-1);
      }

      .left { text-align: left; }
      .middle { text-align: center; }
      .right { text-align: right; }
    }
  }

  .post-table-group {
    display: inline-flex;
    flex-wrap: wrap;

    > app-post-element {
      margin: 6px;

      .post-table {
        margin: 0;
      }
    }
  }

  .post-code {
    code {
      padding: 20px;
      font-size: .9em;

      @include to-xs {
        font-size: .8em;
      }
    }
  }

}

.fia-post-item.code {

}
