@import 'src/theme/styles';
@import 'src/theme/mixins';

// ngx-highlightjs styling - Code Highlighting
@import '~highlight.js/styles/github.css';

.fia-post-item {
  color: white;
  overflow: auto;

  .post-title {
    font-size: 1.6em;
    margin-top: 10px;
  }

  .post-subtitle {
    font-size: 1.3em;
    margin: 20px 0;
  }

  .post-text {
    font-size: 1.1em;
    margin-top: 12px;
    margin-bottom: 12px;
    line-height: 22px;
  }

  .post-hint {
    background: $fia-dark-background-color;
    color: white !important;
    padding: 15px;
    margin: 30px 0;
    border-left: 4px solid $fia-primary-color;
    border-top-right-radius: $fia-border-radius;
    border-bottom-right-radius: $fia-border-radius;
  }

  hr {
    border: none;
    height: 1px;
    margin-block-start: 2.5em;
    margin-block-end: 2em;
  }

  .post-list {
  }

  .post-list-ordered {
    counter-reset: ordered-list-counter;
    list-style: none;
    padding-left: 0;
    margin-top: 20px;

    li {
      margin-left: 15px;
      counter-increment: ordered-list-counter;
      display: flex;
      align-items: center;
    }

    li::before {
      content: counter(ordered-list-counter);
      color: $fia-secondary-color;
      font-size: 1.1em;
      --size: 32px;
      left: calc(-1 * var(--size) - 10px);
      line-height: calc(var(--size) - 1px);
      width: var(--size);
      height: var(--size);
      //top: 0;
      background: $fia-dark-background-color;
      border-radius: 50%;
      text-align: center;
      flex-shrink: 0;
      margin-right: 10px;
    }
  }

  .post-list {
    padding-inline-start: 30px;
    font-size: 1.1em;
  }

  .post-ul-content {
    margin-left: -28px;
  }

  .post-ol-list p,
  .post-ul-list p {
    margin-bottom: 0;
  }

  .post-ol-list:not(:last-of-type),
  .post-ul-list:not(:last-of-type) {
    margin-bottom: 6px;
  }

  .post-ol-sublist,
  .post-ul-sublist {
    padding-inline-start: 18px;
  }

  .post-image-wrapper {
    margin: 10px 0;

    .post-image {
      border-radius: $fia-border-radius;
      max-width: 100%;
    }
  }


  .post-table-title {
    font-size: 1.1em;
  }
  .post-table {
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 20px;
    margin-bottom: 20px;

    .table-row {

      th {
        font-family: MavenPro-Bold, sans-serif;
        background: $fia-dark-background-color;
      }

      th, td {
        text-align: left;
        padding: 8px;
        border: 1px solid $fia-grey-1;
      }
    }
  }

  .post-code {
    code {
      padding: 20px;
      color: white;
      background: black;

      @include to-xs {
        font-size: .8em;
      }
    }
  }

}

.fia-post-item.code {
  @include to-xs {
    margin-left: -20px;
    margin-right: -20px;
  }
}
