<mat-card class="fe-card news-card">
  <div class="fe-card-header">
    <p class="fe-card-title">Ankündigungen</p>
    <a class="fe-text-button secondary show-more" routerLink="/mitteilungen" *ngIf="news && !allNewsLength">
      <span>Mitteilungen</span>
    </a>
  </div>
  <mat-card-content class="fe-view-wrapper">
    <div class="fe-news-container">
      <fe-loading-spinner *ngIf="news === undefined"></fe-loading-spinner>
      <div class="fe-news-item" *ngFor="let post of news">
        <div class="fe-news-header">
          <p class="date">{{post.date | date:'dd.MM.yyyy'}}</p>
          <p class="title">{{post.title}}</p>
        </div>
        <a class="fe-text-button secondary" [routerLink]="'/mitteilungen/' + post.url">
          <span>Lesen</span>
        </a>
      </div>
      <fe-pagination-bar *ngIf="news && allNewsLength" [totalItems]="allNewsLength" [currentPage]="currentPage" (changePage)="loadPage($event)"></fe-pagination-bar>
    </div>
  </mat-card-content>
</mat-card>
