<div class="fia-page dashboard">

  <app-user-progress-card [user]="user" [dashboard]="dataService.dashboard"></app-user-progress-card>
  <app-news-card *ngIf="this.dataService.dashboard?.schoolNews" [news]="[this.dataService.dashboard.schoolNews[0]]" [onlyLastOne]="true"></app-news-card>
  <app-next-exams-card [nextExams]="dataService.dashboard?.nextExams"></app-next-exams-card>

  <mat-card class="fia-card fia-schedule">
    <p class="fia-card-title">Stundenplan</p>
    <p class="fia-card-description">{{schedule.weekBegin | date:'dd.MM.yyyy'}} bis {{schedule.weekEnd | date:'dd.MM.yyyy'}}</p>
    <mat-card-content class="fia-view-wrapper">
      <app-schedule></app-schedule>
    </mat-card-content>
  </mat-card>

  <app-school-week-card *ngIf="dataService.schoolWeek !== undefined" [week]="dataService.schoolWeek" [isDashboardPage]="true"></app-school-week-card>
  <div class="spinner-wrapper" *ngIf="dataService.schoolWeek === undefined">
    <mat-spinner class="fia-loading-spinner"></mat-spinner>
  </div>

</div>
