@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-card {
  @include to-xs {
    margin-bottom: 20px;
  }
}

.fia-card:not(:last-of-type) {
  margin-bottom: 20px;
}

.fia-view-wrapper {
  padding-top: 10px;
}

.fia-user-progress {
  overflow: hidden;
  padding-bottom: 20px;

  .fia-view-wrapper {
    .label {
      font-size: 1.2em;
      margin-bottom: 8px;

      @include to-xs {
        font-size: 1.1em;
        margin-bottom: 3px;
      }
    }

    .progress-bar {
      height: 6px;
      ::ng-deep .mat-progress-bar-buffer  {
        background: $fia-dark-background-color;
      }
    }

    .fia-progress-lesson {
      margin-bottom: 20px;

      .progress-bar {
        ::ng-deep .mat-progress-bar-fill::after {
          background: $fia-secondary-color;
        }
      }
    }

    .fia-progress-week {
      margin-bottom: 30px;

      .progress-bar {
        ::ng-deep .mat-progress-bar-fill::after {
          background: $fia-primary-color;
        }
      }
    }

    .fia-next-lesson {
      //::ng-deep .fia-post-link {
      //  background: $fia-dark-background-color;
      //}
    }

  }

}
