<div class="fia-page">
  <mat-card class="fia-card fia-next-exams">
    <p class="fia-card-title">Anstehende Klausuren</p>
    <mat-card-content class="fia-view-wrapper">
      <p>Keine anstehenden Klausuren</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="fia-card fia-user-progress">
    <p class="fia-card-title">Fortschritt</p>
    <mat-card-content class="fia-view-wrapper">

      <div class="fia-progress-lesson">
        <p class="label">Lektion 1 von 2</p>
        <mat-progress-bar class="progress-bar" value="20"></mat-progress-bar>
      </div>

      <div class="fia-progress-week">
        <p class="label">Woche 1 von 2</p>
        <mat-progress-bar class="progress-bar" value="30"></mat-progress-bar>
      </div>

      <app-post-link class="fia-next-lesson" [post]="examplePost"></app-post-link>

    </mat-card-content>
  </mat-card>

  <mat-card class="fia-card fia-school-weeks">
    <p class="fia-card-title">Schulwoche #17</p>
    <mat-card-content class="fia-view-wrapper">


    </mat-card-content>
  </mat-card>
</div>
