@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-card {
  @include to-xs {
    margin-bottom: 20px;
  }
}

.fia-card:not(:last-of-type) {
  margin-bottom: 20px;
}

.fia-view-wrapper {
  padding-top: 10px;
}

.fia-user-progress {
  overflow: hidden;
  padding-bottom: 20px;

  .fia-view-wrapper {
    .label {
      font-size: 1.2em;
      margin-bottom: 8px;

      @include to-xs {
        font-size: 1.1em;
        margin-bottom: 3px;
      }
    }

    .progress-bar {
      height: 6px;
      ::ng-deep .mat-progress-bar-buffer  {
        background: $fia-dark-background-color;
      }
    }

    .fia-progress-lesson {
      margin-bottom: 20px;

      .progress-bar {
        ::ng-deep .mat-progress-bar-fill::after {
          background-color: $fia-secondary-color !important;
        }
      }
    }

    .fia-progress-week {
      margin-bottom: 30px;

      .progress-bar {
        ::ng-deep .mat-progress-bar-fill::after {
          background-color: $fia-primary-color !important;
        }
      }
    }

    .fia-next-lesson {
      //::ng-deep .fia-post-link {
      //  background: $fia-dark-background-color;
      //}
    }

  }

}

.fia-schedule {
  .fia-view-wrapper {
    display: flex;

    @include to-sm {
      flex-direction: column;
    }

    .fia-substitions-schedule {
      display: flex;
      flex-direction: column;
      width: 100%;

      @include from-sm {
        min-width: 150px;
        border-left: 1px solid $fia-grey-4;
        padding: 8px;
        margin-left: 20px;
      }

      .fia-substitution-label, .fia-no-data {
        padding: 0 10px;

        @include from-sm {
          margin-left: 12px;
        }
      }

      .fia-substitution-label {
        color: white;
        padding-bottom: 8px;
        border-bottom: 1px solid $fia-grey-1;

        @include to-sm {
          margin-top: 20px;
        }
      }

      .fia-no-data {
        margin-top: 10px;
        font-size: .9em;
      }
    }
  }
}

::ng-deep .light-theme {
  .fia-schedule-time, .fia-hour-subject, .fia-substitution-label {
    color: black !important;
  }
  .fia-substitution-label {
    border-color: $fia-grey-4 !important;
  }
}
