<div class="fe-page dashboard">

  <fe-schedule-card [schedule]="schedule"></fe-schedule-card>
  <fe-next-exams-card [nextExams]="dataService.dashboard?.nextExams"></fe-next-exams-card>
  <fe-news-card *ngIf="this.dataService.dashboard?.schoolNews" [news]="[this.dataService.dashboard.schoolNews[0]]" [onlyLastOne]="true"></fe-news-card>
  <fe-user-progress-card [user]="user" [dashboard]="dataService.dashboard"></fe-user-progress-card>

  <fe-school-week-card *ngIf="dataService.schoolWeek !== undefined" [week]="dataService.schoolWeek" [isDashboardPage]="true"></fe-school-week-card>
  <div class="spinner-wrapper" *ngIf="dataService.schoolWeek === undefined">
    <mat-spinner class="fe-loading-spinner"></mat-spinner>
  </div>

</div>
