<fe-loading-spinner *ngIf="!post; else content"></fe-loading-spinner>

<ng-template #content>
  <fe-card class="elements" title="Elemente">
    <div class="elements-bar">
      <button class="fe-button" matRipple>Text</button>
      <button class="fe-button" matRipple>Title</button>
      <button class="fe-button" matRipple>Subtitle</button>
      <button class="fe-button" matRipple>Hint</button>
      <button class="fe-button" matRipple>Image</button>
      <button class="fe-button" matRipple>Line</button>
      <button class="fe-button" matRipple>List</button>
      <button class="fe-button" matRipple>Table</button>
      <button class="fe-button" matRipple>Code</button>
      <button class="fe-button" matRipple>File</button>
    </div>
  </fe-card>

  <fe-card [title]="post.title" [date]="post.lessonDate" [type]="post.type" [lastUpdate]="post.lastUpdate">
    <fe-post-element
      *ngFor="let element of post.elements"
      [element]="element"
      [contentEditable]="true"
    ></fe-post-element>
  </fe-card>

  <fe-card class="options align-right">
    <button class="fe-button" matRipple>Artikel Löschen</button>
    <button class="fe-button" matRipple>Speichern</button>
  </fe-card>
</ng-template>
