@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-spinner-wrapper {
  max-width: 1070px;

  .fia-loading-spinner {
    margin: 110px auto 130px !important;
  }
}

.fia-card-title {
  @include from-xs {
    margin-bottom: 5px;
  }

  @include to-xs {
    margin-bottom: 0;
  }
}
