@import 'src/theme/styles';
@import 'src/theme/mixins';

.fia-card {
  .fia-card-title {
  }
  .fia-view-wrapper {
    margin-top: 40px;
    font-size: 1.2em;

    @include to-xs {
      font-size: 1em;
    }

    .fia-start-change-btn,
    .fia-discard-change-btn,
    .fia-save-change-btn {
      width: 100px;
      border: none;
      outline: none;
      border-radius: 20px;
      padding: 5px 10px;
      margin-left: 20px;

      font-size: .6em;
      font-family: Nunito-ExtraBold, sans-serif;
      text-transform: uppercase;
      letter-spacing: 1px;

      &:hover:not([disabled]) {
        cursor: pointer;
      }
    }

    .fia-start-change-btn {
      background: $fia-grey-3;

      &:hover:not([disabled]) {
        background: $fia-secondary-color;
      }
    }

    .fia-discard-change-btn {
      background: $fia-third-color;
    }

    .fia-save-change-btn {
      background: $fia-primary-color;

      color: white;
    }

    .fia-input {

      @include from-sm {
        width: 300px;
      }

      @include from-xs {
        width: 250px;
      }

      .mat-input-element {
        color: white;

        &:disabled {
          opacity: 1;
        }
      }
    }

    .password input {
      width: 70px;
    }

    .password input ::placeholder {
      color: red;
    }

    .theme .fia-input {
      line-height: normal;

      ::ng-deep {
        .mat-form-field-infix {
          display: flex;
        }
      }
    }

    .fia-input ::ng-deep {
      .mat-form-field-outline {
        color: $fia-grey-1;
        opacity: 1;
      }

      .mat-form-field-label {
        color: $fia-grey-1;
      }

      .mat-form-field-underline {
        background-image: linear-gradient(to right, rgba($fia-grey-1, 0.25) 0%, rgba($fia-grey-1, 0.25) 0%);
      }
    }

    hr {
      height: 1px;
      border: none;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .fia-edit-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;

      .fia-edit-user-btn {
        font-size: .8em;
        width: fit-content;

        &:not(:first-of-type) {
          margin-top: 15px;
        }
      }
    }
  }
}

